<h2><?= $this -> translate( 'resultados de la busqueda' ) ?></h2>
<? if ( isset( $this -> frmSaveSearch ) ): ?>
    <?= $this -> frmSaveSearch ; ?>
<? endif ; ?>
<div class="device-horizontal-list">
    
    <?
    /**/
    $cont = 0;
    /**/
    ?>
    <?php foreach ( $this -> productos as $producto ): ?>

        <?$cont++;?>
            <? if(($cont % 4) == 0): ?>
               <div class="last-div">
            <?else:?>
                <div>
            <?endif;?>
                <a href="
            <?=

            $this -> url( array(
                'slug' => $producto -> slug ) , 'slugEquipment' , true )

            ?>
               " title="<?= $producto -> slug ?>">
                   <?php

                   $url = (is_null( $producto -> image )) ?
                           '/media/catalog/product/avatar/no_image.png' :
                           '/media/catalog/product/avatar/' . $producto -> image

                   ?>
                <img src="<?= $url ?>" 
                     alt="<?= $producto -> equipo ?>"
                     >
            </a>

            <span class="manufacturer">
                <? 
                $fabricanteModelo = "" ;

                $fabricanteModelo = $producto->fabricante . " " . $producto->modelo ;
                ?>
                <? $fabricante = (strlen($fabricanteModelo) > 20) ?
                        substr($fabricanteModelo, 0, 20) . '..' : 
                        $fabricanteModelo?>
                <?= $fabricante ?> 
            </span>
            <span class="name">
                <?php $nombre = (strlen($producto->equipo) > 20) ?
                        substr($producto->equipo, 0, 20) . '..' : 
                        $producto->equipo ?>
                <?= $nombre ?> 
            </span>
            <a href="
            <?=

            $this -> url( array(
                'slug' => $producto -> slug ) , 'slugEquipment' , true )

            ?>
               " title="<?= $producto -> slug ?>">
                <span>
                    <?= $this -> translate( 'View details' ) ?>
                </span>
            </a>
        </div>

    <?php endforeach ; ?>
</div>
<?=

$this -> paginationControl(
        $this -> productos , 'Sliding' , 'busqueda/_pag.phtml'
) ;

?>
