<h2> <?= $this->translate('cuotas de la operacion') ?>:</h2>
<?= $this->formCuotasPago ?>
<table border="1" class="listado">
    <thead>
        <tr>
            <th><?= $this->translate('numero cuota') ?></th>
            <th><?= $this->translate('pago') ?></th>
            <th><?= $this->translate('fecha de pago') ?></th>
            <th><?= $this->translate('fecha limite de pago') ?></th>
            <th><?= $this->translate('mora') ?></th>
            <th><?= $this->translate('acciones') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->cuotasoperacion as $cuotaoperacion): ?>

            <?php $id = $cuotaoperacion->id; ?>
            <tr>
                <td>
                    <?= $this->escape($cuotaoperacion->nrocuota) ?>
                </td>
                <td>
                    <?= $this->escape($cuotaoperacion->pago) ?>
                </td>
                <td>
                    <?= $this->escape($cuotaoperacion->fpagocuota) ?>
                </td>
                <td>
                    <?= $this->escape($cuotaoperacion->fechalimite) ?>
                </td>
                <td>
                    <?= $this->escape($cuotaoperacion->mora) ?>
                </td>
                <td>
                    <?=
                    $this->ajaxLink(
                            "<span class ='imagen-activar'> </span>", "/admin/cuotaspago/pay/format/json", array(
                        'dataType' => 'json',
                        'beforeSend' =>
                        'myBeforeSendCallbackJsFunc();',
                        'complete' =>
                        'myCompleteCallbackJsFunc(data);',
                        'method' => 'POST'), array('id' => $cuotaoperacion->id)
                    );
                    ?>

                    <?php
                   $link = $this->url(
                            array(
                                'module' => 'admin',
                                'controller' => 'cuotaspago',
                                'action' => 'editar',
                                'id' => $cuotaoperacion->id
                                ))
                    ?>
                    <a href="<?= $link ?>" 
                       title="<?= $this->translate('editar cuota') ?>" >
                        <span class ="imagen-edit"
                              title="<?= $this->translate('editar cuota') ?>"
                              >
                        </span>
                    </a>                   
                </td>

            </tr>
<?php endforeach; ?>
    </tbody>
</table>
<br />
