<h2>
    <?= $this->translate( 'registrar nueva forma de pago' ) ?>
</h2>
<p>
    <span>
        <?= $this->translate( 'datos del equipo' ) ?>
    </span>
</p>
<p>
    <span class ="campo-ficha">
        <?= $this->translate( 'nombre del equipo' ) ?>
    </span>
    <span class ="field-equipo">
        <?= $this->equipo->nombre ?>
    </span>
</p>
<p>
    <span class ="campo-ficha">
        <?= $this->translate( 'modelo' ) ?>
    </span>
    <span class =field-equipo">
        <?= $this->equipo->modelo ?>
    </span>
</p>
<p>
    <span class ="campo-ficha">
        <?= $this->translate( 'fabricante' ) ?>
    </span>
    <span class ="field-equipo">
        <?= $this->equipo->fabricante ?>
    </span>
</p>
<p>
    <span class ="campo-ficha">
        <?= $this->translate( 'categoria' ) ?>
    </span>
    <span class ="field-equipo">
        <?= $this->equipo->categoria ?>
    </span>
</p>
<p>
    <span class ="campo-ficha">
        <?= $this->translate( 'pais' ) ?>
    </span>
    <span class ="field-equipo">
        <?= $this->equipo->pais ?>
    </span>
</p>
<?= $this->frmRegistrar ; ?>
        <span class="msj-required">* <?= $this->translate( 'requerido' ) ?></span>
<?php if ( count( $this->equiposFormasPago ) > 0 ) : ?>
            <table border="1" class="listado">
                <thead>

                <th><?= $this->translate( 'forma de pago' ) ?></th>
                <th><?= $this->translate( 'nro de cuotas' ) ?></th>
                <th><?= $this->translate( 'pago' ) ?></th>
                <th><?= $this->translate( 'dias' ) ?></th>
                <th><?= $this->translate( 'mora por dia' ) ?></th>
                <th><?= $this->translate( 'acciones' ) ?></th>
            </thead>
            <tbody>
    <?php foreach ( $this->equiposFormasPago as $equipoFormasPago ): ?>

                <tr class="<?= $equipoFormasPago->active
                                    ? 'activo' : 'inactivo' ?>"
                    id ="<?= $equipoFormasPago->id ?>">

                    <td>
            <?= $this->escape( $equipoFormasPago->nombre ) ?>
            </td>
            <td>
            <?= $this->escape( $equipoFormasPago->nrocuotas ) ?>
            </td>
            <td>
            <?= $this->escape( $equipoFormasPago->pago ) ?>
            </td>
            <td>
            <?= $this->escape( $equipoFormasPago->dias ) ?>
            </td>
            <td>
            <?= $this->escape( $equipoFormasPago->moraxdia ) ?>
            </td>
            <td>
            <?=

                $this->ajaxLink(
                        "<span class ='imagen-delete' title = " . $this->translate( 'eliminar' ) . "> </span>" ,
                        "/admin/equipoformapago/borrar/format/json" , array(
                    'dataType' => 'json' ,
                    'beforeSend' =>
                    'myBeforeSendCallbackJsFunc();' ,
                    'complete' =>
                    'myCompleteCallbackJsFunc(data);' ,
                    'method' => 'POST' ) , array( 'id' => $equipoFormasPago->id )
                ) ;

            ?>

            </td>
        </tr>
    <?php endforeach ; ?>
            </tbody>
            </table>
<?php endif ; ?>


