.multiCheckbox label {
  height: 10px;
  width: 540px;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 5px;
  display: block;
  text-align: left; }

.optional {
  /*   width: 300px ;*/
  margin-right: 0;
  margin-left: 25px;
  float: left; }
