.imagen-edit, .imagen-addimage, .imagen-see, .imagen-delete, .imagen-dolar, .imagen-new ,
.imagen-desactivar, .imagen-activar, .imagen-top, .imagen-bottom, .imagen-pay,
.imagen-transacciones, .imagen-equipos, .imagen-basket, .imagen-info, 
.imagen-publicar, .imagen-change-pass{
    height: 16px;
    width: 16px;
    display: block;
    float: left;
    margin: 2px;
}

.imagen-edit{
    background: url(/images/acciones/16/edit.png) no-repeat 0% 0%;
    text-decoration: none;
    
}
.imagen-addimage{
    background: url(/images/acciones/16/add.png) no-repeat 0% 0%;

}
.imagen-see{
    background: url(/images/acciones/16/see.png) no-repeat 0% 0%;

}
.imagen-delete{
    background: url(/images/acciones/16/button_cancel.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-dolar{
    background: url(/images/acciones/16/dollar.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-change-pass{
    background: url(/images/acciones/16/user_password.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-new{
    background: url(/images/acciones/16/button-new.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-transacciones{
    background: url(/images/acciones/16/cart.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-equipos{
    background: url(/images/acciones/16/tool.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-desactivar{
    background: url(/images/acciones/16/inactive.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-publicar{
    background: url(/images/acciones/16/publish.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-activar{
    background: url(/images/acciones/16/button_ok.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-sale{
    background: url(/images/acciones/24/sale.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-top{
    background: url(/images/acciones/16/go-top.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-bottom{
    background: url(/images/acciones/16/go-bottom.png) no-repeat 0% 0%;

    text-decoration: none;
}
.imagen-basket{
    background: url(/images/acciones/16/basket.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-pay{
    background: url(/images/acciones/16/payment-card.png) no-repeat 0% 0%;
    text-decoration: none;
}
.imagen-info{
    background: url(/images/acciones/16/info_button_16.png) no-repeat 0% 0%;
    text-decoration: none;
}