/* reserva */
.caja { 

}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, 
.col12, .col50  { float: left; margin: 0 20px 0 0; overflow: hidden; }

/* Importante: quita el margen extra a la ultima columna de cada fila para encajar */
.final { margin-right: 0; }

/* Usar estas clases para determinar los anchos y cantidad de columnas. Siempre en relacion al class .contenedor */
.col1  { width: 60px; }
.col2  { width: 140px; }
.col3  { width: 220px; }
.col4  { width: 300px; }
.col5  { width: 380px; }
.col6  { width: 460px; }
.col7  { width: 540px; }
.col8  { width: 620px; }
.col9  { width: 700px; }
.col10 { width: 780px; }
.col11 { width: 860px; }
.col12 { width: 940px; margin: 0; }
.col50 { width: 48.15%;  }


.fichaproducto-izquierda {
    float: left;
    width: 240px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #1f1c1f;

}

.fichaproducto-derecha {
    float: right;
    border-style: solid;
    border-color: #eb1aeb;
    border-width: 1px;
    padding: 5px;
    width: 240px;
}

/* Estilos para tablas de listado*/
.listado {
    width: 520px;
    background-color: #e6e6e6;
}

.listado thead {
    background-color: #0b88b5;
}

.listado thead th {
    font-size: 15px;
    font-weight: bold;
    color: #faf7fa;
}

.listado tbody td {
    padding: 5px;
}

.fichaproducto-derecha p{
    margin-bottom: -5px;
}
.fichaproducto-izquierda p{
    margin-bottom: -5px;    
}
#gallery1 {
    width:100%; 
    overflow:hidden;
} 
#gallery1 a {
    position:relative; 
    float:left; 
    margin:5px;} 
#gallery1 a span { 
    display:none; 
    background-repeat:no-repeat; 
    background-image:url(/theme/default/image/deletecell.png);
    width:48px; 
    height:48px; 
    position:absolute; 
    left:15px; 
    top:15px;} 
#gallery1 img { 
    border: solid 1px #999; 
    padding:5px;
}
#gallery1 a:hover span { display:block;}

#info-equipo {
    margin-right: 10px;
    width: 240px;
    float: right;
}

.detalleEquipo tr td {
    padding-bottom: 10px;
    padding-left: 5px;
}

.detalleEquipo {
    width: 240px;
}

.encabezado {
    background-color: #e0dce0;
}

/* */
.table-question {
    width: 520px;
    background-color: #e6e6e6;
}