<table border="1" class="listado">
    <thead>
        <tr>
            <th><?= $this->translate('id operacion') ?></th>
            <th><?= $this->translate('id pago') ?></th>
            <th><?= $this->translate('fecha limite de pago') ?></th>
            <th><?= $this->translate('monto') ?></th>
            <th><?= $this->translate('fecha de pago') ?></th>
            <th><?= $this->translate('pago') ?></th>
            
        </tr>
    </thead>
    <tbody>
        
        <?php foreach ($this->cuotasoperacion as $cuotaoperacion): ?>

            <?php $id = $cuotaoperacion->id; ?>
            <tr>
 
                <td>
                    <?= $this->escape($cuotaoperacion->operacion_id) ?>
                </td>
                <td>
                    <?= $this->escape($cuotaoperacion->id) ?>
                </td>
                <td>
                    <?= $this->escape($cuotaoperacion->fechaLimite) ?>
                </td>
                <td>
                    <?= $this->escape($cuotaoperacion->monto) ?>
                </td>
                <td>
                    <?= $this->escape($cuotaoperacion->fechapago) ?>
                </td>
                <td>
                    <?= $this->escape($cuotaoperacion->pago) ?>
                </td>
               

            </tr>
<?php endforeach; ?>
    </tbody>
</table>
<br />
