<h2> <?= $this->translate( 'cms' ) ?>  <?= $this->countryActual ?></h2>
<div class="grid_12">
    <div class="grid_8 alpha">titulo</div>
    <div class="grid_4 omega">valor del titulo</div>

    <div class="clear"></div>
</div>
<?= $this->formCountry ?>



