<h2> <?= $this->translate( 'Operations' ) ?>:</h2>

<table border="1" class="listado">
    <thead>
        <tr>
            <th><?= $this->translate( 'tipo de operacion' ) ?></th>
            <th><?= $this->translate( 'usuario' ) ?></th>
            <th><?= $this->translate( 'fecha' ) ?></th>
            <th><?= $this->translate( 'fecha de pago' ) ?></th>
            <th><?= $this->translate( 'forma de pago' ) ?></th>
            <th><?= $this->translate( 'cantidad de equipos' ) ?></th>
            <th><?= $this->translate( 'total' ) ?></th>
            <th><?= $this->translate( 'acciones' ) ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->operaciones as $operacion ): ?>

            <?php $id = $operacion->id; ?>
            <tr>
                <td>
                    <?= $this->escape( $operacion->estadooperacion ) ?>
                </td>
                <td>
                    <?= $this->escape( $operacion->usuario_nombreCompleto ) ?>
                </td>
                <td>
                    <?= $this->escape( $operacion->fecha ) ?>
                </td>
                <td>
                    <?= $this->escape( $operacion->fechapago ) ?>
                </td>
                <td>
                    <?= $this->escape( $operacion->formapago ) ?>
                </td>
                <td>
                    <?= $this->escape( $operacion->nequipos ) ?>
                </td>
                <td>
                    <?= $this->escape( $operacion->total ) ?>
                </td>

                <td>

                    <?php
                    $link = $this->url(
                            array(
                                'module' => 'admin' ,
                                'controller' => 'operacion' ,
                                'action' => 'detallaroperacion' ,
                                'id' => $id ) )
                    ?>
                    <a href="<?= $link ?>"
                       title="<?= $this->translate('ver detalle de operacion')?>">
                        <span class="imagen-basket"></span>
                    </a>

                    
                    
                    <?php
                    $link = $this->url(
                            array(
                                'module' => 'admin' ,
                                'controller' => 'cuotaspago' ,
                                'action' => 'cuotasoperacion' ,
                                'id' => $id ) )
                    ?>
                    <a href="<?= $link ?>"
                       title="<?= $this->translate('ver detalle de operacion')?>">
                       <span class="imagen-dolar"></span> 
                    </a>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<br />
<?=
$this->paginationControl(
        $this->operaciones, 'Sliding', 'operacion/_pag.phtml'
);
?>