
<div style="clear: both; padding-top: 10px;">
	<h3><?= $this->translate( 'equipos relacionados' ) ?></h3>

	<div class="device-horizontal-list">
		<?

		/**/
		$cont = 0 ;
		/**/

		?>
		<?php foreach ( $this->relatedEquipment as $producto ): ?>
		<? $cont++ ; ?>
		<? if ( ($cont % 4) == 0 ): ?>
				<div class="last-div">
			<? else: ?>
					<div>
				<? endif ; ?>
					<a href="
				<?=

					$this->url(
							array(
								'slug' => $producto->slug ) , 'slugEquipment' , true
					)

				?>
					   " title="<?= $producto->slug ?>">
					   <?php

					   $url = (is_null( $producto->imagen ))
							   ?
							   '/media/catalog/product/avatar/no_image.png'
							   :
							   '/media/catalog/product/avatar/' . $producto->imagen

					   ?>
					<img src="<?= $url ?>"
						 alt="<?= $producto->nombre ?>"
						 />

				</a>
				<span class="manufacturer">
					<?

					   $fabricanteModelo = "" ;

					   $fabricanteModelo = $producto->fabricante . " " . $producto->modelo ;

					?>
					<?

					   $fabricante = (strlen( $fabricanteModelo ) > 20)
							   ?
							   substr( $fabricanteModelo , 0 , 20 ) . '..'
							   :
							   $fabricanteModelo ?>
					<?= $fabricante ?>
   				</span>
   				<span class="name">

					<?php

					   $nombre = (strlen( $producto->nombre ) > 20)
							   ?
							   substr( $producto->nombre , 0 , 20 ) . '..'
							   :
							   $producto->nombre

					?>
					<?= $nombre ?>
   				</span>
   				<a href="
				<?=

					   $this->url(
							   array(
								   'slug' => $producto->slug
							   ) , 'slugEquipment' , true
					   )

				?>
	   	   		   			   " title="<?= $producto->slug ?>">
						<span>
						<?= $this->translate( 'View details' ) ?>
					</span>
				</a>
			</div>
			<?php endforeach ; ?>

		</div>

	</div>
</div>
