<?=
$this->translate('
            para poder realizar las adquisiciones de equipos tiene que 
            registrarse en la web, nosotros lo orientaremos paso a paso, 
            para que su experiencia de compra sea agradable. la empresa 
            tiene como prioridad la seguridad en sus transacciones para 
            lo cual le otorgamos algunos consejos')
?>:
<ul>
    <li>
        <?= $this->translate('no comparta su información personal ') ?>
    </li>
    <li>
        <?= $this->translate('identifique los correos electrónicos falsos ') ?>
    </li>
    <li>
        <?= $this->translate('proteja su contraseña  ') ?>
    </li>
</ul>




