<script type="text/javascript">
	$(document).ready(
	function(){
		$("#precioCheck").click(
		function(){
			if($(this).is(':checked')) {
				$('#addprecio').show("slow");
			} else {
				$('#addprecio').hide("slow");
			}
		}

	);
		
	}
);
</script>

<h2><?= $this->translate( 'cotizar' ) ?></h2>


<? if ( is_object( $this->frmCotizar ) ): ?>
	<form id="frmCotizarUsuario" enctype="application/x-www-form-urlencoded" method="post" class="zend_form" action="">

	<?= $this->frmCotizar->nombre ?>
	<?= $this->frmCotizar->organizacion ?>
	<?= $this->frmCotizar->direccion ?>
	<?= $this->frmCotizar->codpostal ?>
	<?= $this->frmCotizar->ciudad ?>
	<?= $this->frmCotizar->paises_id ?>
	<?= $this->frmCotizar->email ?>
	<?= $this->frmCotizar->asunto ?>
	<?= $this->frmCotizar->precioCheck ?>
	<div id="addprecio" style="display:none;">
		<?= $this->frmCotizar->precio ?>
		<?= $this->frmCotizar->moneda_id ?>
	</div>
	<?= $this->frmCotizar->mensaje ?>
	<?= $this->frmCotizar->toemail ?>
	<?= $this->frmCotizar->captcha ?>
	<?= $this->frmCotizar->submit ?>

	</form>
<? endif ; ?>

		<div style="clear:both;"></div>
		<span class="msj-required">* <?= $this->translate( 'requerido' ) ?></span>
