<h2>
    <?= $this->translateCategoria ?>
</h2>
<?= $this->formOrder ?>
    <h3>
    <?= $this->translate( 'todos los equipos' ) ?>
</h3>

<div class="device-horizontal-list">
<?
    /**/
    $cont = 0;
    /**/
    ?>
    <?php foreach ( $this->productos as $producto ): ?>
        <?$cont++;?>
      <? if(($cont % 4) == 0): ?>
               <div class="last-div">
      <?else:?>
                <div>
      <?endif;?>

            <a href="
        <?=

        $this->url( array(
            'slug' => $producto->slug ) , 'slugEquipment' , true )

        ?>
           " title="<?= $producto->slug ?>">
               <?php

               $url = (is_null( $producto->image )) ?
                       '/media/catalog/product/avatar/no_image.png' :
                       '/media/catalog/product/avatar/' . $producto->image

               ?>
            <img src="<?= $url ?>"
                 alt="<?= $producto->equipo ?>"
                 title="<?= $producto->equipo ?>"
                 />

        </a>

        <span class="manufacturer">
            
            <?php

               $fabricante = (strlen( $producto->fabricante ) > 20) ?
                       substr( $producto->fabricante , 0 , 21 ) . '..' :
                       $producto->fabricante ?>
            <?= $fabricante ?>
           </span>
           <span class="name">
            <?php

               $nombre = (strlen( $producto->modelo ) > 20) ?
                       substr( $producto->modelo , 0 , 21 ) . '..' :
                       $producto->modelo ?>
            <?= $nombre ?>

           </span>
           <a href="
        <?=

               $this->url( array(
                   'slug' => $producto->slug ) , 'slugEquipment' , true )

        ?>
                  " title="<?= $producto->slug ?>">
                   <span>
                <?= $this->translate( 'View details' ) ?>
            </span>
        </a>
    </div>

    <?php endforeach ; ?>
            </div>

<?=

                $this->paginationControl(
                        $this->productos , 'Sliding' , 'equipo/_pagall.phtml'
                ) ;

?>

