<?


$objTraduccion = new Mtt_Models_Bussines_Traducciones();
$idLang = $this->sessionMtt->config->idlang;


?>

<ul class="breadcrumb">
    <li>
        <a href="
        <?=


        $this->url( array(
            'module' => 'default' ,
            'controller' => 'equipo' ,
            'action' => 'index'
                ) , 'default' , true )


        ?>">
               <?= $this->translate( 'home' ) ?>
        </a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="
        <?=


        $this->url( array(
            'slug' => $this->producto->slugCategory
                ) , 'slugCategory' , true )


        ?>">
               <?=


               $objTraduccion->getTranslate(
                       Mtt_Models_Bussines_Categoria::ENTIDAD_ID ,
                       $this->producto->categoria_id , $idLang ,
                       $this->producto->categoria
               );


               ?>
        </a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        <?= $this->producto->nombre ?>
    </li>
</ul>
<div style="margin-bottom: 10px">
    <div style="float: left;width: 500px">

        <h2>
            <?=
                $this->producto->fabricante . ' '.
                        $this->producto->modelo . ', ' .
                        $this->producto->nombre       

            ?>
        </h2>
   	</div>
   	<div style="float: left; width: 230px;">

        <? //= $this->Redes() ?>
   	</div>
</div>

<div id="dialog" title="An Image!" style="display: none;">
   	<img id="image" src=""/>
</div>

<div id="search" class="ui-widget"
   	 title="<?= $this->translate( 'busqueda' ) ?>"
   	 style="display: none;">
         <?= $this->formSearch ?>
</div>
<div id="dialogToSendFriend"  style="display: none;"
     title="<?= $this->translate( "enviar a un amigo" ) ?>" >
    <div id="detalle"><?= $this->formEnviarAmigo ?></div>
</div>
<!--<div id="dialogHelp"  style="display: none;"
                           title="<? //= $this->translate( "ayuda" )   ?>" >
                                                                                 <div id="detalle">
<? //= $this->render( 'equipo/_help.phtml' );  ?>
                                                                                 </div>
                                                                                 </div>-->

<div id="device-foto-galery">
    <!--Producto -->
    <?php


    $url = (is_null( $this->producto->imagen )) ?
            '/media/catalog/product/product/no_image.png' :
            '/media/catalog/product/product/' . $this->producto->imagen;
    $urlhref = (is_null( $this->producto->imagen )) ?
            '/media/catalog/product/product/no_image.png' :
            '/media/catalog/product/default/' . $this->producto->imagen;


    ?>
    <?php


    $cont = 1;
    if ( count( $this->producto->imagenes ) > 1 ) :


        ?>

        <?php foreach ( $this->producto->imagenes as $imagen ) : ?>
            <?php if ( $cont == 1 ): ?>
                <a href="<?= $urlhref ?>"

                   class ="img-thumb">
                    <img src="<?= $url ?>"
                         alt="<?= $this->producto->nombre ?>"

                         />
                </a>
                <?php


            else :


                ?>
                <a href="/media/catalog/product/default/<?= $imagen->imagen ?>"

                   class ="img-thumb">
                    <img src="/media/catalog/product/thumb/<?= $imagen->imagen ?>" alt="Device" />
                </a>
            <?php endif; ?>

            <?php


            $cont++;
        endforeach;


        ?>

        <!-- Fin de imagenes -->
        <!-- acciones -->

        <a href="#">
            <img src="/images/arrow-left.png" alt="">
        </a>
        <a href="#">
            <img src="/images/arrow-right.png" alt="">
        </a>
        <!-- fin de acciones-->
        <?php


    else :


        ?>
        <a href="<?= $urlhref ?>"
           title="<?= $this->producto->nombre ?>"
           class ="product">
            <img src="<?= $url ?>"
                 alt="<?= $this->producto->nombre ?>"

                 />
        </a>
    <?


    endif;


    ?>
</div>
<div id="device-description">
    <!--a href="#"
    <?


    //=
//    Zend_Auth::getInstance()->hasIdentity() ?
//                    'id="searchForUser"' : 'id="searchEquipments"'


    ?>
                                                                                                                                                           >
            <span class="advanced-search-tab">
    <? //= $this->translate( 'Advanced Search' )      ?>
                                                                                                                                                        </span>
                                                                                                                                                    </a-->

    <span class="device-description-field">
        <?= $this->translate( 'Product name' ) ?>
    </span>
    <span>
        <?= $this->producto->nombre ?>
    </span>


    <?


    if ( Zend_Auth::getInstance()->hasIdentity() )
        {

        echo $this->render( 'equipo/user/deviceDescription.phtml' );
        }
    else
        {
        echo $this->render( 'equipo/guest/deviceDescription.phtml' );
        }


    ?>

</div>
<!---->

<div id="device-actions">
    <a href="<?=


    $this->url( array(
        'module' => 'default' ,
        'controller' => 'equipo' ,
        'action' => 'pdf' ,
        'id' => $this->producto->id
            ) , 'default' , true )


    ?>">
        <span class="device-action-pdf">
            <?= $this->translate( 'Download PDF' ) ?>
        </span>
    </a>
    <a href="<?=


            $this->url( array(
                'module' => 'default' ,
                'controller' => 'equipo' ,
                'action' => 'print' ,
                'id' => $this->producto->id
                    ) , 'default' , true )


            ?>" target="_blank">
        <span class="device-action-print">
            <?= $this->translate( 'Print' ) ?>
        </span>
    </a>
    <!--    <a href="#">
            <span class="device-action-help">
    <? //= $this->translate( 'I Need Help' )   ?>
                                                                                                                                                            </span>
                                                                                                                                                        </a>-->
    <a href="#">
        <span class="device-action-friend">
            <?= $this->translate( 'Tell a Friend' ) ?>
        </span>
    </a>
    <?


    if ( Zend_Auth::getInstance()->hasIdentity() )
        {
        if ( $this->producto->publicacionid ==
                Mtt_Models_Table_PublicacionEquipo::Activada )
            {
            echo $this->render( 'equipo/user/deviceActions.phtml' );
            }
        }


    ?>

    <a href="
    <?=


    $this->url(
            array( 'module' => 'default' , 'controller' => 'equipo' ,
        'action' => 'cotizar' ,
        'id' => $this->producto->id ) , 'default' , true
    )


    ?>
       ">
        <span class="device-action-tobuy">
            <?= $this->translate( 'Request Price' ) ?>
        </span>
    </a>

    <a href="<?=


            $this->url(
                    array( 'module' => 'default' , 'controller' => 'equipo' ,
                'action' => 'back' ) , 'default' , true
            )


            ?> ">
        <span class="device-action-back">
            <?= $this->translate( 'Back' ) ?>
        </span>
    </a>
</div>
<? if ( !empty( $this->relatedEquipment ) ): ?>
    <?= $this->render( 'equipo/_equipmentrelacionados.phtml' ) ?>
<? endif; ?>