<div id="dataequipo">
    <h2>
        <?= $this->translate( 'datos del equipo' ) ?>

    </h2>
    <p>
        <span class ="campo-ficha">
            <?= $this->translate( 'nombre del equipo' ) ?>
        </span>
        <span class ="field-equipo">
            <?= $this->equipo->nombre ?>
        </span>

        <span class ="campo-ficha">
            <?= $this->translate( 'modelo' ) ?>
        </span>
        <span class ="field-equipo">
            <?= $this->equipo->modelo ?>
        </span>

        <span class ="campo-ficha">
            <?= $this->translate( 'fabricante' ) ?>
        </span>
        <span class ="field-equipo">
            <?= $this->equipo->fabricante ?>
        </span>

        <span class ="campo-ficha">
            <?= $this->translate( 'categoria' ) ?>
        </span>
        <span class ="field-equipo">
            <?= $this->equipo->categoria ?>
        </span>

        <span class ="campo-ficha">
            <?= $this->translate( 'pais' ) ?>
        </span>
        <span class ="field-equipo">
            <?= $this->equipo->pais ?>
        </span>
    </p>

</div>

<h3>
    <?= $this->translate( 'agregar imagen' ) ?> :
</h3>

<div style="display:block;">
    <?= $this->frmRegistrar; ?>
    <div style="clear:both;"></div>
    <span class="msj-required">* <?= $this->translate( 'requerido' ) ?></span>
</div>
<div id="tabla-imagen">
    <?php if ( count( $this->imagenes ) > 0 ) : ?>
        <table border="1" class="listado">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th><?= $this->translate( 'titulo imagen' ) ?></th>
                    <th><?= $this->translate( 'orden' ) ?></th>
                    <th><?= $this->translate( 'descripcion' ) ?></th>
                    <th><?= $this->translate( 'acciones' ) ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ( $this->imagenes as $imagen ): ?>
                    <tr id ="<?= $imagen->id ?>">
                        <td>
                            <img src="/media/catalog/product/<?= $imagen->imagen ?>"
                                 width="24px" height="24px">
                        </td>
                        <td>
                            <?= $this->escape( $imagen->nombre ) ?>
                        </td>
                        <td>
                            <?= $this->escape( $imagen->order ) ?>
                        </td>
                        <td>
                            <?= $this->escape( $imagen->descripcion ) ?>
                        </td>
                        <td>
                            <?php


                            $link = $this->url( array( 'module' => 'user' ,
                                'controller' => 'imagen' ,
                                'action' => 'order' ,
                                'imageId' => $imagen->id ,
                                'equipoId' => $this->equipo->id
                                    ) , 'default' , true )


                            ?>
                            <a href="<?= $link ?>" 
                               title="<?= $this->translate( 'ordenar imagen' ) ?>">
                                <span class ="imagen-info"
                                      title="<?= $this->translate( 'ordenar imagen' ) ?>"
                                      >
                                </span>
                            </a>


                            <?=


                            $this->ajaxLink(
                                    "<span class ='imagen-delete' title = " . $this->translate( 'eliminar' ) . "> </span>" ,
                                                                                                "/user/imagen/borrar/format/json" ,
                                                                                                array(
                                'dataType' => 'json' ,
                                'beforeSend' =>
                                'myBeforeSendCallbackJsFunc();' ,
                                'complete' =>
                                'myCompleteCallbackJsFunc(data);' ,
                                'method' => 'POST' ) ,
                                                                                                array( 'id' => $imagen->id )
                            );


                            ?>


                        </td>
                    </tr>
        <?php endforeach; ?>
            </tbody>
        </table>
<?php endif; ?>
</div>

