<div id="dialog-envio" 
     title="<?= $this->translate( 'estado de la operacion' ) ?>"
     >
    <div id="dialog_text"><?= $this->form ?></div>
</div>
<table border="1" class="listado">
    <thead>
        <tr>
            <th><?= $this->translate('numero') ?></th>
            <th><?= $this->translate('fecha') ?></th>
            <th><?= $this->translate('descripcion') ?></th>
            <th><?= $this->translate('acciones') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php $n = 0;?>
        <?php foreach ($this->envios as $envio): ?>

            <?php 
                $id = $envio->id; 
                $n++;
            ?>
            <tr>
                <td>
                    <?= $n?>
                </td>
                <td>
                    <?= $this->escape($envio->fecha) ?>
                </td>
                <td>
                    <?= $this->escape($envio->descripcion) ?>
                </td>
                <td>
                    
                    <? if ($envio->active): ?>
                        <?
                        $link = $this->url(
                                array(
                                    'module' => 'admin',
                                    'controller' => 'operacionenvios',
                                    'action' => 'desactivar',
                                    'id' => $id))
                        ?>
                        <a href="<?= $link ?>" 
                           title="<?= $this->translate('Desactivar') ?>" >
                           <span class="imagen-desactivar"
                                 title="<?= $this->translate('Desactivar') ?>"
                                 ></span>
                        </a>                     

                    <? else: ?>
                        <?
                        $link = $this->url(
                                array('module' => 'admin',
                                    'controller' => 'operacionenvios',
                                    'action' => 'activar',
                                    'id' => $id))
                        ?>
                        <a href="<?= $link ?>" 
                           title="<?= $this->translate('Activar') ?>" >
                           <span class="imagen-activar"></span> 
                        </a>  

                    <? endif; ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<br />
    <?=
    $this->paginationControl(
            $this->envios , 'Sliding' , 'operacionenvios/_pag.phtml'
    );
    ?>
