<?


$objTraduccion = new Mtt_Models_Bussines_Traducciones();
$idLang = $this->sessionMtt->config->idlang;


?>

<ul>

    <li> 
        <a href="<?=


$this->url(
        array(
    'module' => 'default' ,
    'controller' => 'newequipment' ,
    'action' => 'index' ) , 'default' , true
);


?>" class="cls-programa">
            <span class="cls-programa">
                <?= $this->translate( 'equipos nuevos' ); ?> 
            </span>
        </a>

    </li>       


    <?


    $objcategorias = new Mtt_Models_Bussines_Categoria();
    foreach ( $objcategorias->getCategoryWithEquip() as $categoria )
        {


        ?>
        <li>
            <a href="
            <?=


            $this->url(
                    array(
                'slug' => $categoria->slug
                    )
                    , 'slugCategory' , true
            )


            ?>" title="<?= $categoria->slug ?>">
                <span>
                    <?=


                    $objTraduccion->getTranslate(
                            Mtt_Models_Bussines_Categoria::ENTIDAD_ID ,
                            $categoria->id , $idLang , $categoria->nombre
                    );


                    ?>
                </span>

            </a>
        </li>
        <?


        }


    ?>


</ul>