<div id="sections-buttons-top">
<ul>
        <li  id ="home-visit" onclick="fnSelectedItem(this.id)">
            <span>
                <a href="
                <?= $this->url( array( 'controller' => 'index' ,
                    'action' => 'index' ) , 'default' , true ) ?>">

                    <?= $this->translate( 'home' ); ?>
                </a>  
            </span>
        </li>
       
        <li  id ="buy-visit" onclick="fnSelectedItem(this.id)">
            <span>

                <a href="
                <?= $this->url( array( 'controller' => 'equipo' ,
                    'action' => 'index' ) , 'buyEquipment' , true ) ?>">

                    <?= $this->translate( 'Buy equipment' ); ?>
                </a>  
            </span>

        </li>
        <li  id ="sel-visit" onclick="fnSelectedItem(this.id)">
            <span>

                <a href="
                <?= $this->url( array( 'controller' => 'vender' ,
                    'action' => 'index' ) , 'default' , true ) ?>">
                       <?= $this->translate( 'Sell/trade-in Equipment' ); ?>

                </a>  
            </span>

        </li>
        <li  id ="services-visit" onclick="fnSelectedItem(this.id)">
            <span>
                <a href="
                <?= $this->url( array( 'controller' => 'services' ,
                    'action' => 'index' ) , 'default' , true ) ?>">
                     <?= $this->translate( 'services' ); ?>
                </a>  
            </span>
        </li>
        <li  id ="contactus-visit" onclick="fnSelectedItem(this.id)">
            <span>
                <a href="
                <?= $this->url( array( 'controller' => 'contactus' ,
                    'action' => 'index' ) , 'default' , true ) ?>">
                       <?= $this->translate( 'Contact us' ); ?>

                </a>  
            </span>
        </li>
         <li  id ="search-visit" onclick="fnSelectedItem(this.id)">
            <span>
                <a href="#" id="searchButton">
                     <?= $this->translate( 'search' ); ?>
                </a>  
            </span>
        </li>
    </ul> 
</div>
