<div id="leftcontainerBox" style="position:fixed; top:250px; left:1px; width: 55px;">
    <ul>
        <li>
            <a id="searchButton" href="#"  <?=
Zend_Auth::getInstance()->hasIdentity() ?
                'id="searchForUser"' : 'id="searchEquipments"'
?> title="<?= $this->translate( 'Haga clic para buscar' ) ?>">
                <span>
                    <?= $this->translate( 'Haga clic para buscar' ) ?>
                    <img src="/images/acciones/16/search.png" 
                         alt="<?= $this->translate( 'Haga clic para buscar' ) ?>" />
                </span>
            </a>
        </li>
    </ul>
</div>