<?= $this->doctype() ; ?>
<html>
    <head>
        <?= $this->headMeta() ?>
        <?= $this->headTitle() ?>
        <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <?=

        $this->headLink()->prependStylesheet( '/theme/default/css/reset.css' )
                ->headLink()->appendStylesheet(
                        '/theme/default/css/default.css'
                )
                ->headLink()->appendStylesheet(
                        '/theme/default/css/form.css'
                )
                ->headLink()->appendStylesheet(
                        '/theme/default/css/ie9.css'
                        ,
                        'screen' ,
                        ' IE 9'
                )
                ->headLink()->appendAlternate( '/humans.txt' ,
                                               'text/plain' ,
                                               'author' ,
                                               '' ) ;

        ?>
        <?=

        $this->jQuery() ;

        ?>
        <?=

        $this->headScript()
                ->appendFile(
                        '/js/ckeditor/ckeditor.js'
                )
                ->appendFile(
                        '/theme/default/js/accion.js'
                )
                ->appendFile(
                        '/theme/default/js/accionmenu.js'
                )
                ->appendFile(
                        '/theme/default/js/menu/menu.js'
                )
                ->appendFile(
                        '/js/CookieJS.js'
                )
                ->appendFile(
                        '/js/piecss3/PIE.js' ,
                        'text/javascript' ,
                        array( 'conditional' => 'lt IE 9' )
                )
                ->appendFile(
                        'http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js'
                        ,
                        'text/javascript' ,
                        array( 'conditional' => 'lt IE 9' )
                )
        ;

        ?>
        <?= $this->render( '_google_analytics.phtml' ) ; ?>

    </head>
    <body>
<? //= $this->render( '_redes.phtml' );    ?>

        <header>

            <div id="wrap-top" class="wrapper">
                <div id="section-top" class="section">
<?= $this->render( '_header.phtml' ) ; ?>
                    <nav>
<?= $this->render( '_navegacion.phtml' ) ; ?>
                    </nav>
                </div>


            </div>
        </header>

        <section>

            <div id="wrap-middle" class="wrapper">
<? if ( Zend_Auth::getInstance()->hasIdentity() ): ?>
    <?= $this->render( '_userMenu.phtml' ) ; ?>
                         <? endif ; ?>
                <div id="search" class="ui-widget"
                     style="display: none;"
                     title="<?= $this->translate( 'busqueda' ) ?>">
<?= $this->formSearch ?>
                </div>
                <div id="section-middle" class="section">
                    <aside id="section-middle-categories">

                                <?= $this->render( '_menucategories.phtml' ) ; ?>
                        <div id="section-middle-list">
                            <span id="section-middle-list-advice">
<?= $this->translate( 'We are looking<br/>for this used<br/>medical<br/>equipment:<br/>' ) ?>

                            </span>
                            <br/>

                            <span class="btn-enlace">
                                <a href="<?=

$this->url(
        array(
    'module' => 'default' ,
    'controller' => 'equiporequerido' ,
    'action' => 'index' ,
        ) ,
        'default' ,
        true
 )

?>">
<?= $this->translate( 'Link to the list' ) ?>

                                </a>
                            </span>

                        </div>
                        <div id="redes" style="padding-top:10px;padding-bottom:10px;">
                        <?= $this->Redes() ?>
                        </div>

                    </aside>
                    <section id="section-middle-body">
<?= $this->render( '_messages.phtml' ) ; ?>
<?= $this->layout()->content ?>
                    </section>
                </div>
            </div>
        </section>
        <footer>

<?= $this->render( '_footer.phtml' ) ?>
        </footer>
    </body>
</html>
