<h2>
    <?= $this->translate( 'Dashboard' ); ?>
</h2>
<p class="user-index-welcome">

    <?= $this->translate( 'Welcome' ) ?>
    Mr./Ms. <?= $this->authUser; ?> 
    <?=
    $this->translate(
            'to MedTechTrade. Please find and administrate
                your medical equipment in this section.'
    );
    ?>
</p>

<div id="user-index-latest-equipment">
    <a href="#">
        <span class="cabecera-enlace">
            <?=  $this->translate( 'Last uploaded devices' ); ?>
        </span>
    </a>

    <table class="listado" style="width:720px">
        <thead>
<tr>
        <th>
            <?=  $this->translate( 'imagen' ) ?>
        </th>
        <th>
            <?= $this->translate( 'manufacturer' ) ?>
        </th>
        <th>
            <?=  $this->translate( 'categoria' ) ?>
        </th>
        <th>
            <?=  $this->translate( 'equipo' ) ?>
        </th>
        <th>
            <?= $this->translate( 'modelo' ) ?>
        </th>
        <th>
            <?=  $this->translate( 'fecha de manufacturacion' ) ?>
        </th>
        <th>
            <?=  $this->translate( 'acciones' ) ?>
        </th>
        </tr>
        </thead>
        <tbody>
            <? foreach ( $this->lastequipos as $equipo ): ?>
                <tr>
                    <td>
                        <?php
                        $url = (is_null( $equipo->imagen )) ?
                                '/theme/default/image/no_images.png' :
                                '/media/catalog/product/' . $equipo->imagen
                        ?>
                        <img src="<?= $url ?>" 
                             alt="<?= $equipo->nombre ?>"
                             width="24px" height="24px">
                    </td>
                    <td>
                        <?= $equipo->fabricante ?>
                    </td>
                    <td>
                        <?= $equipo->categoria ?>
                    </td>
                    <td>
                        <?= $equipo->nombre ?>
                    </td>
                    <td>
                        <?= $equipo->modelo ?>
                    </td>
                    <td>
                        <?= $equipo->fechafabricacion ?>
                    </td>
                    <td>
                        <?php
                        $link =
                                $this->url(
                                array(
                            'slug' => $equipo->slug
                                ) , 'slugEquipment' , true )
                        ?>

                        <a href="<?= $link ?>"  
                           title="<?= $this->translate( 'ver equipo' ) ?>" >
                            <span class="imagen-see"
                                  title="<?= $this->translate( 'ver equipo' ) ?>"
                                  ></span>
                        </a>
                    </td>
                </tr>
            <? endforeach; ?>

        </tbody>
    </table> 

</div>

<div id="user-index-favorites" >
    <a href="<?=
        $this->url(
                array(
            'module' => 'user' ,
            'controller' => 'reserva' ,
            'action' => 'favoritos' ) , 'default' , true
        );
        ?>" 
       title="<?=  $this->translate( 'mis favoritos' ); ?>">
        <span class="cabecera-enlace">
            <?= $this->translate( 'mis favoritos' ); ?>
        </span>
    </a>
    <? foreach ( $this->favoritos as $favorito ): ?>
        <table class="listado-vertical">
            <tr>
                <td rowspan="6">
                    <?php
                    $url = (is_null( $favorito->imagen )) ?
                            '/media/catalog/product/thumb/no_image.png' :
                            '/media/catalog/product/thumb/' . $favorito->imagen
                    ?>
                    <img src="<?= $url ?>" 
                         alt="<?= $favorito->slug ?>"
                         title="<?= $favorito->slug ?>"
                        
                         />
                </td>
                <th>
                    <?=  $this->translate( 'fabricante' ) ?>
                </th>
                <td>
                    <?= $favorito->fabricante ?>
                </td>
            </tr>
            <tr>
                <th><?= $this->translate( 'categoria' ) ?></th>
                <td>
                    <?= $favorito->categoria ?>
                </td>
            </tr>
            <tr>
                <th>
                    <?=  $this->translate( 'nombre de producto' ) ?>
                </th>
                <td>
                    <?= $favorito->equipo ?>
                </td>
            </tr>
            <tr>
                <th><?=  $this->translate( 'modelo' ) ?></th>
                <td><?= $favorito->modelo ?></td>
            </tr>
            <tr>
                <th><?=  $this->translate( 'fecha de creacion' ) ?></th>
                <td><?= $favorito->publishdate ?></td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="<?=
                $this->url(
                        array(
                            'module' => 'user' , 'controller' => 'reserva' ,
                            'action' => 'favoritos'
                        )
                )
                    ?>"
                       title="<?= $this->translate( 'ver detalles' ) ?>">
                        <span class="btn-ver-detalles">
                            <?= $this->translate( 'ver detalles' ) ?>
                        </span>
                    </a>
                </td>
            </tr>
        </table>
    <? endforeach; ?>


</div>
<!--agregar valores-->
<div id="user-index-latest-search" >
    <a href="<?=
    $this->url(
            array(
        'module' => 'user' ,
        'controller' => 'reserva' ,
        'action' => 'favoritos' ) , 'default' , true
    );
    ?>" title=" <?=  $this->translate( 'busquedas almacenadas' ); ?>">
        <span class="cabecera-enlace">
            <?= $this->translate( 'busquedas almacenadas' ); ?>
        </span>
    </a>
    
    <? if(count($this->equiposlastSearch )): ?>
    <? foreach ( $this->equiposlastSearch as $lastSearch ): ?>
        <table class="listado-vertical">
            <tr>
                <td rowspan="6">
                    <?php
                    $url = (is_null( $lastSearch->image )) ?
                            '/media/catalog/product/thumb/no_image.png' :
                            '/media/catalog/product/thumb/' . $lastSearch->image
                    ?>
                    <img src="<?= $url ?>" 
                         alt="<?= $lastSearch->slug ?>"
                         title="<?= $lastSearch->slug ?>" />
                </td>
                <th>
                    <?=  $this->translate( 'fabricante' ) ?>
                </th>
                <td>
                    <?= $lastSearch->fabricante ?>
                </td>
            </tr>
            <tr>
                <th><?=  $this->translate( 'categoria' ) ?></th>
                <td>
                    <?= $lastSearch->categoria ?>
                </td>
            </tr>
            <tr>
                <th>
                    <?=  $this->translate( 'nombre de producto' ) ?>
                </th>
                <td>
                    <?= $lastSearch->equipo ?>
                </td>
            </tr>
            <tr>
                <th><?= $this->translate( 'modelo'  ) ?></th>
                <td><?= $lastSearch->modelo ?></td>
            </tr>
            <tr>
                <th><?=  $this->translate( 'fecha de creacion' ) ?></th>
                <td><?= $lastSearch->fechafabricacion ?></td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="<?=
                $this->url(
                        array(
                            'module' => 'user' , 'controller' => 'busqueda' ,
                            'action' => 'listsearch'
                        )
                )
                    ?>"
                       title="<?= $this->translate( 'ver detalles' ) ?>">
                        <span class="btn-ver-detalles">
                            <?= $this->translate( 'ver detalles' ) ?>
                        </span>
                    </a>
                </td>

            </tr>

        </table>
    <? endforeach; ?>
    <? endif; ?>

</div>
<div class="clear">

</div>


