<div class="grid_16">
    <form
        action="<?= $this->escape( $this->searchForm->getAction() ) ?>"
        method="<?= $this->escape( $this->searchForm->getMethod() ) ?>"
        class="<?= $this->escape( $this->searchForm->getAttrib( 'class' ) ) ?>"
        >
        <div class="grid_11 alpha">

            <div class="grid_7 alpha">
                <?= $this->searchForm->nombre; ?>
            </div>
            <div class="grid_4 omega">
                <?= $this->searchForm->submit->renderViewHelper(); ?>
            </div>
            <div class="clear"></div>
        </div>
    </form>
    <div class="grid_5 omega">
        <a href="<?=
                $this->url( array(
                    'module' => 'admin' ,
                    'controller' => 'paises' ,
                    'action' => 'nuevo'
                        ) , null , true )
                ?>"
           title="<?= $this->translate( 'nuevo' ) ?>">
            <span class="imagen-new"
                  title="<?= $this->translate( 'nuevo' ) ?>"
                  >

            </span>

        </a>
    </div>

</div>

<div class="clear"></div>

<div class="grid_16">
    <table border="1" class="listado">
        <thead>
            <tr>
                <th><?= $this->translate( 'pais' ) ?></th>
                <th><?= $this->translate( 'codigo' ) ?></th>
                <th><?= $this->translate( 'acciones' ) ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ( $this->paises as $pais ): ?>

                <?php $id = $pais->id; ?>
                <tr class="<?= $pais->active
                                ? 'activo' : 'inactivo' ?>">

                    <td>
    <?= $this->escape( $pais->nombre ) ?>
                    </td>
                    <td>
    <?= $this->escape( $pais->code ) ?>
                    </td>
                    <td>

                        <?php
                        $link = $this->url(
                                array(
                                    'module' => 'admin' ,
                                    'controller' => 'paises' ,
                                    'action' => 'editar' ,
                                    'id' => $id ) )
                        ?>
                        <a href="<?= $link ?>"
                           title="<?= $this->translate( 'editar' ) ?>">
                            <span class="imagen-edit"
                                  title="<?= $this->translate( 'editar' ) ?>"
                                  >

                            </span>

                        </a>

                        <?php
                        $link = $this->url(
                                array(
                                    'module' => 'admin' ,
                                    'controller' => 'paises' ,
                                    'action' => 'borrar' ,
                                    'id' => $id )
                                )
                        ?>
                        <a href="<?= $link ?>" onclick="return confirm(
                           <?= $this->translate( '¿Estás seguro?' ); ?>
                            )"
                           title="<?= $this->translate( 'Borrar' ); ?>">
                            <span class="imagen-delete" 
                                  title="<?= $this->translate( 'Borrar' ); ?>"
                                  >
                            </span>
                        </a>

                        <? if ( $pais->active ): ?>
                            <?
                            $link = $this->url(
                                    array(
                                        'module' => 'admin' ,
                                        'controller' => 'paises' ,
                                        'action' => 'desactivar' ,
                                        'id' => $id ) )
                            ?>
                            <a href="<?= $link ?>"
                               title="<?= $this->translate( 'Desactivar' ); ?>">

                                <span class="imagen-desactivar" 
                                      title="<?= $this->translate( 'Desactivar' ); ?>"
                                      >
                                </span>
                            </a>
                        <? else: ?>
                            <?
                            $link = $this->url(
                                    array( 'module' => 'admin' ,
                                        'controller' => 'paises' ,
                                        'action' => 'activar' ,
                                        'id' => $id ) )
                            ?>
                            <a href="<?= $link ?>"
                               title="<?= $this->translate( 'Activar' ); ?>">

                                <span class="imagen-activar"></span>
                            </a>
    <? endif; ?>

                    </td>
                </tr>
<?php endforeach; ?>
        </tbody>
    </table>
</div>
<br />
<?=
$this->paginationControl(
        $this->paises , 'Sliding' , 'paises/_pag.phtml'
);
?>


