<?
$objTraduccion = new Mtt_Models_Bussines_Traducciones();
$idLang = $this->sessionMtt->config->idlang;
?>

<h2>
    <?= $this->translate( 'compras activas' ) ?>
</h2>
<table border="1" class="listado" style="width:720px">
    <thead>
        <tr>
            <th><?= $this->translate( 'id operacion' ) ?></th>
            <th><?= $this->translate( 'fecha de gestion' ) ?></th>
            <th><?= $this->translate( 'fecha de pago' ) ?></th>
            <th><?= $this->translate( 'total' ) ?></th>
            <th><?= $this->translate( 'estado de la operacion' ) ?></th>
            <th><?= $this->translate( 'acciones' ) ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->operaciones as $operacion ): ?>
            <tr>
                <td>
                <?= $this->escape( $operacion->id ) ?>
            </td>
            <td><?= $this->escape( $operacion->fecha ) ?></td>
            <td><?= $this->escape( $operacion->fechapago ) ?></td>
            <td><?= $this->escape( $operacion->total ) ?></td>
            <td>
            <?=
                    $objTraduccion->getTranslate(
                            Mtt_Models_Bussines_EstadoOperacion::ENTIDAD_ID ,
                            $operacion->estadooperacion_id , $idLang , $operacion->nombre
                    );

                    ?>

            </td>
            <td>
                <?php

                $link = $this->url( array(
                            'module' => 'user' ,
                            'controller' => 'operacion' ,
                            'action' => 'ver' ,
                            'id' => $operacion->id ) , 'default' , true )

                ?>

                <a href="<?= $link ?>"

                   title="<?= $this->translate( 'ver detalle' ) ?>" >
                    <span class="imagen-see"
                          title="<?= $this->translate( 'ver detalle' ) ?>"
                          ></span>
                </a>



                <?php

                $link = $this->url( array(
                            'module' => 'user' ,
                            'controller' => 'cuotaspagooperacion' ,
                            'action' => 'index' ,
                            'id' => $operacion->id ) , null , true )

                ?>

                <a href="<?= $link ?>"

                   title="<?= $this->translate( 'ver detalle de pagos' ) ?>" >
                    <span class="imagen-dolar"></span>
                </a>

                <?php

                $link = $this->url( array(
                            'module' => 'user' ,
                            'controller' => 'operacionenvios' ,
                            'action' => 'detalle' ,
                            'id' => $operacion->id ) , null , true )

                ?>

                <a href="<?= $link ?>"
                           title="<?= $this->translate( 'ver detalle de envios' ) ?>" >
                            <span class="imagen-info"></span>
                        </a>
                    </td>
                </tr>
<?php endforeach ; ?>
                    </tbody>
                </table>
                <br />
<?=

                $this->paginationControl(
                        $this->operaciones , 'Sliding' , 'operacion/_pag.phtml'
                ) ;

?>
