<h2>Pagos por equipos</h2>
<table border="1" class="listado">
    <thead>
        <tr>
            <th></th>
            <th><?= $this->translate( 'equipo' ) ?></th>
            <th><?= $this->translate( 'modelo' ) ?></th>
            <th><?= $this->translate( 'precio' ) ?></th>
            <th><?= $this->translate( 'fecha' ) ?></th>
            <th><?= $this->translate( 'cantidad' ) ?></th>
            <th><?= $this->translate( 'nro Cuotas' ) ?></th>
            <th><?= $this->translate( 'mora Diaria' ) ?></th>
            <th><?= $this->translate( 'forma de Pago' ) ?></th>
            <th><?= $this->translate( 'acciones' ) ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->operaciones as $operacion ): ?>
            <tr>
                <td></td>
                <td><?= $this->escape( $operacion->nombre ) ?></td>
                <td><?= $this->escape( $operacion->modelo ) ?></td>
                <td><?= $this->escape( $operacion->precio ) ?></td>
                <td><?= $this->escape( $operacion->fecha ) ?></td>
                <td><?= $this->escape( $operacion->cantidad ) ?></td>
                <td><?= $this->escape( $operacion->nrocuotas ) ?></td>
                <td><?= $this->escape( $operacion->moraxdia ) ?></td>
                <td><?= $this->escape( $operacion->formapago ) ?></td>
                <td>
                    <div id="container"></div>
                    <?php
                    $link = $this->url( array( 'module' => 'user' ,
                        'controller' => 'cuotaspago' ,
                        'action' => 'listar' ,
                        'id' => $operacion->id ) );
                    $this->ajaxLink( "uotas" , $link ,
                                     array( 'update' => '#container' ) );
                    ?>
                    <?php
                    ?>
                    <a href="<?= $link ?>">[Detalle de Pagos]</a>
                </td>

            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<br />
