<?
$objTraduccion = new Mtt_Models_Bussines_Traducciones();
$idLang = $this->sessionMtt->config->idlang;
?>

<h2>
    <?= $this->translate( 'ver detalle de operacion' ) ?>
</h2>
<div id="idOperacion">
    <p>
        <span class ="opcionDetalle">
            <?= $this->translate( 'numero de operacion' ) ?>
        </span>
        <span class ="valorDetalle">
            <?= $this->operacion->id ?>
        </span>
    </p>
    <p>

        <span class ="opcionDetalle">
            <?= $this->translate( 'estado' ) ?>
        </span>
        <span class ="valorDetalle">
        <?=
                    $objTraduccion->getTranslate(
                            Mtt_Models_Bussines_EstadoOperacion::ENTIDAD_ID ,
                            $this->operacion->estadooperacion_id , $idLang , $this->operacion->nombre
                    );

                    ?>
            
        </span>
    </p>
    <p>
        <span class ="opcionDetalle">
            <?= $this->translate( 'fecha' ) ?>
        </span>
        <span class ="valorDetalle">
            <?= $this->operacion->fecha ?> 
        </span>
    </p>
    <p>
        <span class ="opcionDetalle">
            <?= $this->translate( 'fecha de compra' ) ?>
        </span>
        <span class ="valorDetalle">
            <?= $this->operacion->fechainicio ?>
        </span>
    </p>
</div>
<div id="detalleOperacion">
    <table class="listado">
        <thead>
            <tr>
                <th><?= $this->translate( 'id equipo' ) ?></th>
                <th><?= $this->translate( 'nombre de equipo' ) ?></th>
                <th><?= $this->translate( 'precio' ) ?></th>
                <th><?= $this->translate( 'forma de pago' ) ?></th>
                <th><?= $this->translate( 'acciones' ) ?></th>

            </tr>
        </thead>
        <tbody>
            <? foreach ( $this->detalles as $operacion ) : ?>
                <tr>
                    <td>
                    <?= $operacion->id ?>
                </td>
                <td>
                    <?= $operacion->equipo ?>

                </td>
                <td>
                    <?= $operacion->precio ?>
                </td>
                <td>
                    <?=
                    $objTraduccion->getTranslate(
                            Mtt_Models_Bussines_FormaPago::ENTIDAD_ID ,
                            $operacion->formapago_id , $idLang , $operacion->nombre
                    );

                    ?>
                </td>
                <td>
                    <?php
                    $link =
                            $this->url(
                                    array(
                                        'slug' => $operacion->slug
                                    ) , 'slugEquipmentSale' , true )
                    ?>

                    <a href="<?= $link ?>"
                       title="<?= $this->translate( 'ver equipo' ) ?>" >
                        <span class ="imagen-see"
                              title="<?= $this->translate( 'ver equipo' ) ?>">

                        </span>
                    </a>
                </td>

            </tr>
            <? endforeach; ?>
        </tbody>
    </table>
</div>