<div id="divLeft" class="grid_8 alpha">
    <div id="divInformation">
        <div id="divLeftTitulo">
            <span><?= $this->translate( 'ultimas ventas' ) ?></span>
        </div>
        <div id="divLeftTituloContent">
            <table class="listado">
                <thead>
                    <tr>
                        <th>
                            <?= $this->translate( 'operacion id' ) ?>
                        </th>
                        <th>
                            <?= $this->translate( 'usuario' ) ?>
                        </th>

                        <th>
                            <?= $this->translate( 'forma de pago' ) ?>
                        </th>
                        <th>
                            <?= $this->translate( 'total' ) ?>
                        </th>
                        <th>
                            <?= $this->translate( 'fecha' ) ?>
                        </th>
                        <th>
                            <?= $this->translate( 'acciones' ) ?>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <? foreach ( $this->lastsales as $sale ): ?>
                        <tr>
                            <td><?= $sale->id ?></td>
                            <td><?= $sale->usuario ?></td>
                            <td><?= $sale->formapago ?></td>
                            <td><?= $sale->total ?></td>
                            <td><?= $sale->fecha ?></td>
                            <td>
                                <?php
                                $link = $this->url(
                                        array(
                                            'module' => 'admin' ,
                                            'controller' => 'operacion' ,
                                            'action' => 'detallaroperacion' ,
                                            'id' => $sale->id ) )
                                ?>
                                <a href="<?= $link ?>"
                                   title="<?= $this->translate( 'ver detalle de operacion' ) ?>">
                                    <span class="imagen-see"
                                          title="<?= $this->translate( 'ver detalle de operacion' ) ?>"
                                          >
                                    </span>

                                </a>
                            </td>
                        </tr>
<? endforeach; ?>
                </tbody>
            </table>

        </div>

    </div>
    <div id="divInformation">
        <div id="divLeftTitulo">
            <span><?= $this->translate( 'ultimos equipos subidos del mes' ) ?></span>
        </div>
        <div id="divLeftTituloContent">

            <table class="listado">
                <thead>
                    <tr>

                        <th>
<?= $this->translate( 'equipo' ) ?>
                        </th>

                        <th>
<?= $this->translate( 'fecha' ) ?>
                        </th>
                        <th>
<?= $this->translate( 'categoria' ) ?>
                        </th>
                        <th>
<?= $this->translate( 'fabricante' ) ?>
                        </th>
                        <th>
<?= $this->translate( 'acciones' ) ?>
                        </th>
                    </tr>
                </thead>
                <tbody>
<? foreach ( $this->lastequipments as $equipment ): ?>
                        <tr>

                            <td>
    <?= $equipment->nombre ?>
                            </td>

                            <td>
    <?= $equipment->publishdate ?>
                            </td>
                            <td>
    <?= $equipment->categoria ?>
                            </td>
                            <td>
    <?= $equipment->fabricante ?>
                            </td>
                            <td>
    <?php
    $link = $this->url( array(
        'slug' => $equipment->slug )
            , 'slugEquipment' , true )
    ?>
                                <a href="<?= $link ?>"
                                   title="<?= $this->translate( 'ver detalle del equipo' ) ?>">
                                    <span class="imagen-see"
                                          title="<?= $this->translate( 'ver detalle del equipo' ) ?>"
                                          >
                                    </span>

                                </a>
                            </td>
                        </tr>
<? endforeach; ?>
                </tbody>
            </table>
        </div>

    </div>

    <div id="divInformation">
        <div id="divLeftTitulo">
            <span><?= $this->translate( 'ultimos usuarios registrados' ) ?></span>
        </div>
        <div id="divLeftTituloContent">

            <table class="listado">
                <thead>
                    <tr>

                        <th>
<?= $this->translate( 'login' ) ?>
                        </th>

                        <th>
                            <?= $this->translate( 'nombres y apellidos' ) ?>
                        </th>
                        <th>
                            <?= $this->translate( 'fecha' ) ?>
                        </th>
                        <th>
                            <?= $this->translate( 'pais' ) ?>
                        </th>
                        <th>
                            <?= $this->translate( 'acciones' ) ?>
                        </th>
                    </tr>
                </thead>
                <tbody>
<? foreach ( $this->lastUser as $usuario ): ?>
                        <tr>

                            <td>
                        <?= $usuario->login ?>
                            </td>

                            <td>
                                <?= $usuario->apellido . ", " . $usuario->nombre_user ?>
                            </td>
                            <td>
                                <?= $usuario->fecharegistro ?>
                            </td>
                            <td>
                                <?= $usuario->pais ?>
                            </td>
                            <td>
                                <?php
                                $link = $this->url(
                                        array(
                                            'module' => 'admin' ,
                                            'controller' => 'user' ,
                                            'action' => 'ver' ,
                                            'id' => $usuario->id ) )
                                ?>
                                <a href="<?= $link ?>"
                                   title="<?= $this->translate( 'ver detalle del usuario' ) ?>">
                                    <span class="imagen-see"></span>

                                </a>
                            </td>
                        </tr>
<? endforeach; ?>
                </tbody>
            </table>
        </div>

    </div>




</div>

<div id="devRight" class="grid_8 omega">
    <div id="alertRight">
        <div id="divInformation">
            <div id="divLeftTitulo">
                <span><?= $this->translate( 'principales alertas' ) ?></span>
            </div>
            <div id="divLeftTituloContent">
                <table class="listado alert">
                    <thead>
                        <tr>

                            <th>
<?= $this->translate( 'cantidad' ) ?>
                            </th>
                            <th>
<?= $this->translate( 'descripcion' ) ?>
                            </th>
                            <th>
                                <?= $this->translate( 'acciones' ) ?>
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
<?= $this->nUserRegistrados->cantidad ?>
                            </td>
                            <td>
<?= $this->translate( 'usuarios pendientes de autorizacion' ) ?>
                            </td>
                            <td>
                                <?php
                                $link = $this->url(
                                        array(
                                            'module' => 'admin' ,
                                            'controller' => 'user' ,
                                            'action' => 'activausuarios' ) )
                                ?>
                                <a href="<?= $link ?>"
                                   title="<?= $this->translate( 'activar usuarios' ) ?>">
                                    <span class="imagen-see"
                                          title="<?= $this->translate( 'activar usuarios' ) ?>"
                                          >
                                    </span>

                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
<?= $this->nEquiposPendientes->cantidad ?>
                            </td>
                            <td>
<?= $this->translate( 'equipos pendientes de autorizacion' ) ?>
                            </td>
                            <td>
<?php
$link = $this->url(
        array(
            'module' => 'admin' ,
            'controller' => 'equipo' ,
            'action' => 'activaequipos' ) )
?>
                                <a href="<?= $link ?>"
                                   title="<?= $this->translate( 'ver equipos pendientes' ) ?>">
                                    <span class="imagen-see"
                                          title="<?= $this->translate( 'ver equipos pendientes' ) ?>"
                                          >

                                    </span>

                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
<?= $this->nPreguntas->cantidad ?>
                            </td>
                            <td>
<?= $this->translate( 'preguntas por responder' ) ?>
                            </td>
                            <td>
<?php
$link = $this->url(
        array(
            'module' => 'admin' ,
            'controller' => 'pregunta' ,
            'action' => 'questionunresolved' ) )
?>
                                <a href="<?= $link ?>"
                                   title="<?= $this->translate( 'ver preguntas para responder' ) ?>">
                                    <span class="imagen-see"
                                          title="<?= $this->translate( 'ver preguntas para responder' ) ?>
                                          >

                                          </span>

                                          </a>
                                          </td>
                                          </tr>
                                          <tr>
                                          <td>
<?= $this->nReservas->cantidad ?>
                                          </td>
                                          <td>
<?= $this->translate( 'equipos reservados' ) ?>
                                          </td>
                                          <td>
<?php
$link = $this->url(
        array(
            'module' => 'admin' ,
            'controller' => 'reserva' ,
            'action' => 'equiposreservados' ) )
?>
                                          <a href="<?= $link ?>"
                                          title="<?= $this->translate( 'ver equipos reservados' ) ?>">
                                          <span class="imagen-see"
                                          title="<?= $this->translate( 'ver equipos reservados' ) ?>"
                                          >

                                        </span>

                                </a>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--    <div id="navDevRight">

<?php
//        foreach (range(
//                1, 3
//        ) AS $article):
?>
<?php
//            $this->tabPane("newstab", "aca va el cuerpo $article", array(
//                'title' => "titulo $article",
//                'href' => "titulo $article"
//            ));
?>
<?php //endforeach;   ?>

    <?php
//        echo $this->tabContainer("newstab", array(), array('class' => 'flora'));
    ?>

</div>-->
</div>
<div class="clear">

</div>
