<header>
    <h2>
        <?= $this->manufacturer->nombre ?>
    </h2>

   
    <h3>
        <?= $this->translate( 'equipos nuevos' ) ?>
    </h3>
</header>

<div class="device-horizontal-list">
    <?


    /**/
    $cont = 0;
    /**/


    ?>
    <?php foreach ( $this->equipos as $equipo ): ?>
        <? $cont++; ?>
        <? if ( ($cont % 4) == 0 ): ?>
            <div class="last-div">
            <? else: ?>
                <div>
                <? endif; ?>
                <a href="
                <?=


                $this->url( array(
                    'slug' => $equipo->slug ) , 'slugEquipment' , true )


                ?>
                   ">
                       <?php


                       $url = (is_null( $equipo->imagen )) ?
                               '/media/catalog/product/avatar/no_image.png' :
                               '/media/catalog/product/avatar/' . $equipo->imagen


                       ?>
                    <img src="<?= $url ?>"
                         alt="<?= $equipo->equipo ?>"
                         title="<?= $equipo->equipo ?>"
                         />

                </a>

                <span class="manufacturer">
                    <?


                    $fabricanteModelo = "";

                    $fabricanteModelo = $equipo->fabricante . " " . $equipo->modelo;


                    ?>
                    <?


                    echo $fabricante = (strlen( $fabricanteModelo ) > 20) ?
                    substr( $fabricanteModelo , 0 , 20 ) . '..' :
                    $fabricanteModelo;


                    ?>


                </span>

                <span class="name" title="<?= $equipo->equipo ?>">

                    <?php


                    echo $nombre = (strlen( $equipo->equipo ) > 20) ?
                    substr( $equipo->equipo , 0 , 20 ) . '..' :
                    $equipo->equipo;


                    ?>

                </span>

                <a href="
                <?=


                $this->url( array(
                    'slug' => $equipo->slug ) , 'slugEquipment' , true )


                ?>
                   ">
                    <span>
                        <?= $this->translate( 'View details' ) ?>
                    </span>
                </a>
            </div>

        <?php endforeach; ?>
    </div>


