<h2> <?= $this->translate( 'cuotas de la operacion' ) ?>:
    <?= $this->translate( 'Total' ) ?> -
    <?= $this->total->total ?></h2>
<?= $this->formCuotasPago ?>
    <table border="1" class="listado">
        <thead>
            <tr>
                <th><?= $this->translate( 'id operacion' ) ?></th>
                <th><?= $this->translate( 'id pago' ) ?></th>
                <th><?= $this->translate( 'fecha limite de pago' ) ?></th>
                <th><?= $this->translate( 'monto' ) ?></th>
                <th><?= $this->translate( 'fecha de pago' ) ?></th>
                <th><?= $this->translate( 'pago' ) ?></th>
                <th><?= $this->translate( 'acciones' ) ?></th>
            </tr>
        </thead>
        <tbody>
        <?php $i = 1 ; ?>
        <?php foreach ( $this->cuotasoperacion as $cuotaoperacion ): ?>

        <?php $id = $cuotaoperacion->id ; ?>
            <tr>

                <td>
                <?= $this->escape( $cuotaoperacion->operacion_id ) ?>
            </td>
            <td>
                <?= $this->escape( $cuotaoperacion->id ) ?>
            </td>
            <td>
                <?= $this->escape( $cuotaoperacion->fechaLimite ) ?>
            </td>
            <td>
                <?= $this->escape( $cuotaoperacion->monto ) ?>
            </td>
            <td>
                <?= $this->escape( $cuotaoperacion->fechapago ) ?>
            </td>
            <td>
                <?= $this->escape( $cuotaoperacion->pago ) ?>
            </td>
            <td>


                <?php

                $link = $this->url(
                                array(
                                    'module' => 'admin' ,
                                    'controller' => 'cuotaspagooperacion' ,
                                    'action' => 'editar' ,
                                    'id' => $cuotaoperacion->id
                        ) )

                ?>
                <a href="<?= $link ?>"
                   title="<?= $this->translate( 'editar cuota' ) ?>" >
                    <span class ="imagen-edit"
                          title="<?= $this->translate( 'editar cuota' ) ?>">
                    </span>
                </a>
            </td>

        </tr>
<?php endforeach ; ?>
    </tbody>
</table>
<br />
