<header>
    <h2>
        <?= $this->translate( 'Contactenos' ) ?>
    </h2>
</header>
<?= $this->formContactar;?>
<div style="clear:both;"></div>
<span class="msj-required">* <?= $this->translate( 'requerido' ) ?></span>

