<h2><?= $this->translate( 'categoria' ) ?>
    <a href="<?=
$this->url( array(
    'module' => 'admin' ,
    'controller' => 'categoria' ,
    'action' => 'nuevo'
        ) , null , true )
?>"
       title="<?= $this->translate( 'nuevo' ) ?>">
        <span class="imagen-new"
              title="<?= $this->translate( 'nuevo' ) ?>"
              >

        </span>

    </a>
</h2>
<table border="1" class="listado">
    <thead>
        <tr>
            <th><?= $this->translate('Name') ?></th>
            <th><?= $this->translate('Title') ?></th>
            <th><?= $this->translate('Thumbnail') ?></th>
            <th><?= $this->translate('Description') ?></th>
            <th><?= $this->translate('Published') ?></th>
            <th><?= $this->translate('Order') ?></th>
            <th><?= $this->translate('acciones') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->categorias as $categoria): ?>

            <tr class="<?= $categoria->active ? 'activo' : 'inactivo' ?>">

                <td>
                    <?= $this->escape($categoria->nombre) ?>
                </td>
                <td>
                    <?= $this->escape($categoria->title) ?>
                </td>
                <td>
                    <?= $this->escape($categoria->descripcion) ?>
                </td>
                <td>
                    <?= $this->escape($categoria->thumbnail) ?>
                </td>
                <td>
                    <?= $this->escape($categoria->published) ?>
                </td>
                <td>
                    <?= $this->escape($categoria->order) ?>
                </td>

                <td>

                    <?php
                    $link = $this->url(
                            array(
                                'module' => 'admin',
                                'controller' => 'categoria',
                                'action' => 'editar',
                                'id' => $categoria->id))
                    ?>
                    <a href="<?= $link ?>"
                       title="<?= $this->translate('editar') ?>">
                        <span class="imagen-edit" 
                              title="<?= $this->translate( 'editar' ) ?>"
                              >
                        </span>
                    </a>

                    <?php
                    $link = $this->url(
                            array(
                                'module' => 'admin',
                                'controller' => 'categoria',
                                'action' => 'borrar',
                                'id' => $categoria->id)
                            )
                    ?>
                    <a href="<?= $link ?>" onclick="return confirm(
                    <?= $this->translate('¿Estás seguro?'); ?>
                        )" 
                       title="<?= $this->translate('eliminar'); ?>">
                        <span class="imagen-delete"
                              title="<?= $this->translate('eliminar'); ?>">
                        </span>
                    </a>

                    <? if ($categoria->active): ?>
                        <?
                        $link = $this->url(
                                array(
                                    'module' => 'admin',
                                    'controller' => 'categoria',
                                    'action' => 'desactivar',
                                    'id' => $categoria->id))
                        ?>
                        <a href="<?= $link ?>"
                           title="<?= $this->translate('Desactivar'); ?>">
                            <span class="imagen-desactivar" 
                                  title="<?= $this->translate('Desactivar'); ?>"
                                  >
                            </span>

                        </a>
                    <? else: ?>
                        <?
                        $link = $this->url(
                                array('module' => 'admin',
                                    'controller' => 'categoria',
                                    'action' => 'activar',
                                    'id' => $categoria->id))
                        ?>
                        <a href="<?= $link ?>"
                           title="<?= $this->translate('activar'); ?>">
                            <span class="imagen-activar"></span>

                        </a>
                    <? endif; ?>

                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<br />
<?=
$this->paginationControl(
        $this->categorias, 'Sliding', 'categoria/_pag.phtml'
);
?>
