<h2>
    <?= $this->translate( 'administrar mis equipos' ); ?>
</h2>

<a href="
<?=
    $this->url(
            array(
                'module' => 'user' ,
                'controller' => 'equipo' ,
                'action' => 'nuevo' ) , 'default' , true
    );
?>
       "
       >

        <span class="btn-enlace" title="<?= $this->translate( 'nuevo equipo' ) ?>">

        <?= $this->translate( 'nuevo equipo' ) ?>
    </span>
</a>


<!-- agregando Table -->
<table border="1" class="listado" style="width:720px">
    <thead>
        <tr>
            <th></th>
            <th><?= $this->translate( 'equipo' ) ?> </th>
            <th><?= $this->translate( 'fabricante' ) ?></th>
            <th><?= $this->translate( 'categoria' ) ?></th>
            <th><?= $this->translate( 'paises' ) ?></th>
            <th><?= $this->translate( 'estado equipo' ) ?></th>
            <th><?= $this->translate( 'calidad' ) ?></th>
            <th><?= $this->translate( 'acciones' ) ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->equipos as $equipo ): ?>

            <tr class="<?=
            strtolower(
                    $equipo->publicacionequipo
            )
        ?>">
            <td >
                <?php
                $url = (is_null( $equipo->image )) ?
                        '/theme/default/image/no_images.png' :
                        '/media/catalog/product/product/' . $equipo->image
                ?>
                <img src="<?= $url ?>" 
                     alt="<?= $equipo->equipo ?>"
                     width="24px" height="24px">
            </td>


            <td>
                <?= $this->escape( $equipo->equipo ) ?>
            </td>


            <td>
                <?= $this->escape( $equipo->fabricante ) ?>
            </td>

            <td>
                <?= $this->escape( $equipo->categoria ) ?>
            </td>

            <td>
                <?= $this->escape( $equipo->paises ) ?>
            </td>

            <td>
                <?= $this->escape( $equipo->estadoequipo ) ?>
            </td>

            <td>
                <?= $this->escape( $equipo->calidad ) ?>
            </td>
            <td>
                <?php
                switch ( $equipo->publicacionEquipo_id )
                    {
                    case Mtt_Models_Bussines_PublicacionEquipo::Pendiente :
                        $routesSlug = 'slugEquipmentDeactivated';
                        break;
                    case Mtt_Models_Bussines_PublicacionEquipo::Activada :
                        $routesSlug = 'slugEquipment';
                        break;
                    case Mtt_Models_Bussines_PublicacionEquipo::Eliminada :
                        $routesSlug = 'slugEquipmentDeactivated';
                        break;
                    case Mtt_Models_Bussines_PublicacionEquipo::Vendido :
                        $routesSlug = 'slugEquipmentSale';
                        break;
                    }

                $link =
                        $this->url(
                                array(
                                    'slug' => $equipo->slug
                                ) , $routesSlug , true )
                ?>
                <a href="<?= $link ?>" 
                   title="<?= $this->translate( 'ver equipo' ) ?>">
                    <span class ="imagen-see"
                          title="<?= $this->translate( 'ver equipo' ) ?>"
                          >
                    </span>
                </a>
                <?php
                $link = $this->url( array( 'module' => 'user' ,
                            'controller' => 'imagen' ,
                            'action' => 'nuevo' ,
                            'id' => $equipo->id ) )
                ?>
                <a href="<?=$link?>" 
                   title="<?= $this->translate( 'agregar imagen' ) ?>">
                    <span class ="imagen-addimage"
                          title="<?= $this->translate( 'agregar imagen' ) ?>"
                          >
                    </span>
                </a>

                <?php
                $link = $this->url( array( 'module' => 'user' ,
                            'controller' => 'equipo' ,
                            'action' => 'editar' ,
                            'id' => $equipo->id ) )
                ?>
                <a href="<?= $link ?>"
                   title="<?= $this->translate( 'editar equipo' ) ?>">
                    <span class ="imagen-edit"
                          title="<?= $this->translate( 'editar equipo' ) ?>"
                          >
                    </span>
                </a>

            </td>
        </tr>
        <?php endforeach; ?>
            </tbody>
        </table>
<?=
                $this->paginationControl(
                        $this->equipos , 'Sliding' , 'equipo/_pag.phtml'
                );
?>
