<h2>
    <?= $this->translate( 'registrar un nuevo equipo' ) ?>
</h2>
<?= $this->frmRegistrar; ?>
<div style="clear:both;"></div>
<span class="msj-required">* <?= $this->translate( 'requerido' ) ?></span>
