<h2><?= $this->translate('equipo') ?></h2>
<p></p>
<div id="device-foto-galery">
    <!--Producto -->

    <img src="/media/catalog/product/device-03-00.png" alt="">
    <!--Producto-->
    <!--\media\catalog\product\thumb-->
    <img src="http://medtechtrade.zend.local/media/catalog/product/thumb/device-03-01.png" alt="">
    <img src="/media/catalog/product/thumb/device-03-02.png" alt="">
    <img src="/media/catalog/product/thumb/device-03-03.png" alt="">
    <img src="/media/catalog/product/thumb/device-03-04.png" alt="">
    <!-- Fin de imagenes -->
    <a href="#"><img src="/images/arrow-left.png" alt=""></a>
    <a href="#"><img src="/images/arrow-right.png" alt=""></a>
</div>
<div id="info-equipo">
    <table border="1" class="detalleEquipo" >
        <tbody>
            <tr>
                <td class="encabezado">
                    <?= $this->translate('Name') ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?= $this->escape( $this->equipo->nombre ) ?>
                </td>
            </tr>
             <tr>
                <td class="encabezado">
                    <?= $this->translate('Model') ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?= $this->escape( $this->equipo->modelo ) ?>
                </td>
            </tr>
             <tr>
                <td class="encabezado">
                    <?= $this->translate('Country') ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?= $this->escape( $this->equipo->prefijo ) ?>
                </td>
            </tr>
            <tr>
                <td class="encabezado">
                    <?= $this->translate('Price') ?>
                </td>
            </tr>            
            <tr>
                <td>
                    <?= $this->escape( $this->equipo->preciocompra ) ?>
                </td>
            </tr>
            <tr>
                <td class="encabezado">
                    <?= $this->translate('Category') ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?= $this->escape( $this->equipo->categoria ) ?>
                </td>
            </tr>
            <tr>
                <td class="encabezado">
                    <?= $this->translate('State') ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?= $this->escape( $this->equipo->estadoequipo ) ?>
                </td>
            </tr>
            <tr>
                <td class="encabezado">
                    <?= $this->translate('Factory') ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?= $this->escape( $this->equipo->fabricante ) ?>
                </td>
            </tr>
            <tr>
                <td class="encabezado">
                    <?= $this->translate('Quality') ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?= $this->escape( $this->equipo->calidad ) ?>
                </td>
            </tr>

        </tbody>
    </table>
</div>
