<h2><?= $this->translate('equipos vendidos')?></h2>
<table border="1" class="listado" style="width:720px">
    <thead>
        <tr>
            <th><?= $this->translate( 'id operacion' ) ?></th>
            <th><?= $this->translate( 'fecha' ) ?></th>
            <th><?= $this->translate( 'nombre' ) ?></th>
            <th><?= $this->translate( 'precio' ) ?></th>
            <th><?= $this->translate( 'categoria' ) ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->equipos as $equipo ): ?>

            <tr class="<?= $equipo->active
                            ? 'activo' : 'inactivo' ?>">

                <td>
                    <?= $this->escape( $equipo->operacion_id ) ?>
                </td>
                <td>
                    <?= $this->escape( $equipo->fecha ) ?>
                </td>
                <td>
                    <?= $this->escape( $equipo->equipo ) ?>
                </td>
                <td>
                    <?= $this->escape( $equipo->simbolomoneda). " " .
                    $this->escape( $equipo->precio ) ?>
                </td>
                <td>
                    <?= $this->escape( $equipo->categoria ) ?>
                </td>
                
               
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<br/>
<?=
$this->paginationControl(
        $this->equipos, 'Sliding', 'equipo/_pag.phtml'
);
?>