<form action="<?= $this->escape($this->form->getAction()) ?>"
      method="<?= $this->escape($this->form->getMethod()) ?>">

    <table class="listado">
        <thead>
            <tr>
                <th>

                    <?= $this->translate('activar') ?>
                </th>
                <th>
                    <?= $this->translate('equipo') ?>
                </th>
                <th>
                    <?= $this->translate('precio compra') ?>
                </th>
                <th>
                    <?= $this->translate('precio de venta') ?>

                </th>
                <th>
                    <?= $this->translate('calidad') ?>
                </th>
                <th>
                    <?= $this->translate('usuario') ?>
                </th>
                <th>
                    <?= $this->translate('moneda') ?>
                </th>
                <th>
                    <?= $this->translate('paises') ?>
                </th>
                <th>
                    <?= $this->translate('image') ?>
                </th>
            </tr>
        </thead>
        <tbody>

            <? foreach ($this->form->getSubforms() as $form): ?>
                <? if ($form->id_equipo): ?>
                    <tr>
                        <td>

                            <?= $form->id_equipo->renderViewHelper() ?>
                            <?= $form->id_equipo_hidden->renderViewHelper() ?>

                        </td>
                        <td>
                            <?= $form->equipo->renderViewHelper() ?>
                        </td>
                        <td>
                            <?= $form->preciocompra->renderViewHelper() ?>
                        </td>
                        <td>
                            <?= $form->precioventa->renderViewHelper() ?>
                            <?= $form->precioventa->renderErrors() ?>
                        </td>
                        <td>
                            <?= $form->calidad->renderViewHelper() ?>

                        </td>
                        <td>
                            <?= $form->usuario->renderViewHelper() ?>

                        </td>
                        <td>
                            <?= $form->moneda->renderViewHelper() ?>

                        </td>
                        <td>
                            <?= $form->paises->renderViewHelper() ?>

                        </td>

                        <td>
                            <?= $form->imagethumb->renderViewHelper() ?>
                        </td>
                    </tr>
                <? endif; ?>

            <? endforeach; ?>


        </tbody>
        <tfoot>
            <tr>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th>
                    <?= $this->form->submit->renderViewHelper() ?>
                </th>
            </tr>
        </tfoot>
    </table>


</form>

<? Zend_Debug::dump($this->data) ?>