<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>
<div id="tabs">
    <ul>
        <li><a href="#fragment-1"><span>Datos</span></a></li>
        <li><a href="#fragment-2"><span>Preguntas</span></a></li>
        <li><a href="#fragment-3"><span>Reservas</span></a></li>
        <li><a href="#fragment-4"><span>Operaciones</span></a></li>
        <li><a href="#fragment-5"><span>Estadisticas</span></a></li>
        <li><a href="#fragment-6"><span>Envio</span></a></li>
    </ul>
       <div id="fragment-1">
        <p><?= $this->form ?></p>

    </div>
    <div id="fragment-2">
        <?= $this->render('equipo/detalle/preguntas.phtml'); ?>

    </div>
    <div id="fragment-3">
        <?= $this->render('equipo/detalle/reservas.phtml'); ?>    

    </div>
    <div id="fragment-4">
        <?= $this->render('equipo/detalle/operaciones.phtml'); ?>

    </div>
    <div id="fragment-5">
        <p>&nbsp;</p>

    </div>
    <div id="fragment-6">
        <p>&nbsp;</p>

    </div>

</div>