<?= Zend_Debug::dump($this->values)?>
<form id="frmActiveEquipment" action="" method="post">
    <fieldset>
        <legend><?= $this->translate('equipos pendientes de activacion')?></legend>
       
        <fieldset>
            <? $key = 'id'; ?>
            <? $n_key = 'n_'.$key; ?>
            <div id="experiencias" class="multi-container" data-section-name="xxx">
                    <? foreach ($this->equipos as  $equipo): ?>
                        <div class="element-<?=$equipo->id?>">
                            <div class="item-<?=$equipo->id?>">
                                
                          
                                <?= $this->frmActivarMultiplesEquipos->id->renderViewHelper() ?>
                                <?= $this->frmActivarMultiplesEquipos->id->renderErrors() ?>
                            </div>
                            <div class="element-equipo">
                                <?= $equipo->equipo ?>
                              
                            </div>
                            <div class="element-usuario">
                                <?= $equipo->usuario ?>
                              
                            </div>
                            <div class="precio-<?=$equipo->id?>">
                          
                                <?= $this->frmActivarMultiplesEquipos->precioventa->renderViewHelper() ?>
                                <?= $this->frmActivarMultiplesEquipos->precioventa->renderErrors() ?>
                            </div>
                            
                        </div>    
                    <? endforeach; ?>
                
            </div>
        </fieldset>
        
    </fieldset>
    <?= $this->frmActivarMultiplesEquipos->submit->renderViewHelper()  ?>
</form>
<?= Zend_Debug::dump($this->equipos) ?>