<ul id="myMenu" class="contextMenu">
    <li class="addTopOffers"><a href="#addTopOffers"><?= $this->translate( 'Add Ofers' ) ?></a></li>
    <li class="quitOffers"><a href="#quitOffers"><?= $this->translate( 'Quit Ofers' ) ?></a></li>
    <li class="payment"><a href="#payment"><?= $this->translate( 'agregar tipos de pago' ) ?></a></li>
    <li class="edit"><a href="#edit"><?= $this->translate( 'editar' ) ?></a></li>
    <li class="imagen"><a href="#imagen"><?= $this->translate( 'agregar imagen' ) ?></a></li>
    <li class="publish"><a href="#publish"><?= $this->translate( 'publicar' ) ?></a></li>
    <li class="active "><a href="#active"><?= $this->translate( 'activar' ) ?></a></li>
    <li class="inactive"><a href="#inactive"><?= $this->translate( 'desactivar' ) ?></a></li>
</ul>


<div class="grid_16">
    <div class="grid_5 alpha">
        <h2> <?= $this->translate( 'equipos' ) ?>:</h2>
    </div>
    <div class="grid_11 omega">


        <a href="<?=

$this->url( array(
	'module' => 'admin' ,
	'controller' => 'equipo' ,
	'action' => 'nuevo'
		) , null , true )

?>"
           title="<?= $this->translate( 'nuevo' ) ?>">
            <span class="imagen-new"
                  title="<?= $this->translate( 'nuevo' ) ?>"
                  >

            </span>

        </a>

		<span class="btn-enlace">

			<a id="exportarPeru" href="#"  title="Exportar">
				<?= $this->translate( 'Exportar Para Peru' ) ?>
			</a>
		</span>
		<span class="btn-enlace">

			<a id="exportarChile" href="#"  title="Exportar">
				<?= $this->translate( 'Exportar Para Chile' ) ?>
			</a>
		</span>
		<span class="btn-enlace">
			<a id="exportarSuiza" href="#"  title="Exportar">
				<?= $this->translate( 'Exportar Para Suiza' ) ?>
			</a>
		</span>
		<span class="btn-enlace">

			<a id="exportarPolonia" href="#"  title="Exportar">
				<?= $this->translate( 'Exportar Para Polonia' ) ?>
			</a>
		</span>




    </div>
</div>

<div id="downloadExcel" class="grid_16" style="display: none;text-align: center;">
	
</div>



<div class="grid_16">
	<?= $this->grid ; ?>
</div>

