<h2><?= $this->translate( 'equipo' ) ?>
    <a href="<?=

$this->url( array(
    'module' => 'admin' ,
    'controller' => 'equipo' ,
    'action' => 'nuevo'
        ) , null , true )

?>"
       title="<?= $this->translate( 'nuevo' ) ?>">
        <span class="imagen-new"
              title="<?= $this->translate( 'nuevo' ) ?>"
              >

        </span>

    </a>
</h2>
<table border="1" class="listado">
    <thead>
        <tr>
            <th><?= $this->translate( 'nombre' ) ?></th>
            <th><?= $this->translate( 'modelo' ) ?></th>
            <th><?= $this->translate( 'categoria' ) ?></th>
            <th><?= $this->translate( 'estado' ) ?></th>
            <th><?= $this->translate( 'usuario' ) ?></th>
            <th><?= $this->translate( 'fabricacion' ) ?></th>
            <th><?= $this->translate( 'publicacion' ) ?></th>
            <th><?= $this->translate( 'fabricante' ) ?></th>
            <th><?= $this->translate( 'pais' ) ?></th>
            <th><?= $this->translate( 'operaciones' ) ?></th>

        </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->equipos as $equipo ): ?>

        <?php $id = $equipo->id ; ?>
            <tr class="<?= $equipo->active
                                ? 'activo' : 'inactivo' ?>">

            <td>
                <?php

                $link = $this->url( array( 'module' => 'admin' ,
                            'controller' => 'user' ,
                            'action' => 'detalle' ,
                            'id' => $equipo->id ) )

                ?>
                <a href="#"
                   onclick="prueba(<?= $this->escape( $equipo->id ) ?>)">
                       <?= $this->escape( $equipo->equipo ) ?>
                </a>

            </td>
            <td>
                <?= $this->escape( $equipo->modelo ) ?>
                   </td>
                   <td>
                <?= $this->escape( $equipo->categoria ) ?>
                   </td>
                   <td>
                <?= $this->escape( $equipo->estadoequipo ) ?>
                   </td>
                   <td>
                <?= $this->escape( $equipo->usuario ) ?>
                   </td>
                   <td>
                <?= $this->escape( $equipo->fechafabricacion ) ?>
                   </td>
                   <td>
                <?= $this->escape( $equipo->publishdate ) ?>
                   </td>
                   <td>
                <?= $this->escape( $equipo->fabricante ) ?>
                   </td>
                   <td>
                <?= $this->escape( $equipo->paises ) ?>
                   </td>
                   <td>


                <? if ( !$equipo->topofers ): ?>

                <?php

                           $link = $this->url(
                                           array(
                                               'module' => 'admin' ,
                                               'controller' => 'equipo' ,
                                               'action' => 'addtopofers' ,
                                               'id' => $id ) )

                ?>
                           <a href="<?= $link ?>"
                              title="<?= $this->translate( 'Add Ofers' ) ?>" >
                               <span class="imagen-top"
                                     title="<?= $this->translate( 'Add Ofers' ) ?>"
                                     >
                               </span>
                           </a>

                <? else: ?>
                <?php

                               $link = $this->url(
                                               array(
                                                   'module' => 'admin' ,
                                                   'controller' => 'equipo' ,
                                                   'action' => 'quittopofers' ,
                                                   'id' => $id ) )

                ?>
                               <a href="<?= $link ?>"
                                  title="<?= $this->translate( 'Quit Ofers' ) ?>" >
                                   <span class="imagen-bottom"></span>
                               </a>

                <? endif ; ?>

                <?php

                               $link = $this->url(
                                               array(
                                                   'module' => 'admin' ,
                                                   'controller' => 'equipoformapago' ,
                                                   'action' => 'nuevo' ,
                                                   'id' => $id ) )

                ?>
                <? if ( $equipo->active == 1 ) : ?>
                                   <a href="<?= $link ?>"
                                      title="<?= $this->translate( 'agregar tipos de pago' ) ?>" >
                                       <span class="imagen-pay"
                                             title="<?= $this->translate( 'agregar tipos de pago' ) ?>"
                                             >

                                       </span>
                                   </a>
                <? endif ; ?>
                <?php

                                   $link = $this->url(
                                                   array(
                                                       'module' => 'admin' ,
                                                       'controller' => 'equipo' ,
                                                       'action' => 'editar' ,
                                                       'id' => $id ) )

                ?>
                                   <a href="<?= $link ?>"
                                      title="<?= $this->translate( 'editar' ) ?>" >
                                       <span class="imagen-edit"
                                             title="<?= $this->translate( 'editar' ) ?>"
                                             >
                                       </span>
                                   </a>

                <? if ( $equipo->active ): ?>
                <?

                                       $link = $this->url(
                                                       array(
                                                           'module' => 'admin' ,
                                                           'controller' => 'equipo' ,
                                                           'action' => 'desactivar' ,
                                                           'id' => $id ) )

                ?>
                                       <a href="<?= $link ?>"
                                          title="<?= $this->translate( 'Desactivar' ) ?>" >
                                           <span class="imagen-desactivar"
                                                 title="<?= $this->translate( 'Desactivar' ) ?>"
                                                 >

                                           </span>
                                       </a>

                <? else: ?>
                <?

                                           $link = $this->url(
                                                           array( 'module' => 'admin' ,
                                                               'controller' => 'equipo' ,
                                                               'action' => 'activar' ,
                                                               'id' => $id ) )

                ?>
                                           <a href="<?= $link ?>"
                                              title="<?= $this->translate( 'Activar' ) ?>" >
                                               <span class="imagen-activar"></span>
                                           </a>

                <? endif ; ?>

                                       </td>
                                   </tr>
        <?php endforeach ; ?>
                                       </tbody>
                                   </table>
                                   <br />

                                   <a href="<?=

                                           $this->url(
                                                   array(
                                                       'module' => 'admin' ,
                                                       'controller' => 'equipo' ,
                                                       'action' => 'nuevo' ) , null , true
                                           )

        ?>"><?= $this->translate( 'nuevo' ) ?></a>

<?=

                                           $this->paginationControl(
                                                   $this->equipos , 'Sliding' , 'equipo/_pag.phtml'
                                           ) ;

?>
