<h2>$this->formPersona</h2>
<?= var_dump(array_keys($this->formPersona->getElements())) ?>
<hr />
<?= var_dump($this->formPersona->getValues()) ?>
<hr />
<?= var_dump($this->n_items) ?>
<hr />

(((<?=$this->formPersona->nombre->renderViewHelper()?>)))

<form id="frmPaso2" action="" method="post">
    <fieldset>
        <legend>Persona</legend>
        <div class="element">
            Nombre: 
            <?= $this->formPersona->nombre->renderViewHelper() ?>
            <?= $this->formPersona->nombre->renderErrors() ?>
        </div>
        <div class="element">
            Email: 
            <?= $this->formPersona->email->renderViewHelper() ?>
            <?= $this->formPersona->email->renderErrors() ?>
        </div>
        <fieldset>
            <legend>Experiencia</legend>
            <? $key = 'experiencias'; ?>
            <? $n_key = 'n_'.$key; ?>
            <input type="hidden" id="<?=$n_key?>" name="<?=$n_key?>" value="<?=$this->n_items[$key]?>" />
            <div id="experiencias" class="multi-container" data-section-name="<?=$key?>">
                <? if ($this->n_items[$key]): ?>
                    <? foreach (range(1, $this->n_items[$key]) as $i): ?>
                        <div class="<?=$key?>">
                            <div class="element">
                                Empresa:
                                <? $e = $key . "_empresa_" . $i; ?>
                                <?= $this->formPersona->$e->renderViewHelper() ?>
                                <?= $this->formPersona->$e->renderErrors() ?>
                            </div>
                            <div class="element">
                                Tag:
                                <? $e = $key . "_tag_" . $i; ?>
                                <?= $this->formPersona->$e->renderViewHelper() ?>
                                <?= $this->formPersona->$e->renderErrors() ?>
                            </div>
                            <div class="element">
                                Nivel: 
                                <? $e = $key . "_nivel_" . $i; ?>
                                <?= $this->formPersona->$e->renderViewHelper() ?>
                                <?= $this->formPersona->$e->renderErrors() ?>
                            </div>
                            <a href="#" class="del">Borrar Experiencia</a>
                        </div>    
                    <? endforeach; ?>
                <? endif; ?>
            </div>
            <hr />
            <a href="#" id="addXP">Agregar Experiencia</a>
        </fieldset>
        <fieldset>
            <legend>Estudios</legend>
            <? $key = 'estudios'; ?>
            <? $n_key = 'n_'.$key; ?>
            <input type="hidden" id="<?=$n_key?>" name="<?=$n_key?>" value="<?= $this->n_items[$key]?>" />
            <div id="estudios" class="multi-container" data-section-name="<?=$key?>">
                <? if ($this->n_items[$key]): ?>
                    <? foreach (range(1, $this->n_items[$key]) as $i): ?>
                        <div class="<?=$key?>">
                            <div class="element">
                                Institución:
                                <? $e = $key . "_institucion_" . $i; ?>
                                <?= $this->formPersona->$e->renderViewHelper() ?>
                                <?= $this->formPersona->$e->renderErrors() ?>
                            </div>
                            <div class="element">
                                Tag:
                                <? $e = $key . "_tag_" . $i; ?>
                                <?= $this->formPersona->$e->renderViewHelper() ?>
                                <?= $this->formPersona->$e->renderErrors() ?>
                            </div>
                            <div class="element">
                                Nivel: 
                                <? $e = $key . "_nivel_" . $i; ?>
                                <?= $this->formPersona->$e->renderViewHelper() ?>
                                <?= $this->formPersona->$e->renderErrors() ?>
                            </div>
                            <a href="#" class="del">Borrar Estudio</a>
                        </div>    
                    <? endforeach; ?>
                <? endif; ?>
            </div>
            <hr />
            <a href="#" id="addEstudios">Agregar Estudio</a>
        </fieldset>
    </fieldset>
    <input type="submit" />
</form>

<div id="template-xp" class="hide">
    <? $key = 'experiencias'; ?>
    <div class="<?=$key?>">
        <div class="element">
            Empresa: 
            <?= $this->formPersona->getSectionForm($key)->empresa->renderViewHelper() ?>
        </div>
        <div class="element">
            Tag: 
            <?= $this->formPersona->getSectionForm($key)->tag->renderViewHelper() ?>
        </div>
        <div class="element">
            Nivel: 
            <?= $this->formPersona->getSectionForm($key)->nivel->renderViewHelper() ?>
        </div>
        <a href="#" class="del">Borrar Experiencia</a>
    </div>    
</div>
<div id="template-estudio" class="hide">
    <? $key = 'estudios'; ?>
    <div class="<?=$key?>">
        <div class="element">
            Institución:
            <?= $this->formPersona->getSectionForm($key)->institucion->renderViewHelper() ?>
        </div>
        <div class="element">
            Tag: 
            <?= $this->formPersona->getSectionForm($key)->tag->renderViewHelper() ?>
        </div>
        <div class="element">
            Nivel: 
            <?= $this->formPersona->getSectionForm($key)->nivel->renderViewHelper() ?>
        </div>
        <a href="#" class="del">Borrar Estudio</a>
    </div>    
</div>


<script type="text/javascript">
    $(function(){
        
        var Aptitus = {
            countFieldsMultiForm : function(){
                var i;
                $('.multi-container').each(function(){
                    key = $(this).attr('data-section-name');
                    $('#n_'+key).val( $(this).children('.'+key).size());
                    i=1;
                    $($(this).find('.'+key)).each(function(){
                        $($(this).find('.multi')).each(function(){
                            basename = $(this).attr('data-basename');
                            $(this).attr('name', key+'_'+basename+'_'+i);
                            $(this).attr('id', key+'_'+basename+'_'+i);
                        });
                    i++;
                    });
                });
            }
        };
        
        var key;
        $('#addXP').click(function(){
            $('#experiencias').append($('#template-xp').html());
            return false;
        });
        $('#addEstudios').click(function(){
            $('#estudios').append($('#template-estudio').html());
            return false;
        });
        $('.del').live('click',function(){
            $(this).parent().remove();
            return false;
        });
        if($('#n_experiencias').val()=='0'){
            $('#addXP').click();
        }
        if($('#n_estudios').val()=='0'){
            $('#addEstudios').click();
        }
        
        $('#frmPaso2').submit(function(){
            Aptitus.countFieldsMultiForm();
            return false;
        });
        
        
    });
</script>

<style type="text/css">
    .hide{display: none;}
    .element{
        border: 1px gray solid;
        width: 300px;
        margin: 3px;
        padding: 5px;
    }
    #experiencias{border: 1px red dashed; padding: 10px;}
    #estudios{border: 1px green dashed; padding: 10px;}
    .experiencia{
        border: 1px darkred solid;
        width: 350px;
        margin: 3px;
        padding: 5px;
    }
    .estudio{
        border: 1px darkgreen solid;
        width: 350px;
        margin: 3px;
        padding: 5px;
    }
</style>