<script type="text/javascript">

$(document).ready(function() {

    $("a#ajax").fancybox({
        'transitionIn'	:	'elastic',
        'transitionOut'	:	'elastic',
        'speedIn'		:	600, 
        'speedOut'		:	200, 
        'overlayShow'	:	false
    });
    
});
</script>
<?=
$this->dialogContainer(
        'dialog', $this->translate('desea eliminar la reserva')
        , array(
    'autoOpen' => false,
    'draggable' => true,
    'modal' => true,
    'resizable' => true,
    'title' => $this->translate('Confirm Delete'),
    'closeOnEscape' => true,
    'buttons' => array(
        'Delete' => new Zend_Json_Expr('function() {
            document.location=\'' . $this->url(array(
                    'module' => 'crm',
                    'controller' => 'postcode',
                    'action' => 'delete'
                        ), "", true) . '\' 
        }'),
        'Cancel' => new Zend_Json_Expr('function() {
            $(this).dialog(\'close\');
        }')
    ),
        )
);
?>


<h2>
    <?= $this->translate('mis preguntas') ?>
</h2>
<table border="1" class="listado" style="width:720px">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                <?= $this->translate('equipo') ?>
            </th>
            <th>
                <?= $this->translate('asunto') ?>
            </th>
            <th>
                <?= $this->translate('fecha') ?>
            </th>
            <th>
                <?= $this->translate('pregunta') ?>
            </th>
            <th>
                <?= $this->translate('fecha') ?>
            </th>
            <th>
                <?= $this->translate('respuesta') ?>
            </th>
            <th>
                <?= $this->translate('acciones') ?>
            </th>
        </tr>
    </thead>

    <tbody>
        <?php foreach ($this->preguntas as $pregunta): ?>

            <tr>

                <td>
                    <a href="
                    <?=
                    $this->url(
                            array(
                        'slug' => $pregunta->slug), 'slugEquipment', true
                    )
                    ?>
                       " title="<?= $pregunta->slug ?>">
                           <?php
                           $url = (is_null($pregunta->imagen)) ?
                                   '/theme/default/image/no_images.png' :
                                   '/media/catalog/product/thumb/' . $pregunta->imagen
                           ?>
                        <img src="<?= $url ?>" 
                             alt="<?= $pregunta->slug ?>"
                             width="24px" height="24px">
                    </a>
                </td>
                <td>
                    <?= $this->escape($pregunta->equipo) ?>
                </td>
                <td>
                    <?= $this->escape($pregunta->asunto) ?>
                </td>
                <td>
                    <?= $this->escape($pregunta->fechaformulacion) ?>
                </td>
                <td>
                    <a id="ajax" href="
                       <?=
                       $this->url(
                               array(
                           'module' => 'user',
                           'controller' => 'pregunta',
                           'action' => 'ver',
                           'format' => 'html',
                           'id' => $pregunta->id
                               ), 'default', true
                       )
                       ?>"
                       >
                           <? $tool = new Mtt_Tools_Text(); ?>
                           <?=
                           $tool->getShortText(
                                   $pregunta->formulacion, 50
                           )
                           ?>
                    </a>

                 

                </td>
                <td>
                    <?=
                    $this->escape(
                            $pregunta->fecharespuesta
                    )
                    ?>
                </td>
                <td>
                    <?=
                    $this->escape(
                            htmlentities($pregunta->respuesta)
                    )
                    ?>
                </td>
                <td>

                    <?=
                    $this->ajaxLink(
                            "<span class='imagen-see'></span>", "/user/pregunta/ver/format/json", array(
                        'dataType' => 'json',
                        'beforeSend' =>
                        'myBeforeSendCallbackJsFunc();',
                        'complete' =>
                        'myCompleteSendCallJsFunc(data);',
                        'method' => 'POST'
                            ), array(
                        'id' => $pregunta->id
                            )
                    );
                    ?>


                </td>

            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?=
$this->paginationControl(
        $this->preguntas, 'Sliding', 'pregunta/_pag.phtml'
);
?>
