<h2>
    <?= $this->translate( 'registrar nueva pregunta' ) ?>
</h2>
<?=$this->frmRegistrar;?>
<div style="clear:both;"></div>
<span class="msj-required">* <?= $this->translate( 'requerido' ) ?></span>