<h2>
	<?= $this->translate( 'pregunta' ) ?>
</h2>
<? if ( is_object( $this->response ) ): ?>
		<table class="listado">

			<tbody>

				<tr>
					<td>
				<?= $this->translate( 'fecha' ) ?>:
			</td>
			<td>
				<?//= $this->response->fechaFormulacion ?>
			</td>
		</tr>

		
		<tr>
			<td>
				<?= $this->translate( 'pregunta' ) ?>:
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td colspan="2">
				<?= $this->response->formulacion ?>
			</td>
		</tr>


	</tbody>
</table>

<? else: ?>
<?= $this->response ?>
<? endif ; ?>