<div id="wrap-bottom" class="wrapper">
    <div id="section-bottom" class="section">
        <div id="section-bottom-footer-butt">
            <div id="section-bottom-buttons">
                <ul>
                    <li>
                        <span>
                            <a href="
                            <?=
                            $this->url( array( 'controller' => 'index' ,
                                'action' => 'index' ) , 'default' , true )
                            ?>"
                               title="<?= $this->translate( 'home' ) ?>">
                                   <?= $this->translate( 'home' ) ?>
                            </a>
                        </span>
                    </li>
                    <li><span>|</span></li>
                    <li><span>
                            <a href="/resources/CGC_MedTechTrade.pdf"
                               title="<?= $this->translate( 'CGC' ) ?>"
                               target="_blank">
                                   <?= $this->translate( 'CGC' ) ?>
                            </a>
                        </span>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li>
                        <span>
                            <a href="
                            <?=
                            $this->url( array( 'controller' => 'index' ,
                                'action' => 'aboutus' ) , 'default' , true )
                            ?>"
                               title="<?= $this->translate( 'quienes somos' ) ?>">
                                   <?= $this->translate( 'quienes somos' ) ?>
                            </a>
                        </span>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li>
                        <span>
                            <a href="
                            <?=
                            $this->url( array( 'controller' => 'news' ,
                                'action' => 'index' ) , 'default' , true )
                            ?>"
                               title="<?= $this->translate( 'noticias' ) ?>">
                                   <?= $this->translate( 'noticias' ) ?>
                            </a>
                        </span>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li><span>
                            <a href="
                            <?=
                            $this->url( array( 'controller' => 'index' ,
                                'action' => 'team' ) , 'default' , true )
                            ?>"
                               title="<?= $this->translate( 'team' ) ?>">
                                   <?= $this->translate( 'team' ) ?>
                            </a>
                        </span>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li><span>
                            <a href="
                            <?=
                            $this->url( array( 'controller' => 'index' ,
                                'action' => 'jobs' ) , 'default' , true )
                            ?>"
                               title="<?= $this->translate( 'jobs' ) ?>">
                                   <?= $this->translate( 'jobs' ) ?>
                            </a>
                        </span>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li><span>
                            <a href="
                            <?=
                            $this->url( array( 'controller' => 'index' ,
                                'action' => 'references' ) , 'default' , true )
                            ?>"
                               title="<?= $this->translate( 'referencias' ) ?>">
                                   <?= $this->translate( 'referencias' ) ?>
                            </a>
                        </span>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li><span>
                            <a href="
                            <?=
                            $this->url( array( 'controller' => 'index' ,
                                'action' => 'legalnotice' ) , 'default' , true )
                            ?>"
                               title="<?= $this->translate( 'aviso legal' ) ?>">
                                   <?= $this->translate( 'aviso legal' ) ?>
                            </a>
                        </span>
                    </li>

                </ul>
            </div>
        </div>
        <div id="section-contacts">
            <?= $this->render( '_contact.phtml' ) ?>
        </div>    
        <div id="section-bottom-footer">
            <div id="section-botttom-copyright">
                <p>&copy; 2011 MedTechTrade AG, <?= $this->translate( 'All Rights Reserved' ) ?></p>
                <p>
                   <a href="http://www.stockergroup.com" title ="http://www.stockergroup.com" target="_blank"> 
                    <?= $this->translate( 'Powered by Stocker Group' ) ?>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

