<div id="logo-top">
    <a href ="
    <?=
    $this->url(
            array( 'module' => 'default' ,
        'controller' => 'index' ,
        'action' => 'index' ) , 'default' , true
    )
    ?>
       ">
        <img src="/theme/default/image/logo-top.png">
    </a>
</div>
<div id="dataUser">
    <? if ( Zend_Auth::getInstance()->hasIdentity() ): ?>
        <div id="userData">
            <?= $this->translate( 'Welcome' ) . ' ' . $this->authUser ?>

        </div>
        <div id="#my-account">
           
        </div>

        <div id="formIdioma">
            <form action="<?= $this->escape( $this->formIdiomaPais->getAction() ) ?>"
                  method="<?= $this->escape( $this->formIdiomaPais->getMethod() ) ?>">
                   
                <div id="btn-myAccount" style ="margin-top: 15px;">

               <span class="btn-enlace" style="padding:3px">
            
                <a href="
                <?= $this->url( array( 'controller' => 'usuario' ,
                    'action' => 'index' ) , 'default' , true ) ?>">
                       <?= $this->translate( 'my account' ); ?>

                </a> 
                    </span>
                </div>

                <div id="pais">
                    <?= $this->formIdiomaPais->pais_id; ?>
                </div>
                <div id="idioma">
                    <?= $this->formIdiomaPais->idioma_id; ?>
                </div>
                <!--div id="recordar">
                    <? //= $this->formIdiomaPais->recordar; ?>
                </div -->
                <div id="button">
                    <?= $this->formIdiomaPais->submit; ?>
                </div>
            </form>
        </div>
    <? else: ?>
        <div id="userData">
           
        </div>
       
        <div id="formIdioma">

            <form action="<?= $this->escape( $this->formIdiomaPais->getAction() ) ?>"
                  method="<?= $this->escape( $this->formIdiomaPais->getMethod() ) ?>">
               <div id="btn-myAccount" style ="margin-top: 15px;">

               <span class="btn-enlace" style="padding:3px">
            
                <a href="
                <?= $this->url( array( 'controller' => 'usuario' ,
                    'action' => 'index' ) , 'default' , true ) ?>">
                       <?= $this->translate( 'my account' ); ?>

                </a> 
                    </span>
                </div>
                <div id="pais">
                    <?= $this->formIdiomaPais->pais_id; ?>
                </div>
                <div id="idioma">
                    <?= $this->formIdiomaPais->idioma_id; ?>
                </div>
                <div id="recordar">
                </div>
                <div id="button">
                    <?= $this->formIdiomaPais->submit; ?>
                </div>
            </form>
        </div>
    <? endif; ?>
</div>

