<?= $this->doctype() ; ?>
<html>
    <head>
        <?= $this->headMeta() ?>        
        <?= $this->headTitle() ?> 
        <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <?=

        $this->headLink()->prependStylesheet( '/theme/default/css/reset.css' )
                ->headLink()->appendStylesheet(
                        '/theme/default/css/form.css'
                )
                ->headLink()->appendStylesheet( '/theme/default/css/listado.css' )
                ->headLink()->appendStylesheet(
                        '/theme/default/css/user.css'
                )
                ->headLink()->appendStylesheet(
                        '/theme/default/css/ie9.css'
                        , 'screen' ,
                        ' IE 9' 
                        )
                ->headLink()->appendAlternate( '/humans.txt' , 'text/plain' ,
                'author' , '' ) ;

        ?>
        <?=

        $this->jQuery() ;

        ?>
        <?=

        $this->headScript()
                ->appendFile(
                        'https://apis.google.com/js/plusone.js'
                )
                ->appendFile(
                        '/js/ckeditor/ckeditor.js'
                )
        ;

        ?>
        <?= $this->render( '_google_analytics.phtml' );  ?>
    </head>
    <body>
<? //= $this->render( '_redes.phtml' );  ?>
    <header>

        <div id="wrap-top" class="wrapper">
            <div id="section-top" class="section">
<?= $this->render( '_header.phtml' ) ; ?>
                <nav>
<?= $this->render( '_navegacion.phtml' ) ; ?>
                </nav>
            </div>
        </div>
    </header>

    <section>

        <div id="wrap-middle" class="wrapper">
            <div id="section-middle" class="section">


                <article>

                    <div id="section-middle-body">

                        <div id="section-middle-content">
                            <?= $this->render( '_messages.phtml' ) ; ?>

<?= $this->layout()->content ?>

                        </div>
                        <div id="section-middle-acciones">
<?= $this->render( '_listAcciones.phtml' ) ?>
                        </div>
                        <div class="clear">

                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <footer>

<?= $this->render( '_footer.phtml' ) ?>
    </footer>
</body>
</html>