<table border="1" class="listado">
    <thead>
        <tr>
            <th><?= $this->translate('numero') ?></th>
            <th><?= $this->translate('fecha') ?></th>
            <th><?= $this->translate('descripcion') ?></th>
            
        </tr>
    </thead>
    <tbody>
        <?php $n = 0;?>
        <?php foreach ($this->envios as $envio): ?>

            <?php 
                $id = $envio->id; 
                $n++;
            ?>
            <tr>
                <td>
                    <?= $n?>
                </td>
                <td>
                    <?= $this->escape($envio->fecha) ?>
                </td>
                <td>
                    <?= $this->escape($envio->descripcion) ?>
                </td>
       
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<br />
    <?=
    $this->paginationControl(
            $this->envios , 'Sliding' , 'operacionenvios/_pag.phtml'
    );
    ?>
