<h2>
    <?= $this->translate( 'idioma' ) ?>:
</h2>
<div class="grid_16">

    <table border="1" class="listado">
        <thead>
            <tr>
                <th>
                    <?= $this->translate( 'nombre' ) ?>
                </th>
                <th>
                    <?= $this->translate( 'prefijo' ) ?>
                </th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ( $this->idiomas as $idioma ): ?>
            <?php $id = $idioma->id ; ?>
                        <tr class="<?= $idioma->active
                                            ? 'activo' : 'inactivo' ?>">

                            <td>
<?= $this->escape( $idioma->nombre ) ?>
                    </td>
                    <td>
<?= $this->escape( $idioma->prefijo ) ?>
                    </td>
                    <td>

                    <?php

                        $link = $this->url(
                                        array(
                                            'module' => 'admin' ,
                                            'controller' => 'idiomas' ,
                                            'action' => 'edit' ,
                                            'id' => $id )
                                )

                    ?>
                        <a href="<?= $link ?>">
                            <span class="imagen-edit"
                                  title="<?= $this->translate( 'editar' ) ?>"
                                  >

                            </span>
                        </a>

                    <?php

                        $link = $this->url(
                                        array( 'module' => 'admin' ,
                                            'controller' => 'idiomas' ,
                                            'action' => 'delete' ,
                                            'id' => $id )
                                )

                    ?>

                     <a href="<?= $link ?>" onclick="return confirm(
<?= $this->translate( '¿Estás seguro?' ) ; ?>
                         )"
                        title="<?= $this->translate( 'eliminar' ) ?>">
                         <span class="imagen-delete"
                               title="<?= $this->translate( 'eliminar' ) ?>">

                         </span>

                     </a>

                    <?php if ( $idioma->active ): ?>
                    <?

                            $link = $this->url(
                                            array(
                                                'module' => 'admin' ,
                                                'controller' => 'idiomas' ,
                                                'action' => 'desactivar' ,
                                                'id' => $id ) )

                    ?>
                            <a href="<?= $link ?>"
                               title="<?= $this->translate( 'desactivar' ) ?>">

                                <span class="imagen-desactivar"  
                                      title="<?= $this->translate( 'desactivar' ) ?>"
                                      >
                                </span>
                            </a>
                    <? else: ?>
<?

                                $link = $this->url(
                                                array( 'module' => 'admin' ,
                                                    'controller' => 'idiomas' ,
                                                    'action' => 'activar' ,
                                                    'id' => $id ) )

?>
                                <a href="<?= $link ?>"
                                           title="<?= $this->translate( 'activar' ) ; ?>">
                                            <span class="imagen-activar"></span>

                                        </a>
<? endif ; ?>

                                    </td>
                                </tr>
<?php endforeach ; ?>
                                        </tbody>
                                    </table>

                                </div>

                                <a href="<?=

                                $this->url( array(
                                    'module' => 'admin' ,
                                    'controller' => 'idiomas' ,
                                    'action' => 'new'
                                        ) , 'default' , true )

?>">
<?= $this->translate( 'nuevo' ) ?>
                                </a>
<?=

                                $this->paginationControl(
                                        $this->idiomas , 'Sliding' , 'idiomas/_pag.phtml'
                                ) ;

?>
