<header>
    <h2>
		<?= $this->translate( 'Forgot your password' ) ?>
    </h2>
</header>

<p>
	<?= $this->translate('Please enter the e-mail address for your account. A verification token will be sent to you. Once you have received the token, you will be able to choose a new password for your account.')?>
</p>

<?= $this->formRecoveryPassword ; ?>
		<div style="clear:both;"></div>
		<span class="msj-required">* <?= $this->translate( 'requerido' ) ?>
		</span>

