<h2> 
    <?= $this->translate( 'mis busquedas guardadas' ) ?>
</h2>

<div id="acciones-div">
    <?php
    $link = $this->url( array( 'module' => 'user' ,
                'controller' => 'busqueda' ,
                'action' => 'index' ) )
    ?>
    <a href="<?= $link ?>"
       title="<?= $this->translate( 'nueva busqueda' ) ?>">
        <span class="imagen-new"
              title="<?= $this->translate( 'nuevo' ) ?>"
              >

        </span>
    </a>
</div>

<table class="listado" style="width:720px">
    <thead>
        <tr>
            <th>
<?= $this->translate( "buscar por" ) ?>
            </th>
            <th>
<?= $this->translate( "modelo" ) ?>
            </th>
            <th>
<?= $this->translate( "fabricante" ) ?>
            </th>
            <th>
<?= $this->translate( "desde" ) ?>
            </th>
            <th>
<?= $this->translate( "hasta" ) ?>
            </th>
            <th>
<?= $this->translate( "precio desde" ) ?>
            </th>
            <th>
<?= $this->translate( "precio hasta" ) ?>
            </th>
            <th>
<?= $this->translate( "acciones" ) ?>
            </th>
        </tr>
    </thead>
    <tbody>
<?php foreach ( $this->busquedas as $busqueda ): ?>
        <tr>
            <td>
<?= $this->escape( $busqueda->palabras_busqueda ) ?>
            </td>
            <td>
<?= $this->escape( $busqueda->modelo ) ?>
            </td>
            <td>
<?= $this->escape( $busqueda->fabricante ) ?>
            </td>
            <td>
<?= $this->escape( $busqueda->anio_inicio ) ?>
            </td>
            <td>
<?= $this->escape( $busqueda->anio_fin ) ?>
            </td>
            <td>
<?= $busqueda->precio_inicio ?>
            </td>
            <td>
<?= $busqueda->precio_fin ?>
            </td>
            <td>
<?php
        $link = $this->url( array( 'module' => 'user' ,
                    'controller' => 'busqueda' ,
                    'action' => 'ver' ,
                    'id' => $busqueda->id ) )
?>
                <a href="<?= $link ?>"
                   title="<?= $this->translate( 'ver busqueda' ) ?>">
                    <span class="imagen-see"
                          title="<?= $this->translate( 'ver busqueda' ) ?>"
                          ></span>
                </a>

<?php
                $link = $this->url( array( 'module' => 'user' ,
                            'controller' => 'busqueda' ,
                            'action' => 'editar' ,
                            'id' => $busqueda->id ) )
?>
                <a href="<?= $link ?>"
                   title="<?= $this->translate( 'editar busqueda' ) ?>">
                    <span class="imagen-edit"
                          title="<?= $this->translate( 'editar' ) ?>"
                          >
                    </span>
                </a>

<?php
                $link = $this->url( array( 'module' => 'user' ,
                            'controller' => 'busqueda' ,
                            'action' => 'borrar' ,
                            'id' => $busqueda->id ) )
?>
                <a href="<?= $link ?>"
                   onclick="return confirm(
                       '<?=$this->translate( '¿estas seguro?' ) ?>'
                   )"
                   title="<?= $this->translate( 'eliminar busqueda' ) ?>">
                    <span class="imagen-delete"
                          title="<?= $this->translate( 'eliminar busqueda' ) ?>"
                          ></span>
                </a>

            </td>
        </tr>

<?php endforeach; ?>
    </tbody>
</table>
<?=
                $this->paginationControl(
                        $this->busquedas , 'Sliding' , 'busqueda/_pag.phtml'
                );
?>
