<h2>
    <?= $this->translate( 'resultados de la busqueda' ) ?>
</h2>
<table border="1" class="listado">
    <thead>
        <tr>
            <th>
                <?= $this->translate( 'imagen' ) ?>
            </th>
            <th>
                <?= $this->translate( 'equipo' ) ?>
            </th>
            <th>
                <?= $this->translate( 'fabricante' ) ?>
            </th>
            <th>
                <?= $this->translate( 'categoria' ) ?>
            </th>
            <th>
                <?= $this->translate( 'modelo' ) ?>
            </th>
            <th>
                <?= $this->translate( 'fechafabricacion' ) ?>
            </th>
            <th>
                <?= $this->translate( 'acciones' ) ?>
            </th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->resultados as $result ): ?>
            <tr>
                <td>
                    <?php
                    $url = (is_null( $result->image )) ?
                            '/theme/default/image/no_images.png' :
                            '/media/catalog/product/' . $result->image
                    ?>
                    <img src="<?= $url ?>" 
                         alt="<?= $result->equipo ?>"
                         width="24px" height="24px" />
                </td>
                <td>
                    <?= $this->escape( $result->equipo ) ?>
                </td>
                <td>
                    <?= $this->escape( $result->fabricante ) ?>
                </td>
                <td>
                    <?= $this->escape( $result->categoria ) ?>
                </td>
                <td>
                    <?= $this->escape( $result->modelo ) ?>
                </td>
                <td>
                    <?= $this->escape( $result->fechafabricacion ) ?>
                </td>
                <td>
                    <?php
                    $link =
                            $this->url(
                            array(
                        'slug' => $result->slug
                            ) , 'slugEquipment' , true )
                    ?>

                    <a href="<?= $link ?>">
                        <?= $this->translate( 'ver detalles' ) ?>
                    </a>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?=
$this->paginationControl(
        $this->resultados , 'Sliding' , 'busqueda/_pag.phtml'
);
?>
