<h2>
    <?= $this->translate( 'validacion de correo' ) ?>
</h2>

<? if ( isset( $this->data ) ): ?>
    <div id="panel" class="panel-info">
        <p>
            <?= $this->translate( 'bienvenido usuario' ) ?> : <?= $this->data->login ?>
            <?= $this->translate( 'se a validado el correo' ) ?> : <?= $this->data->email ?>
        </p>

    </div>
<? else: ?>
    <div id="panel" class="panel-error">
        <p>
            <?= $this->translate( 'error su codigo de activacion no es correcto' ) ?>
        </p>

    </div>
<? endif ; ?>

