<h2>
    <?= $this->translate( 'login' ) ?>
</h2>
<p>


    <?=

    $this->translate(
            'estimado usuario si desea cargar sus dispositivos para la venta por favor ingrese con sus datos abajo si no esta registrado aun haga click en'
    ) ;

    ?>


    <span class="btn-enlace" style="padding:2px;">

        <a href="
        <?=

        $this->url( array( 'controller' => 'usuario' ,
            'action' => 'registro' ) ,
                    'default' ,
                    true )

        ?>">
<?= $this->translate( 'registrarse' ) ?>

        </a>    
    </span>


</p>
<?= $this->formlogin ; ?>
<div class="forgot" >

    <a href="
    <?=

    $this->url( array( 'controller' => 'recovery' ,
        'action' => 'index' ) ,
                'default' ,
                true )

    ?>">
<?= $this->translate( 'Forgot your Password?' ) ?>

    </a>
</div>
