<h2>
    <?=

    $this->translate(
            'el lugar al que a querido ingresar antes se debe de logear'
    )

    ?>
</h2>


<p>
<?= $this->translate( 'debe de logearse' )

?>
</p>
    <? if ( isset( $this->data->module ) ): ?>
    <p>
        <?= $this->translate( 'no puede acceder a la pagina web' ) ?> : 
        <?=

        $this->data->module .
                '/' . $this->data->controller
                . '/' . $this->data->action

        ?>

    </p>
<? endif ; ?>


