<h2>
    <?= $this->translate( 'registro' ) ?>
</h2>
<?= $this->translate( 'su registro es gratuito' ) ; ?>
<?= $this->frmRegistrar ;

?>
<div style="clear:both;"></div>
<span class="msj-required">* <?= $this->translate( 'requerido' ) ?></span>
