
<header>
    <h2>
        <?= $this->translateCategoria ?>
    </h2>

    <?= $this->formOrder ?>

    <br/>

    <h3>
        <?= $this->translate( 'equipos nuevos' ) ?>
    </h3>
</header>

<span class="see-more">
    <a href="
    <?=

    $this->url( array(
        'slug' => $this->categoria->slug ) ,
                'slugCategoryAllEquip' ,
                true )

    ?>">
           <?=

           $this->translate( 'click para ver todos' )

           ?>
    </a>
</span>
<div class="device-horizontal-list">
<?

/**/
$cont = 0 ;
/**/

?>
    <?php foreach ( $this->productos as $producto ): ?>
        <? $cont++ ; ?>
        <? if ( ($cont % 4) == 0 ): ?>
            <div class="last-div">
        <? else: ?>
                <div>
        <? endif ; ?>
                <a href="
            <?=

            $this->url( array(
                'slug' => $producto->slug ) ,
                        'slugEquipment' ,
                        true )

            ?>
                   ">
                <?php

                $url = (is_null( $producto->imagen )) ?
                        '/media/catalog/product/avatar/no_image.png' :
                        '/media/catalog/product/avatar/' . $producto->imagen

                ?>
                    <img src="<?= $url ?>"
                         alt="<?= $producto->nombre ?>"
                         title="<?= $producto->nombre ?>"
                         />

                </a>

                <span class="manufacturer">
    <?

    $fabricanteModelo = "" ;

    $fabricanteModelo = $producto->fabricante . " " . $producto->modelo ;

    ?>
                    <?

                    $fabricante = (strlen( $fabricanteModelo ) > 20) ?
                            substr( $fabricanteModelo ,
                                    0 ,
                                    20 ) . '..' :
                            $fabricanteModelo

                    ?>
                    <?= $fabricante ?>            

                </span>

                <span class="name" title="<?= $producto->nombre ?>">

                    <?php

                    $nombre = (strlen( $producto->nombre ) > 20) ?
                            substr( $producto->nombre ,
                                    0 ,
                                    20 ) . '..' :
                            $producto->nombre

                    ?>
                    <?= $nombre ?>
                </span>

                <a href="
                    <?=

                    $this->url( array(
                        'slug' => $producto->slug ) ,
                                'slugEquipment' ,
                                true )

                    ?>
                   ">
                    <span>
                <?= $this->translate( 'View details' ) ?>
                    </span>
                </a>
            </div>

            <?php endforeach ; ?>
    </div>
    <br/>
                    <?=

                    $this->paginationControl(
                            $this->productos ,
                            'Sliding' ,
                            'categoria/_pag.phtml'
                    ) ;

                    ?>
    <br/>
    <h3>
    <?= $this->translate( 'equipos mas solicitados' ) ?>
    </h3>
    <span class="see-more">
        <a href="#">
    <? //=$this->translate( 'Click to see all' )?></a>
    </span>

    <div class="device-horizontal-list">
        <?

        /**/
        $cont = 0 ;
        /**/

        ?>
        <?php foreach ( $this->equipoOfert as $producto ): ?>
            <? $cont++ ; ?>
            <? if ( ($cont % 4) == 0 ): ?>
                <div class="last-div">
            <? else: ?>
                    <div>
            <? endif ; ?>

                    <a href="
            <?=

            $this->url( array(
                'slug' => $producto->slug ) ,
                        'slugEquipment' ,
                        true )

            ?>
                       ">
                    <?php

                    $url = (is_null( $producto->imagen )) ?
                            '/media/catalog/product/avatar/no_image.png' :
                            '/media/catalog/product/avatar/' . $producto->imagen

                    ?>
                        <img src="<?= $url ?>"
                             alt="<?= $producto->nombre ?>"
                             title="<?= $producto->nombre ?>"
                             />

                    </a>

                    <span class="manufacturer">
                           <?

                           $fabricanteModelo = "" ;

                           $fabricanteModelo = $producto->fabricante . " " . $producto->modelo ;

                           ?>
    <?

    $fabricante = (strlen( $fabricanteModelo ) > 20) ?
            substr( $fabricanteModelo ,
                    0 ,
                    20 ) . '..' :
            $fabricanteModelo

    ?>
                        <?= $fabricante ?> 
                    </span>
                    <span class="name">

                        <?php

                        $nombre = (strlen( $producto->nombre ) > 20) ?
                                substr( $producto->nombre ,
                                        0 ,
                                        20 ) . '..' :
                                $producto->nombre ;


                        echo($nombre)

                        ?>
                    </span>
                    <a href="
                        <?=

                        $this->url( array(
                            'slug' => $producto->slug ) ,
                                    'slugEquipment' ,
                                    true )

                        ?>
                       ">
                        <span>
                    <?= $this->translate( 'View details' ) ?>
                        </span>
                    </a>
                </div>
                <?php endforeach ; ?>


        </div>
