<table border="1" class="listado">
    <thead>
        <tr>
            <th>Nro Cuota</th>
            <th>Monto</th>
            <th>Fecha Pago</th>
            <th>Fecha Limite</th>
            <th>Mora Diaria</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach( $this->cuotaspago as $cuotapago ): ?>
            <tr>
                
                <td><?= $this->escape( $cuotapago->nrocuota ) ?></td>
                <td><?= $this->escape( $cuotapago->pago ) ?></td>
                <td><?= $this->escape( $cuotapago->fpagocuota ) ?></td>
                <td><?= $this->escape( $cuotapago->fechalimite ) ?></td>
                <td><?= $this->escape( $cuotapago->mora ) ?></td>
                <td><?= $this->escape( $cuotapago->estadocuota ) ?></td>
                
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>