<ul>
    <li>
        <a href="
        <?=
        $this->url( array(
            'module' => 'admin' ,
            'controller' => 'cms' ,
            'action' => 'index' ) , 'default' , true )
        ?>">
            <span>

                <?= $this->translate( 'List of Page' ) ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url( array(
            'module' => 'admin' ,
            'controller' => 'cms' ,
            'action' => 'new' ) , null , true )
        ?>">
            <span>

                <?=  $this->translate( 'Creation of Page' )  ?>
            </span>
        </a>
    </li>


</ul>
