<ul>
    <li>
        <a href="
        <?=
        $this->url(array(
            'module' => 'admin',
            'controller' => 'moneda',
            'action' => 'index'), null, true)
        ?>">
            <span>
                
               <?= $this->translate('Tipo de Monedas') ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url(array(
            'module' => 'admin',
            'controller' => 'fabricante',
            'action' => 'index'), null, true)
        ?>">
            <span>
                
               <?= $this->translate('Manufacturer') ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url(array(
            'module' => 'admin',
            'controller' => 'categoria',
            'action' => 'index'), null, true)
        ?>">
            <span>
                
               <?= $this->translate('Category') ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url(array(
            'module' => 'admin',
            'controller' => 'paises',
            'action' => 'index'), null, true)
        ?>">
            <span>
                
               <?= $this->translate('paises') ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url(array(
            'module' => 'admin',
            'controller' => 'idiomas',
            'action' => 'index'), null, true)
        ?>">
            <span>
                
               <?= $this->translate('idiomas') ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url(array(
            'module' => 'admin',
            'controller' => 'translate',
            'action' => 'index'), null, true)
        ?>">
            <span>
                
               <?= $this->translate('translate') ?>
            </span>
        </a>
    </li>
    


</ul>
