<ul>
    <li>
        <a href="
        <?=
        $this->url( array(
            'module' => 'admin' ,
            'controller' => 'user' ,
            'action' => 'activausuarios' ) , null , true )
        ?>">
            <span>
                
               <?=  $this->translate( 'usuarios pendientes' ) ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url( array(
            'module' => 'admin' ,
            'controller' => 'equipo' ,
            'action' => 'activaequipos' ) , null , true )
        ?>">
            <span>
                
               <?= $this->translate( 'equipos pendientes' ) ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url( array(
            'module' => 'admin' ,
            'controller' => 'pregunta' ,
            'action' => 'questionunresolved' ) , null , true )
        ?>">
            <span>
                
               <?= $this->translate( 'preguntas por responder' ) ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url( array(
            'module' => 'admin' ,
            'controller' => 'operacion' ,
            'action' => 'index' ) , null , true )
        ?>">
            <span>
                
               <?= $this->translate( 'Nuevas ventas realizadas' ) ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url( array(
            'module' => 'admin' ,
            'controller' => 'reserva' ,
            'action' => 'equiposreservados' ) , null , true )
        ?>">
            <span>
                
               <?= $this->translate( 'Equipos reservados' ) ?>
            </span>
        </a>
    </li>

</ul>

