<ul>

    <li>
        <a href="
        <?=


        $this->url( array(
            'module' => 'admin' ,
            'controller' => 'equiporequerido' ,
            'action' => 'index' ) , 'default' , true )


        ?>">
            <span>

<?= $this->translate( 'equipos requeridos' ) ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=


        $this->url( array(
            'module' => 'admin' ,
            'controller' => 'equipo' ,
            'action' => 'jqgrid' ) , 'default' , true )


        ?>">
            <span>

<?= $this->translate( 'beta jqgrid' ) ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=


        $this->url( array(
            'module' => 'admin' ,
            'controller' => 'programa' ,
            'action' => 'index' ) , 'default' , true )


        ?>">
            <span>

<?= $this->translate( 'programa' ) ?>
            </span>
        </a>
    </li>

</ul>

