<ul>
    <li>
        <a href="
        <?=
        $this->url(array(
            'module' => 'admin',
            'controller' => 'estadistica',
            'action' => 'index'), null, true)
        ?>">
            <span>
                
               <?= $this->translate('Equipos') ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url(array(
            'module' => 'admin',
            'controller' => 'estadistica',
            'action' => 'favoritos'), null, true)
        ?>">
            <span>
                
               <?= $this->translate('Favoritos') ?>
            </span>
        </a>
    </li>
    <li>
        <a href="
        <?=
        $this->url(array(
            'module' => 'admin',
            'controller' => 'estadistica',
            'action' => 'reservas'), null, true)
        ?>">
            <span>
                
               <?= $this->translate('Reservas') ?>
            </span>
        </a>
    </li>


</ul>
