<?


if (
        !is_null( $this->producto->modelo )
 ):


    ?>
    <span class="device-description-field">
    <?= $this->translate( 'Model' ) ?>
    </span>
    <span>
    <?= $this->producto->modelo ?>
    </span>
<? endif; ?>
<?


if (
        !is_null( $this->producto->fabricante )
 ):


    ?>
    <span class="device-description-field">
    <?= $this->translate( 'fabricante' ) ?>
    </span>
    <span>
    <?= $this->producto->fabricante ?>
    </span>
<? endif; ?>

    <?


    if (
            !is_null(
                    $this->producto->pais
            )
    ):


        ?>

    <span class="device-description-field">
    <?= $this->translate( 'Origin' ) ?>
    </span>
    <span>
        <?= $this->producto->pais ?>
    </span>
    <? endif; ?>

<?


if (
        !is_null(
                $this->producto->id
        )
 ):


    ?>
    <span class="device-description-field">
    <?= $this->translate( 'Article ID' ) ?>
    </span>
    <span>
    <?= $this->producto->id ?>
    </span>
    <? endif; ?>

    <?


    if (
            !is_null( $this->producto->fechafabricacion )
            && ($this->producto->fechafabricacion > 0)
    ):


        ?>
    <span class="device-description-field">
    <?= $this->translate( 'Date/Year of manufacture' ) ?>
    </span>
    <span>
        <?


        $date = new Zend_Date( $this->producto->fechafabricacion , 'YYYY-MM-dd' );
        echo $date->get( Zend_Date::YEAR );


        ?>
    </span>
<? endif; ?>

<?


if (
        !is_null(
                $this->producto->pesoEstimado
        )
        && $this->producto->pesoEstimado <> 0 && !empty( $this->producto->pesoEstimado )
 ):


    ?>
    <span class="device-description-field">
        <?= $this->translate( 'Estimated weight (KG)' ) ?>
    </span>
    <span>
        <?= $this->producto->pesoEstimado ?>
    </span>
<? endif; ?>

<?


if (
        !is_null( $this->producto->size )
        && $this->producto->size <> 0 && !empty( $this->producto->size )
 ):


    ?>
    <span class="device-description-field">
    <?= $this->translate( 'tamaño' ) ?>
    </span>
    <span>
    <?= $this->producto->size ?>
    </span>
<? endif; ?>

    <?


    if (
            !is_null( $this->producto->ancho )
            && $this->producto->ancho <> 0 && !empty( $this->producto->ancho )
    ):


        ?>
    <span class="device-description-field">
    <?= $this->translate( 'ancho' ) ?>
    </span>
    <span>
    <?= $this->producto->ancho ?>
    </span>
    <? endif; ?>

<?


if (
        !is_null( $this->producto->alto )
        && $this->producto->alto <> 0 && !empty( $this->producto->alto )
 ):


    ?>
    <span class="device-description-field">
    <?= $this->translate( 'alto' ) ?>
    </span>
    <span>
    <?= $this->producto->alto ?>
    </span>
    <? endif; ?>

<?


if (
        !is_null( $this->producto->sizeCaja )
        && $this->producto->sizeCaja <> 0 && !empty( $this->producto->sizeCaja )
 ):


    ?>
    <span class="device-description-field">
    <?= $this->translate( 'tamaño de la caja' ) ?>
    </span>
    <span>
           <?= $this->producto->sizeCaja ?>
    </span>
        <? endif; ?>


        <?


        if (
                !is_null(
                        $this->producto->calidad
                )
                && !empty( $this->producto->calidad )
        ):


            ?>
    <span class="device-description-field">
        <?= $this->translate( 'Quality/Condition' ) ?>
    </span>
    <span>


    <?= $this->producto->calidad ?>
    </span>
<? endif; ?>

    <?


    if (
            !is_null(
                    $this->producto->cantidad
            )
            && $this->producto->cantidad <> 0 && !empty( $this->producto->cantidad )
    ):


        ?>
    <span class="device-description-field">
    <?= $this->translate( 'Mode Amount of equipment' ) ?>
    </span>
    <span>
    <?= $this->producto->cantidad ?>
    </span>
<? endif; ?>
<?


if ( !is_null( $this->producto->sourceDocumento ) 
        && $this->producto->sourceDocumento <> "" 
        && Mtt_Tools_Text::getExtension( $this->producto->sourceDocumento ) <> "." ):

    ?>
    <span class="device-description-field">
    <?= $this->translate( 'documento' ) ?>
    </span>
    <span>
        <a href="/resources/files/<?= $this->producto->sourceDocumento ?>" target="_blank"
           >
            <img border="0" src="/theme/default/image/device-action-pdf.png" alt="download">
    <?=


    (!is_null( $this->producto->documento )
            && $this->producto->documento <> "") ?
                    $this->producto->documento :
                    $this->translate( 'descargar archivo' )


    ?>

        </a>
    </span>
<? endif; ?>
<? if ( !is_null( $this->producto->descripcion ) && !empty( $this->producto->descripcion ) ): ?>
    <span class="device-description-field">
    <?= $this->translate( 'Description' ) ?>
    </span>
    <span>
    <?= $this->producto->descripcion ?>
    </span>
<? endif; ?>

<?


if (
        !is_null( $this->producto->especificaciones )
        && !empty( $this->producto->especificaciones )
 ):


    ?>
    <span class="device-description-field">
    <?= $this->translate( 'Specifications' ) ?>
    </span>
    <span>
    <?= $this->producto->especificaciones ?>
    </span>
<? endif; ?>