<div id="device-actions">
    <a href="">
        <span class="device-action-pdf">
            <?= $this->translate( 'Download PDF' ) ?>
        </span>
    </a>
    <a href="#">
        <span class="device-action-print">
            <?= $this->translate( 'Print' ) ?>
        </span>
    </a>
    <a href="#">
        <span class="device-action-friend">
            <?= $this->translate( 'Tell a Friend' ) ?>
        </span>
    </a>
</div>