<table border="1" class="listado">
    <thead>
        <tr>
            <th><?= $this->translate( 'Name' ) ?></th>
            <th><?= $this->translate( 'Modelo' ) ?></th>
            <th><?= $this->translate( 'Categoria' ) ?></th>
            <th><?= $this->translate( 'Estado Equipo' ) ?></th>
            <th><?= $this->translate( 'Fecha de Fabricacion' ) ?></th>
            <th><?= $this->translate( 'Fecha de Publicacion' ) ?></th>
            <th><?= $this->translate( 'Fabricante' ) ?></th>
            <th><?= $this->translate( 'Pais' ) ?></th>               
        </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->equipos as $equipo ): ?>

            <?php $id = $equipo->id; ?>
            <tr class="<?= $equipo->active
                            ? 'activo' : 'inactivo' ?>">

                <td>
                    <?= $this->escape( $equipo->equipo ) ?>
                </td>
                <td>
                    <?= $this->escape( $equipo->modelo ) ?>
                </td>
                <td>
                    <?= $this->escape( $equipo->categoria ) ?>
                </td>
                <td>
                    <?= $this->escape( $equipo->estadoequipo ) ?>
                </td>
                <td>
                    <?= $this->escape( $equipo->fechafabricacion ) ?>
                </td>
                <td>
                    <?= $this->escape( $equipo->publishdate ) ?>
                </td>
                <td>
                    <?= $this->escape( $equipo->fabricante ) ?>
                </td>
                <td>
                    <?= $this->escape( $equipo->paises ) ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>