<table border="1" class="listado">
    <thead>
        <tr>
            <th><?= $this->translate( 'Date' ) ?></th>
            <th><?= $this->translate( 'Product' ) ?></th>
            <th><?= $this->translate( 'Precio' ) ?></th>
            <th><?= $this->translate( 'Pay' ) ?></th>
            <th><?= $this->translate( 'Cuotas' ) ?></th>
            <th><?= $this->translate( 'Pagado' ) ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->operaciones as $operacion ): ?>

            <?php $id = $operacion->id; ?>
            <tr>
                <td>
                    <?= $this->escape( $operacion->fecha ) ?>
                </td>
                <td>
                    <?= $this->escape( $operacion->nombre ) ?>
                </td>
                <td>
                    <?= $this->escape( $operacion->precio ) ?>
                </td>
                <td>
                    <?= $this->escape( $operacion->formapago ) ?>
                </td>
                <td>
                    <?= $this->escape( $operacion->nrocuotas ) ?>
                </td>
                <td>
                    <?= $this->escape( $operacion->totalpago ) ?>
                </td>
        <?php endforeach; ?>
    </tbody>
</table>
<br />