<table class="listado">
    <tbody>
        <?php foreach ( $this->preguntas as $pregunta ): ?>
            <tr class="<?= $pregunta->active
                            ? 'activo' : 'inactivo' ?>">

                <td>
                    <?= $this->escape( $pregunta->nombre ) ?>
                </td>


            </tr>

            <tr class="<?= $pregunta->active
                                    ? 'activo' : 'inactivo' ?>">

                <td>
                    <?= $this->escape( $pregunta->formulacion ) ?>
                </td>
                <td>
                    <?= $this->escape( $pregunta->fechaformulacion ) ?>
                </td>

            </tr>

            <tr class="<?= $pregunta->active
                                    ? 'activo' : 'inactivo' ?>">

                <td>
                    <?= $this->escape( $pregunta->respuesta ) ?>
                </td>
                <td>
                    <?= $this->escape( $pregunta->fecharespuesta ) ?>
                </td>

            </tr>
        <?php endforeach; ?>
    </tbody>
</table>