<div class="grid_16">


    <div id="programa" class="grid_8 alpha">
        <h4>
            <a 
                href="#"
                id="equiposNuevosAjax"
                >
                    <?= $this->translate( 'Equipos Nuevos' ) ?>

            </a>
        </h4>
        <div id="equiposNuevosData">

        </div>

    </div>
    <div id="manufacturer" class="grid_8 omega">
        <h4>
            <a 
                href="#" 
                id="manufacturerAjax">
                    <?= $this->translate( 'Manufacturers' ) ?>
            </a> 
        </h4>
        <div id="divFrmManufacturer">

        </div>

    </div>
    <div class="clear"></div>


</div>

<div id="response">

</div>