<?

$_equipment = new Mtt_Models_Bussines_Equipo() ;
$cont = 0 ;

?>
<form id="frmManufacturer" 
      method="Post" 
      action="/admin/programa/addequipment/format/html">
    <ul id="equiposManufacturers" style="height: 300px;overflow:scroll">
        <? foreach ( $this->manufacturers as $manufacturer ): ?>
            <li> <input type="checkbox"><label><?= $manufacturer->nombre ?></label>
                <? $equipments = $_equipment->getEquipmentsByManufacturesId( $manufacturer->id ) ?>
                <ul>
                    <? foreach ( $equipments as $equipment ): ?>
                        <? $cont++ ; ?>
                        <li>
                            <input 
                                type="checkbox" 
                                name="equipo[<?= $cont ?>]" 
                                id="equipo[<?= $cont ?>]" 
                                value="<?= $equipment->id ?>">

                            <label>
                                <?=

                                $equipment->nombre. ', ' .
                                        $equipment->categoria . ', ' .
                                        $equipment->modelo

                                ?>
                            </label> 

                            <a href="<?=

                                $this->url(
                                        array(
                                    'slug' => $equipment->slug ) ,
                                        'slugEquipment' ,
                                        true
                                )

                                ?>" target="_blank">
                                <span class="imagen-info"></span>
                            </a>

                        </li>
            <? endforeach ; ?>
                </ul>
            </li>

<? endforeach ; ?>


    </ul>

    <!---->
    <div>
        <button type="submit" id="submit" class="button">
<?= $this->translate( 'actulizar vista' ) ?>
        </button>
    </div>
    <!---->
</form>