<?

$_equipment = new Mtt_Models_Bussines_ProgramaEquipo() ;
$cont = 0 ;

?>
<form id="frmEquiposNuevos" 
      method="Post" 
      action="/admin/programa/quitequiposnuevos/format/html">
    <ul id="equiposNuevos" style="height: 300px;overflow:scroll">
        <? foreach ( $this->manufacturers as $manufacturer ): ?>
            <li> 
                <input type="checkbox">
                <label>
                    <?= $manufacturer->fabricante ?>
                </label>
                <?

                $equipments =
                        $_equipment->getIetmsByProgramaIdManufacturerId(
                        Mtt_Models_Bussines_ProgramaEquipo::EQUIPOS_NUEVOS ,
                        $manufacturer->fabricante_id
                        )

                ?>
                <ul>
                    <? foreach ( $equipments as $equipment ): ?>
                        <? $cont++ ; ?>
                        <li>
                            <input 
                                type="checkbox" 
                                name="equipo[<?= $cont ?>]" 
                                id="equipo[<?= $cont ?>]" 
                                value="<?= $equipment->id ?>">
                            <label>
                                <?= $equipment->equipo . ', ' .
                                $equipment->categoria . ', ' . 
                                $equipment->modelo ?>
                            </label>
                            <a href="<?=

                        $this->url(
                                array(
                            'slug' => $equipment->slug ) ,
                                'slugEquipment' ,
                                true
                        )

                                ?>" target="_blank">
                                <span class="imagen-info"></span>
                            </a>
                        </li>
                    <? endforeach ; ?>
                </ul>
            </li>

        <? endforeach ; ?>


    </ul>

    <!---->
    <div>
        <button type="submit" id="submit" class="button">
            <?= $this->translate( 'actulizar vista' ) ?>
        </button>
    </div>
    <!---->
</form>