<div class="row">
    <div class="fourcol">
        <a href="<?=
            $this->url(
                    array(
                'module' => 'default' ,
                'controller' => 'index' ,
                'action' => 'index'
                    ) , 'default' , true )
            ?>">
            <img src="/theme/default/image/logo-top.png" alt="Medtechtrade" />
        </a>

    </div>
    <div class="eightcol last">

        <ul id="nav-admin">
            <li>
                Buscar: "Caja de Busqueda"
            </li>
            <li>
                <?= $this->translate( 'Welcome' ) ?>  :  <?= $this->authUser ?>
            </li>
            <li>
                <?= $this->translate( 'Date' ) ?>:  <?= Zend_Date::now() ?>
            </li>
            <li>
                <a href="<?=
                $this->Url(
                        array( 'module' => 'admin' ,
                            'controller' => 'login' ,
                            'action' => 'logout' )
                )
                ?>">
                       <?= $this->translate( 'logout' ) ?>
                </a>
            </li>

        </ul>

    </div>

</div>