<?php if ( count( $this->messages ) ): ?>
    <ul id="mensajes">
        <?php foreach ( $this->messages as $m ): ?>
            <li><?= $m ?></li>
        <?php endforeach ; ?>
    </ul>
<?php endif ; ?>

