<ul id="nav-user">
    <li>
        <a id ="desk-admin" onclick="fnSelectedItem(this.id)"
           href="
		   <?=

		   $this->url( array(
			   'module' => 'admin' ,
			   'controller' => 'index' ,
			   'action' => 'index' ) , 'default' , true )

		   ?>">
            <span>

				<?= $this->translate( 'Desk' ) ; ?>

            </span>

        </a>
		<?= $this->render( 'navegacion/_desk.phtml' ) ; ?>
			</li>
			<li>
				<a id ="users-admin" onclick="fnSelectedItem(this.id)"  href="
		<?=

				$this->url( array(
					'module' => 'admin' ,
					'controller' => 'user' ,
					'action' => 'index' ) , 'default' , true )

		?>">
	 			<span>

				<?= $this->translate( 'Users' ) ; ?>

            </span>

        </a>

    </li>
    <li>
        <a id ="equipment-admin" onclick="fnSelectedItem(this.id)" href="
		<?=

				$this->url( array(
					'module' => 'admin' ,
					'controller' => 'equipo' ,
					'action' => 'index' ) , 'default' , true )

		?>">
	 			<span>

				<?= $this->translate( 'Equipment' ) ; ?>

			</span>

		</a>
		<?= $this->render( 'navegacion/_equipment.phtml' ) ; ?>
			</li>
			<li>
				<a id ="questions-admin" onclick="fnSelectedItem(this.id)" href="
		<?=

				$this->url( array(
					'module' => 'admin' ,
					'controller' => 'pregunta' ,
					'action' => 'index' ) , 'default' , true )

		?>">
	 			<span>

				<?= $this->translate( 'preguntas' ) ; ?>

			</span>

		</a>
	</li>
	<li>
		<a id ="operations-admin" onclick="fnSelectedItem(this.id)" href="
		<?=

				$this->url( array(
					'module' => 'admin' ,
					'controller' => 'operacion' ,
					'action' => 'index' ) , 'default' , true )

		?>">
	 			<span>

				<?= $this->translate( 'operaciones' ) ; ?>

            </span>

        </a>
    </li>
    <li>
        <a id ="stadistics-admin" onclick="fnSelectedItem(this.id)">
            <span>

				<?= $this->translate( 'Statistics' ) ; ?>

			</span>

		</a>
		<?= $this->render( 'navegacion/_statistics.phtml' ) ; ?>
			</li>
			<li>
				<a id ="configuration-admin" onclick="fnSelectedItem(this.id)">
					<span>

				<?= $this->translate( 'Configuration' ) ; ?>

			</span>

		</a>
		<?= $this->render( 'navegacion/_configuration.phtml' ) ; ?>
			</li>
			<li>
				<a id ="cms-admin" onclick="fnSelectedItem(this.id)" href="
		   <?=

				$this->url( array(
					'module' => 'admin' ,
					'controller' => 'cms' ,
					'action' => 'index' ) , 'default' , true )

		   ?>">
	 			<span>

				<?= $this->translate( 'CMS' ) ; ?>

            </span>

        </a>

    </li>
</ul>