<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

        <?= $this->headTitle() ?>
        <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <?=
        $this->headLink()
                ->appendStylesheet( '/css/grid-960/styles/reset.css' )
                ->appendStylesheet( '/css/grid-960/styles/text.css' )
                ->appendStylesheet( '/css/grid-960/styles/960.css' )
                ->appendStylesheet( '/theme/admin/css/styleNew.css' )
                ->appendStylesheet( '/theme/admin/css/form.css' )
                ->appendStylesheet( '/theme/admin/css/style-menu.css' )
                ->appendStylesheet( '/css/icons.css' )
        ;
        ?>

        <?=
        $this->jQuery();
        ?>

        <?=
        $this->headScript()
                ->appendFile(
                        '/js/ckeditor/ckeditor.js'
                )
                ->appendFile(
                        '/theme/admin/js/css3-mediaqueries.js'
                )
                ->appendFile(
                        '/theme/admin/js/jquery.hoverIntent.minified.js'
                )
                ->appendFile(
                        '/theme/default/js/accionmenuadmin.js'
                )
                ->appendFile(
                        '/js/CookieJS.js'
                )
                ->appendFile(
                        '/theme/admin/js/menu/menu.js'
                )

        ;
        ?>
    </head>
    <body>
        <div id="main">
            <div id="backHeader">
                <div id="header" class="container_16">

                    <div id="logo" class="grid_5 alpha">
                        <a href="<?=
        $this->url(
                array(
            'module' => 'default' ,
            'controller' => 'index' ,
            'action' => 'index'
                ) , 'default' , true )
        ?>">

                            <img
                                id="imgLogo"
                                src="/theme/admin/images/logo-admin.png"
                                alt="medtechtrade.com" />

                        </a>
                    </div>

                    <div id="welcome" class="grid_6 omega">
                        <span>
                            <? if ( Zend_Auth::getInstance()->hasIdentity() ): ?>
                                <img title="<?= $this->authUser ?>"
                                     src="/images/acciones/24/1319631264_administrator.png"/>

                                <?= $this->translate( 'Welcome' ) . ' ' . $this->authUser ?>
                                <a href="<?=
                            $this->Url(
                                    array( 'module' => 'admin' ,
                                        'controller' => 'login' ,
                                        'action' => 'logout' )
                            )
                                ?>">
                                       <?= $this->translate( 'logout' ) ?>
                                </a>


                            <? endif; ?>
                        </span>
                    </div>

                    <div class="grid_5 omega">
                        <?
                        $frmIdioma = new Mtt_Form_ChangeLanguage();
                        ?>
                        <form method="<?= $frmIdioma->getMethod() ?>"
                              id="<?= $frmIdioma->getAttrib( 'id' ) ?>"
                              action="<?= $frmIdioma->getAction() ?>">

                            <div class="grid_3 alpha">
                                <?= $frmIdioma->idioma_id->renderViewHelper() ?>
                                <? //if ( isset( $frmIdioma->idioma_id->renderErrors() ) ): ?>
                                <?= $frmIdioma->idioma_id->renderErrors() ?>
                                <? //endif; ?>
                            </div>
                            <div class="grid_2 omega">
                                <?= $frmIdioma->submit->renderViewHelper() ?>
                                <? //if ( isset( $frmIdioma->submit->renderErrors() ) ): ?>
                                <? //= $frmIdioma->submit->renderErrors() ?>
                                <? //endif; ?>
                            </div>
                            <div class="clear"></div>
                        </form>

                    </div>

                    <div class="clear">

                    </div>

                </div>
                <div id="backNav">


                    <div id="nav" class="container_16">

                        <div class="grid_16" id="AdminMenu">

                            <?= $this->render( '_navegacion.phtml' ); ?>

                        </div>

                        <div class="clear">

                        </div>
                    </div>
                </div>
                <div id="separator"></div>
            </div>
            <div id="headcontent" class="container_16">
                <div id="titulo" class="grid_12 alpha">
                    <? if ( isset( $this->titulo ) ): ?>
                        <h2>
                            <?= $this->titulo ?>
                        </h2>
                    <? endif; ?>
                </div>
                <div id="messages" class="grid_4 omega">
                    <?= $this->render( '_messages.phtml' ); ?>
                </div>
                <div class="clear">

                </div>

            </div>
            <div id="content" class="container_16">
                <div id="contentDetails" class="grid_16">

                    <?= $this->layout()->content ?>
                </div>
                <div class="clear">

                </div>
            </div>

            <div id="backFooter">

                <div id="footer" class="container_16">
                    <div id="footerDetails" class="grid_16">


                    </div>
                    <div class="clear">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


