<script type="text/javascript">

$(document).ready(function() {

    /* Apply fancybox to multiple items */
    
   /* $("a").fancybox({
        'transitionIn'	:	'elastic',
        'transitionOut'	:	'elastic',
        'speedIn'		:	600, 
        'speedOut'		:	200, 
        'overlayShow'	:	false
    });*/
    
});
</script>

<a href="/default/usuario/index/format/html" title="probar mi fancybox">
este es mi fancybox
</a>
