<ul id="myMenu" class="contextMenu">
			<li class="edit"><a href="#edit">Edit</a></li>
			<li class="cut separator"><a href="#cut">Cut</a></li>
			<li class="copy"><a href="#copy">Copy</a></li>
			<li class="paste"><a href="#paste">Paste</a></li>
			<li class="delete"><a href="#delete">Delete</a></li>
			<li class="quit separator"><a href="#quit">Quit</a></li>
		</ul>
<div id="menu" style="">
hola mundo
</div>
<br/>
<br/>
<table id="datamenu">
<tbody>
	<tr>
		<td>
		prueba
		</td>
	</tr>
	<tr>
		<td>
		prueba
		</td>
	</tr>
</tbody>
</table>


<?php echo $this->grid; ?>
