
<ul id="content-equipo" class="list-equipment">

<? foreach ( $this->lastequipos as $equipo ):
?>
<?php
$link =
$this->url(
array(
'slug' => $equipo->slug
) , 'slugEquipment' , true )
?>
<li id="id">
    <a href="<?= $link ?>"  
       title="<?= $this->translate( 'ver equipo' ) ?>" 
       >
           <?php
           $url = (is_null( $equipo->imagen )) ?
           '/theme/default/image/no_images.png' :
           '/media/catalog/product/' . $equipo->imagen
           ?>
        <img class="content-equipo-image" src="<?= $url ?>" 
             alt="<?= $equipo->equipo ?>"
             width="24px" height="24px" />

        <?= $equipo->fabricante ?>
        <?= $equipo->categoria ?>
        <?= $equipo->nombre ?>
        <?= $equipo->modelo ?>
        <?= $equipo->fechafabricacion ?>
    </a>


</li>

<? endforeach; ?>

</ul>