<h2>
	<?= $this->translate( 'equipo requerido' ) ?>
</h2>

<div class="grid_16">
    <form
        action="<?= $this->escape( $this->searchForm->getAction() ) ?>"
        method="<?= $this->escape( $this->searchForm->getMethod() ) ?>"
        class="<?= $this->escape( $this->searchForm->getAttrib( 'class' ) ) ?>"
        >
        <div class="grid_11 alpha">

            <div class="grid_7 alpha">
				<?= $this->searchForm->nombre ; ?>
            </div>
            <div class="grid_4 omega">
				<?= $this->searchForm->submit->renderViewHelper() ; ?>
            </div>
            <div class="clear"></div>
        </div>
    </form>
    <div class="grid_5 omega">
        <a href="<?=

				$this->url( array(
					'module' => 'admin' ,
					'controller' => 'equiporequerido' ,
					'action' => 'new'
						) , 'default' , true )

				?>"
	 		   title="<?= $this->translate( 'nuevo' ) ?>"
	 		   >
	 			<span class="imagen-new"
	 				  title="<?= $this->translate( 'nuevo' ) ?>"
	 				  >

	 			</span>

	 		</a>
	 	</div>

	 </div>

	 <div class="clear"></div>

	 <table border="1" class="listado">
	 	<thead>
	 		<tr>
	 			<th><?= "id" ?></th>
	 			<th><?= $this->translate( 'nombre' ) ?></th>
	 			<th><?= $this->translate( 'modelo' ) ?></th>
	 			<th><?= $this->translate( 'categoria' ) ?></th>
	 			<th><?= $this->translate( 'estado' ) ?></th>
	 			<th><?= $this->translate( 'fecha fabricacion' ) ?></th>
	 			<th><?= $this->translate( 'comentario' ) ?></th>
	 			<th><?= $this->translate( 'fabricante' ) ?></th>
	 			<th><?= $this->translate( 'acciones' ) ?></th>
	 		</tr>
	 	</thead>
	 	<tbody>
		<?php foreach ( $this->equiporequeridos as $equiporequerido ): ?>
		<? $id = $equiporequerido->id ; ?>
					<tr class="<?=

					$equiporequerido->active
									? 'activo'
									: 'inactivo'

		?>">

					<td><?= $this->escape( $equiporequerido->id ) ?></td>
					<td><?= $this->escape( $equiporequerido->nombre ) ?></td>
					<td><?= $this->escape( $equiporequerido->modelo ) ?></td>
					<td><?= $this->escape( $equiporequerido->categoria ) ?></td>
					<td><?= $this->escape( $equiporequerido->estado ) ?></td>
					<td><?= $this->escape( $equiporequerido->fechafabricacion ) ?></td>
					<td><?= $this->escape( $equiporequerido->comentario ) ?></td>
					<td><?= $this->escape( $equiporequerido->fabricante ) ?></td>
					<td>

				<?php

					$link = $this->url(
									array( 'module' => 'admin'
										, 'controller' => 'equiporequerido'
										, 'action' => 'edit'
										, 'id' => $id ) )

				?>
					<a href="<?= $link ?>"
					   title="<?= $this->translate( 'editar' ) ?>">
						<span class="imagen-edit" title="<?= $this->translate( 'editar' ) ?>">

						</span>


					<?php

					$link = $this->url( array( 'module' => 'admin'
								, 'controller' => 'equiporequerido'
								, 'action' => 'delete'
								, 'id' => $id ) )

					?>
                    <a href="<?= $link ?>"
                       title="<?= $this->translate( 'eliminar' ) ?>"
                       onclick="return
                           confirm(<?= $this->translate( '¿Estás seguro?' ) ?>)">

                        <span class="imagen-delete"
                              title="<?= $this->translate( 'eliminar' ) ?>"
                              >

                        </span>

                    </a>

					<?php if ( $equiporequerido->active ): ?>
					<?php

						   $link = $this->url(
										   array( 'module' => 'admin'
											   , 'controller' => 'equiporequerido'
											   , 'action' => 'desactivar'
											   , 'id' => $id ) )

					?>
	   					<a href="<?= $link ?>"
	   					   title="<?= $this->translate( 'desactivar' ) ?>"
	   					   >
	   						<span class="imagen-desactivar"
	   							  title="<?= $this->translate( 'desactivar' ) ?>"
	   							  >
	   						</span>


						<?php else: ?>
						<?php

							   $link = $this->url(
											   array( 'module' => 'admin'
												   , 'controller' => 'equiporequerido'
												   , 'action' => 'activar'
												   , 'id' => $id ) )

						?>

	   						<a href="<?= $link ?>"
	   						   title="<?= $this->translate( 'activar' ) ?>" >
	   							<span class="imagen-activar"></span>

	   						</a>
						<?php endif ; ?>

	   						</td>
	   						</tr>
						<?php endforeach ; ?>
	   						</tbody>
	   						</table>
	   						<br />
						<?=

							   $this->paginationControl(
									   $this->equiporequeridos , 'Sliding' , 'equiporequerido/_pag.phtml'
							   ) ;

						?>


