<h2>
    <?= $this->translate('favoritos'); ?>

</h2>


<div class="device-horizontal-list">
    <?php foreach ($this->favoritos as $favorito): ?>
        <div>
            <a href="
            <?=
            $this->url(
                    array(
                'slug' => $favorito->slug), 'slugEquipment', true
            )
            ?>
               " title="<?= $favorito->slug ?>">

                <?php
                $url = (is_null($favorito->imagen)) ?
                        '/media/catalog/product/avatar/no_image.png' :
                        '/media/catalog/product/avatar/' . $favorito->imagen
                ?>
                <img src="<?= $url ?>" 
                     alt="<?= $favorito->equipo ?>"
                     />
            </a>
            <span class="manufacturer">
                <?= $this->translate('Manufacturer') ?>
                : 
                <?php
                $fabricante = (strlen($favorito->fabricante) > 8) ?
                        substr($favorito->fabricante, 0, 8) . '..' :
                        $favorito->fabricante
                ?>
  
                <?= $fabricante ?>
            </span>
            <span class="name">
                <?= $this->translate('Product name') ?>
                : 
                <?php
                $nombre = (strlen($favorito->equipo) > 8) ?
                        substr($favorito->equipo, 0, 8) . '..' :
                        $favorito->equipo
                ?>
  
                <?= $nombre ?>
           
            </span>
            <a href="
            <?=
            $this->url(
                    array(
                'slug' => $favorito->slug
                    ), 'slugEquipment', true
            )
            ?>
               " title="<?= $favorito->slug ?>">
                <span>
    <?= $this->translate('View details') ?>
                </span>
            </a>
        </div>
<?php endforeach; ?>

</div>

<?=
$this->paginationControl(
        $this->favoritos, 'Sliding', 'reserva/_pag.phtml'
);
?>
