<div id="category" class ="grid_4 alpha">

    <h2 class="stadistica">
        <?= $this->translate('categorias') ?>
    </h2>

    <ul id="nav-category">
        <li>
            <?
            foreach ($this->categoria as $categoria) :
                $titulo = "<span>" . $categoria->nombre . "</span>";
                ?>
                <?=
                $this->ajaxLink($titulo
                        , "/admin/estadistica/favoritocategoria/format/json"
                        , array(
                    'dataType' => 'json',
                    'beforeSend' =>
                    'myBeforeSendCallbackJsFunc();',
                    'complete' =>
                    'myCompleteCallbackJsFunc(data);',
                    'method' => 'POST'), array('id' => $categoria->id)
                );
                ?>
                <?
            endforeach;
            //Zend_Debug::dump($this->categoria);
            ?>

        </li>


    </ul>

</div>
<div id="cake" class ="grid_12 omega">
    <? if (isset($this->titulo)): ?>
        <h2>
            <?= $this->titulo ?>
        </h2>
    <? endif; ?>
    <div>
        
        <div id="chart" style="height: 300px">

        </div>
         <div id="detalleChart"  style=" margin-top: 30px">

        </div>
    </div>
</div>
