<header>
    <h2>
        <?= $this->translate( 'fabricantes' ) ?>
    </h2>

    <p>
        <?= $this->translate( 'TEXT_EQUIPOS_NUEVOS' ) ; ?>
    </p>

    <h3>
        <?= $this->translate( 'equipos nuevos' ) ?>
    </h3>
</header>

<div class="device-horizontal-list">
    <?

    /**/
    $cont = 0 ;
    /**/

    ?>
    <?php foreach ( $this->programaEquipos as $programaEquipo ): ?>
        <? $cont++ ; ?>
        <? if ( ($cont % 4) == 0 ): ?>
            <div class="last-div">
            <? else: ?>
                <div>
                <? endif ; ?>
                <a href="
                <?=

                $this->url( array(
                    'slug' => $programaEquipo->slug ) ,
                            'slugManufacturer' ,
                            true )

                ?>
                   ">
                       <?php

                       $url = (is_null( $programaEquipo->imagen )) ?
                               '/media/catalog/product/avatar/no_image.png' :
                               '/media/catalog/manufacturer/default/' . $programaEquipo->imagen

                       ?>
                    <img src="<?= $url ?>"
                         alt="<?= $programaEquipo->fabricante ?>"
                         title="<?= $programaEquipo->fabricante ?>"
                         />

                </a>

                <span class="manufacturer">
                    <?

                    $fabricanteModelo = "" ;

                    $fabricanteModelo = $programaEquipo->fabricante ;

                    ?>
                    <?

                    echo $fabricante = (strlen( $fabricanteModelo ) > 20) ?
                    substr( $fabricanteModelo ,
                            0 ,
                            20 ) . '..' :
                    $fabricanteModelo ;

                    ?>


                </span>

                <span class="name" title="<?= $programaEquipo->fabricante ?>">

                    <?= $this->translate( "Nro de equipos " ) . $programaEquipo->nroEquipos ?>

                </span>

                <a href="
                <?=

                $this->url( array(
                    'slug' => $programaEquipo->slug ) ,
                            'slugManufacturer' ,
                            true )

                ?>
                   ">
                    <span>
                        <?= $this->translate( 'View details' ) ?>
                    </span>
                </a>
            </div>

        <?php endforeach ; ?>
    </div>


