<?
$objTraduccion = new Mtt_Models_Bussines_Traducciones();
$idLang = $this->sessionMtt->config->idlang;
?>

<script type="text/javascript">

$(document).ready(function() {

    $("a#ajax").fancybox({
        'transitionIn'	:	'elastic',
        'transitionOut'	:	'elastic',
        'speedIn'		:	600, 
        'speedOut'		:	200, 
        'overlayShow'	:	false
    });
    
});
</script>

<h2>
	<?= $this->translate( 'equipos requeridos' ) ?>
</h2>


<table class="listado">
	<thead>
		<tr>
			<th>
				<?= $this->translate( 'nombre' ) ?>
			</th>
			<th>
				<?= $this->translate( 'modelo' ) ?>
			</th>
			<th>
				<?= $this->translate( 'fabricante' ) ?>
			</th>
			<th>
				<?= $this->translate( 'categoria' ) ?>
			</th>
			<th>
				<?= $this->translate( 'estado' ) ?>
			</th>
			<th>
				<?= $this->translate( 'fechafabricacion' ) ?>
			</th>
			<th>
				<?= $this->translate( 'comentario' ) ?>
			</th>
			<th>
				<?= $this->translate( 'acciones' ) ?>
			</th>

		</tr>
	</thead>
	
	<tbody>
		<? foreach ( $this->equiposRequeridos as $equipoRequerido ): ?>
					<tr>
						<td>
				<?= $equipoRequerido->nombre ?>
				</td>


				<td>
				<?= $equipoRequerido->modelo ?>
				</td>

				<td>
				<?= $equipoRequerido->fabricante ?>
				</td>

				<td>
				<?=
                    $objTraduccion->getTranslate(
                            Mtt_Models_Bussines_Categoria::ENTIDAD_ID ,
                            $equipoRequerido->categoria_id ,
                             $idLang ,
                              $equipoRequerido->categoria
                    );

                ?>

				</td>

				<td>
				<?=
                    $objTraduccion->getTranslate(
                            Mtt_Models_Bussines_EstadoEquipo::ENTIDAD_ID ,
                            $equipoRequerido->estado_id , $idLang , $equipoRequerido->estado
                    );

                    ?>
				
				</td>

				<td>
				<?= $equipoRequerido->fechafabricacion ?>
				</td>

				<td>
				<?= $equipoRequerido->comentario ?>
				</td>

				<td>
					<a id="ajax" href="
				<?=

					$this->url(
							array(
								'module' => 'default' ,
								'controller' => 'equiporequerido' ,
								'action' => 'ver' ,
								'format'=>'html',
								'id' => $equipoRequerido->id
							) , 'default' , true
					)

				?>"
 				   >
 					<span class="imagen-see"
 						  title="<?= $this->translate( 'ver' ) ?>">
 					</span>

 				</a>

 				<a  href="<?=

					$this->url(
							array(
								'module' => 'default' ,
								'controller' => 'equiporequerido' ,
								'action' => 'sendmail' ,
								'format'=>'html',
								'id' => $equipoRequerido->id
							) , 'default' , true
					)

				?>">
 					<span class="imagen-send"
 						  title="<?= $this->translate( 'enviar email' ) ?>">
 					</span>

 				</a>
 			</td>

 		</tr>
		<? endforeach ; ?>
				</tbody>
			</table>
<?=

					$this->paginationControl(
							$this->equiposRequeridos , 'Sliding' , 'equiporequerido/_pag.phtml'
					) ;

?>
