<h2>
	<?= $this->translate( 'equipos requeridos' ) ?>
</h2>
<?
$objTraduccion = new Mtt_Models_Bussines_Traducciones();
$idLang = $this->sessionMtt->config->idlang;
?>

<? if ( is_object( $this->response ) ): ?>
		<table class="listado">

			<tbody>

				<tr>
					<td>
				<?= $this->translate( 'nombre' ) ?>:
			</td>
			<td>
				<?= $this->response->nombre ?>
			</td>
		</tr>

		<tr>
			<td>
				<?= $this->translate( 'modelo' ) ?>:
			</td>
			<td>
				<?= $this->response->modelo ?>
			</td>
		</tr>

		<tr>
			<td>
				<?= $this->translate( 'categoria' ) ?>:
			</td>
			<td>
				<?= $this->response->categoria ?>
			</td>
		</tr>

		<tr>
			

			<td>
				<?= $this->translate( 'estado' ) ?>:
			</td>
			
			
			<td>
				<?=
                    $objTraduccion->getTranslate(
                            Mtt_Models_Bussines_EstadoEquipo::ENTIDAD_ID ,
                            $this->response->estado_id , $idLang , $this->response->estado
                    );

                    ?>
				
			</td>
		</tr>

		<tr>
			<td>
				<?= $this->translate( 'fechafabricacion' ) ?>:
			</td>
			<td>
				<?= $this->response->fechafabricacion ?>
			</td>
		</tr>
		<tr>
			<td>
				<?= $this->translate( 'fabricante' ) ?>:
			</td>
			<td>
				<?= $this->response->fabricante ?>
			</td>
		</tr>

		<tr>
			<td>
				<?= $this->translate( 'comentario' ) ?>:
			</td>
			<td>
				<?= $this->response->comentario ?>
			</td>
		</tr>
		

	</tbody>
</table>

<? else: ?>
<?= $this->response ?>
<? endif ; ?>