<h2>
	<?= $this->translate( 'equipos requeridos' ) ?>
</h2>
<? if ( is_object( $this->response ) ): ?>
		<table class="listado">

			<tbody>

				<tr>
					<td>
				<?= $this->translate( 'nombre' ) ?>:
			</td>
			<td>
				<?= $this->response->nombre ?>
			</td>
		</tr>

		<tr>
			<td>
				<?= $this->translate( 'modelo' ) ?>:
			</td>
			<td>
				<?= $this->response->modelo ?>
			</td>
		</tr>

		<tr>
			<td>
				<?= $this->translate( 'categoria' ) ?>:
			</td>
			<td>
				<?= $this->response->categoria ?>
			</td>
		</tr>

		<tr>
			<td>
				<?= $this->translate( 'estado' ) ?>:
			</td>
			<td>
				<?= $this->response->estado ?>
			</td>
		</tr>

		<tr>
			<td>
				<?= $this->translate( 'fechafabricacion' ) ?>:
			</td>
			<td>
				<?= $this->response->fechafabricacion ?>
			</td>
		</tr>
		<tr>
			<td>
				<?= $this->translate( 'fabricante' ) ?>:
			</td>
			<td>
				<?= $this->response->fabricante ?>
			</td>
		</tr>

		<tr>
			<td>
				<?= $this->translate( 'comentario' ) ?>:
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td colspan="2">
				<?= $this->response->comentario ?>
			</td>
		</tr>


	</tbody>
</table>

<? else: ?>
<?= $this->response ?>
<? endif ; ?>

