<a href="#">
    <span class="device-action-question">
        <?= $this->translate( 'Ask a Question' ) ?>
    </span>
</a>
<a href="
<?=
$this->url(
        array( 'module' => 'default' , 'controller' => 'checkout' ,
    'action' => 'index' ,
    'id' => $this->producto->id ) , 'default' , true
 )
?> 
   ">
    <span class="device-action-friend">
        <?= $this->translate( 'Add Cart' ) ?>
    </span>
</a>
