form {
    margin: 10px;
    padding: 10px;
    dt {
        padding: 8px;
        background-color: #f5f5fa;
        color: #2385db;
        font-size: 12px;
        font-weight: bold; }
    dd {
        padding: 4px;
        input {
            padding: 5px;
            margin: 0;
            width: 250px;
        font-size: 12px; }
        select {
            padding: 5px;
            font-size: 12px;
        width: 265px; } }
        dd select option {} }
        
        .zend_form {
            margin: 0px;
            padding: 0px;
            dd {
                margin: 5px 10px;
            background-color: #ffffff; }
            dt {
                margin: 5px 10px;
                background-color: #ffffff;
                float: left;
                clear: both;
                width: 120px;
            margin-left: 0px; }
            dd {
                float: left; }
            input[type='text'] {
            width: 175px; }
            select {
            width: 181px; }
            label {} }
            
            .button {
                color: #fcfcfc;
                border: 1px solid #4e89c2;
                text-align: center;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                -webkit-box-shadow: #666 0px 2px 3px;
                -moz-box-shadow: #666 0px 2px 3px;
                box-shadow: #666 0px 2px 3px;
                background: #63bde1;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(#63bde1), to(#20a1d2));
                background: -webkit-linear-gradient(#63bde1, #20a1d2);
                background: -moz-linear-gradient(#63bde1, #20a1d2);
                background: -ms-linear-gradient(#63bde1, #20a1d2);
                background: -o-linear-gradient(#63bde1, #20a1d2);
                background: linear-gradient(#63bde1, #20a1d2);
                -pie-background: linear-gradient(#63bde1, #20a1d2);
                behavior: url(/js/piecss3/PIE.htc);
                padding: 5px;
                cursor: pointer; }
            
            ul {
                &.errors li {
                    font-size: 13px;
                    padding: 5px;
                    margin-top: 5px;
                    margin-left: 5px;
                    color: #f01818;
                    font-weight: bold; }
                &#mensajes li {
                    font-size: 13px;
                    padding: 10px;
                    background-color: #FFF6BF;
                    color: #1f1c1f;
                    font-weight: bold;
                    border-style: solid;
                    border-color: #FFD324;
                    border-width: 1px;
                    .error {
                        background-color: #de3c4a;
                        color: #f2edf2;
                    border-color: #f50e1a; } } }
                    
                    /*zendy_form*/
                    
                    .zendy_form div {
                        padding-left: 10px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-right: 10px;
                        input {
                            padding: 5px;
                        font-size: 13px; } }
                        
                        label.required {
                            font-weight: bold; }
                        
                        .zendy_form div {
                            .button {
                                padding: 5px;
                                font-family: Arial, sans-serif;
                                font-weight: bold;
                                font-size: 12px;
                                background-color: #00A2D7;
                                border-color: #00A2D7;
                                border-width: 1px;
                                border-style: solid; }
                            label {
                                color: #2D7AA2;
                                font-size: 13px;
                                width: 70px;
                                text-align: right;
                                float: left;
                                margin-right: 10px;
                                display: block; }
                            input {
                                padding: 5px;
                                font-size: 13px;
                            width: 200px; } }
                            
                            .listado {
                                thead {
                                    font-size: 1em;
                                    color: #357082;
                                    border-width: 1px;
                                    border-color: #CAD7E1;
                                    border-style: solid;
                                    background-color: #EBF1F5;
                                    font-weight: bold; }
                                input[type=text] {
                                    background-color: #ffffff;
                                    font-weight: bold;
                                    border-color: #f5f5f5;
                                    border-style: solid;
                                    border-width: 2px;
                                width: 70px; }
                                margin: 10px 0;
                                thead tr th {
                                    border-style: solid;
                                    width: auto;
                                    padding: 11px;
                                    text-align: center; }
                                tbody tr {
                                    td {
                                        font-size: 12px;
                                        padding: 12px;
                                        text-align: center; }
                                    &:hover td {
                                    background-color: #f5f5f5; }
                                    &.activo {
                                    background-color: #cedaf2; }
                                    border-color: #CCC;
                                    border-style: solid;
                                border-width: 1px; }
                                .pendiente {
                                background-color: #e9ff8f; } }
                                
                                tr.activo {
                                background-color: #cedaf2; }
                                
                                .listado {
                                    tbody tr {
                                        border-color: #CCC;
                                        border-style: solid;
                                    border-width: 1px; }
                                    a {
                                        font-weight: normal;
                                    color: #1c1a1c; } }
                                    
                                    .alert {
                                    width: 100%; }
                                    
                                    .listado th {}
                                    
                                    #fieldset-grouphidden {
                                        display: none; }
                                    
                                    fieldset {
                                        margin-bottom: -70px; }
                                    
                                    
                                    
                                    span.btn-enlace {
                                        a {
                                        color: #fcfcfc; }
                                        color: #fcfcfc;
                                        border: 1px solid #4e89c2;
                                        text-align: center;
                                        -webkit-border-radius: 3px;
                                        -moz-border-radius: 3px;
                                        border-radius: 3px;
                                        -webkit-box-shadow: #666 0px 2px 3px;
                                        -moz-box-shadow: #666 0px 2px 3px;
                                        box-shadow: #666 0px 2px 3px;
                                        background: #63bde1;
                                        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#63bde1), to(#20a1d2));
                                        background: -webkit-linear-gradient(#63bde1, #20a1d2);
                                        background: -moz-linear-gradient(#63bde1, #20a1d2);
                                        background: -ms-linear-gradient(#63bde1, #20a1d2);
                                        background: -o-linear-gradient(#63bde1, #20a1d2);
                                        background: linear-gradient(#63bde1, #20a1d2);
                                        -pie-background: linear-gradient(#63bde1, #20a1d2);
                                        behavior: url(/js/piecss3/PIE.htc);
                                        padding: 5px;
                                    /*fin*/ }