#category {
    
    background-color: #e6e6e6;
}

#nav-category {
    list-style: none;
    margin-top: 20px;
}

#nav-category li {
    border-style: solid;
    border-color: #DEDEDE;
    border-bottom-width: 1px;
    margin-left: 0;
}

#nav-category li a span {
    padding: 5px;
    display: block;
}

#nav-category li a span:hover {
    background-color: #f7f4f7;
    color: #167fae;
}

#category .stadistica {
    margin-top: 10px;
}

.stadistica {
    margin-top: 10px;
}

