
#AdminMenu #nav-user{
    margin-bottom: 0px;
    /*text-transform: uppercase;*/
}
#AdminMenu #nav-user li {
    margin-left: 0px;
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
	z-index: 150;
}
#AdminMenu #nav-user li a {
    width: 100px;
    display:block;
    text-decoration: none;
    font-weight: bold;
}
#AdminMenu #nav-user li span {
    width: 100px;
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 5px;
}

#AdminMenu #nav-user ul {
    position: absolute;
    display: none;
    width:12em;
    /*top:1.5em;*/
}

#AdminMenu #nav-user li span:link, 
#AdminMenu #nav-user li span:active, 
#AdminMenu #nav-user li span:visited {
    display: block;

    border: 1px solid #333;
    color: #fff;
    text-decoration: none;

}


#AdminMenu #nav-user li ul li span {
    width:220px;
    background-color: #177FAD;
    padding: 10px;
    color: #ffffff;
}
#AdminMenu #nav-user li span:hover {
    font-weight: normal;
    display: block;
    background-color: #1FA1D1;

}


#AdminMenu #nav-user li span:hover ul, 
#AdminMenu #nav-user li li span:hover ul, 
#AdminMenu #nav-user li li li span:hover ul,
#AdminMenu #nav-user li li li li span:hover ul{
    display:block;
}
