body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0px;

    /*background-image: url(Dashboard.png);*/
    background-repeat: no-repeat;
    background-position: center top;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

#backHeader {
    background-color: #E6E6E6;
}

#backFooter{
    margin-top: 20px;
    background-color: #E6E6E6;
    color: #CCCCCC;
    border-top: 1px solid #DEDEDE;
}

#footer {
    height: 50px;


    margin-top: 15px;
}

#footer hr {
    margin-top: -1px;
    color: #ffffff;
    height: 1px;
    background-color: #ffffff;
}
#backNav{
    /*    background-image:url('/theme/admin/images/data/backgroundNav.png');*/
    background-color: #167fae;
}
/*#nav li {
    float: left;
    text-decoration: none;
    list-style-type: none;
}*/

h2 {
    font-size: 18px;
    margin-left: 11px;
    margin-bottom: 0px;
    font-weight: normal;
}

#header #welcome {
    padding-left: 20px;
}

/*#nav {
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 0;
    padding-right: 0;
}*/
#nav a {
    color: #faf7fa;
}

#headcontent {
    margin-top: 13px;
}

#imgLogo {
    margin-top: 3px;
    margin-left: 8px;
}

#welcome {
    margin-top: 21px;
}

#messages {
    margin-left: 21px;
}

#contentDetails {
    margin-top: 16px;
}

#help {
    margin-top: 0;
    margin-left: 8px;
}

#divLeftTitulo {
    height: 24px;
    background-color: #177FAE;
    /*text-transform: uppercase;*/
    font-weight: bold;
}
#divLeftTitulo span {
    display: block;
    font-size: 13px;
    padding-left: 5px;
    padding-top: 3px;
    color: #ffffff;
}



#divLeftTituloContent {
    background-color: #F2F2F2;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    overflow: auto;
}

#divInformation {
    margin-bottom: 10px;
}

#separator {
    height: 5px;
    margin-top: 1px;
    border-bottom: 1px solid #DEDEDE;
}

/*css para los jquerys*/

#newstab li {
    background-color: #177FAE;

}
#newstab li a {
    color: #177FAE;

}

/*fin de los css*/


/*layout*/
#welcome {
    /*text-transform: uppercase;*/
    padding: 0;
}

#welcome span {
    padding: 5px;
}

#frmChangeLanguage {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

#frmChangeLanguage button {
    background-color: #167fae;
    color: #f2f2f2;
    border-style: solid;
    border-color: #DEDEDE;
    border-width: 1px;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#frmChangeLanguage select {
    padding: 3px;
    width: 150px;
}
/*fin de layout*/


.tooltip {
  background-color: #000;
  border: 1px solid #fff;
  padding: 10px 15px;
  width: 150px;
  display: none;
  color: #fff;
  text-align: left;
  font-size: 12px;
  /* outline radius for mozilla/firefox only */
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000; }
