
<style type="text/css">
    table tr td {
        padding: 5px;
    }
</style>


<h2 style="color: #106ec7;
    font-size: 22px;
    font-weight: bold;">
    <?= $this->translate( 'Contact the administrator' ) ?>
</h2>

<table>
    <tr>
        <td>
            <?= 'Name' ?>: <?= $this->nombre ; ?>
        </td>
    </tr>

    <tr>
        <td>
            <?= 'Email' ?> : <?= $this->email ; ?>
        </td>
    </tr>

    <tr>
        <td>
            <?= 'Message' ?>:
        </td>
    </tr>

</table>

<br/>
<?= $this->comentario ; ?>
<br/>

<img 
    src="http://medtechtrade.zend.local/theme/default/image/logo-top.png"
    alt="www.medtechtrade.com" />
