
<style type="text/css">
    table tr td {
        padding: 5px;
    }
</style>

<h2 style="color: #106ec7;
    font-size: 22px;
    font-weight: bold;">

    <?= 'Contact request for medtechtrade.com' ?>
</h2>

<br/>
<br/>

<?= 'New Contact Request via www.medtechtrade.com' ?>

<br/>

<table>
    <tr>
        <td>
            <?= 'Name' ?>: <?= $this->organizacion ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Direction' ?>: <?= $this->direccion ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Zip' ?>: <?= $this->codpostal ; ?>
        </td>
    </tr>

    <tr>
        <td>
            <?= 'City' ?>:
            <?= $this->ciudad ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Country' ?>:<?= $this->pais ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Email' ?>:<?= $this->email ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Phone' ?>:
            <?= $this->telefono ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Message' ?>:
        </td>
    </tr>

</table>
<br/>
<?= $this->comentario ; ?>
<br/>

<img src="http://medtechtrade.zend.local/theme/default/image/logo-top.png" alt="www.medtechtrade.com" />

