<style type="text/css">
    table tr td {
        padding: 5px;
    }
</style>

<h2 style="color: #106ec7;
    font-size: 22px;
    font-weight: bold;">
    <?= $this->translate( 'A quote request for device' ) ?>
</h2>
<?=

$this->translate(
        'Dears Sir or Madam,<br/>
Many Thanks for you request. Below you will find a summary of all registered data.
Our Team will contact you soon.'
 ) ;

?>


<h3 style="font-size: 17px;
    color: #4282BE;
    font-weight: bold;"><?= $this->translate( 'Device Data' ) ?>
</h3>

<table>
    <tr>
        <td>
            <?= 'Product Name' ?> : <?= $this->equipo ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Manufacturer' ?> :
            <?= $this->fabricante ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Model' ?> : <?= $this->modelo ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'year of manufature' ?> :
            <?= $this->fechafabricacion ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Article ID' ?> :  <?= $this->equipo_id ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'link' ?> : <?= $this->link ; ?>
        </td>

    </tr>
</table>

<h3 style="font-size: 17px;
    color: #4282BE;
    font-weight: bold;">
    <?= 'Your Contact' ?>
</h3>
<table>
    <tr>
        <td>
            <?= 'Name' ?> : <?= $this->nombre ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'organization' ?> : <?= $this->organizacion ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Direction' ?> : <?= $this->direccion ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Zip' ?> : <?= $this->codpostal ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'City' ?> : <?= $this->ciudad ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Country' ?> : <?= $this->pais ; ?>
        </td>
    </tr>

    <tr>
        <td>
            <?= 'Email' ?> : <?= $this->email ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Subject' ?> :
            <?= $this->asunto ; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= 'Your message' ?> :
        </td>
    </tr>

</table>

<br/>
<?= $this->mensaje ; ?>

<br/>
<br/>
<img 
    src="http://medtechtrade.zend.local/theme/default/image/logo-top.png"
    alt="www.medtechtrade.com"
    />