<style type="text/css">
    table tr td {
        padding: 5px;
    }
</style>

<h2 style="color: #106ec7;
    font-size: 22px;
    font-weight: bold;">
    <?= $this->translate( 'Hello' ) ?> <?= $this->usuario; ?>,
</h2>

<?= $this->translate( 'welcome to Medtechtrade.com<br/>thanks for signing in his account was created and must
        be activated by the administrator <br/> before they can use it. We will
        send you a confirmation email soon' ) ?>
    <br/>
    <h3>
    <?=
    $this->translate(
            'after activating your 
        account may be accessed using the following information'
    )
    ?>
    : 
</h3>

<table>
    <tr>
        <td>
            <?= $this->translate( 'username' ) ?> :  <?= $this->login; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= $this->translate( 'password' ) ?>  : <?= $this->clave; ?>
        </td>
    </tr>

</table>

<?= $this->translate( 'ingresar a este url para poder validar su correo' ); ?>
            <br/>

            <a href="<?= $_SERVER['SERVER_NAME'] . "/emailcheck/" . $this->enlace ?>" >
    <?= $this->translate( 'validar Email' ) ?>
</a>


<br/>
