<style type="text/css">
    table tr td {
        padding: 5px;
    }
</style>

<h2 style="color: #106ec7;
    font-size: 22px;
    font-weight: bold;">
    <?= $this->translate( 'Hello' ) ?> <?= $this->usuario; ?>,
</h2>

<?= $this->translate( 'welcome to Medtechtrade.com<br/>thanks for signing in his account was created and must
        be activated by the administrator <br/> before they can use it. We will
        send you a confirmation email soon' ) ?>
    <br/>
    

<table>
    <tr>
        <td>
            <?= $this->translate( 'username' ) ?> :  <?= $this->login; ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= $this->translate( 'password' ) ?>  : <?= $this->clave; ?>
        </td>
    </tr>

</table>

<br/>
