<h2>
    <span style="color:#467aa2; font-size: 14px" >
        <?= $this->translate( 'solicitud de cotizacion' ) ?>
    </span>
</h2>

<p style="color: #000000; width: 250px; float: left">
    <?= $this->translate( 'estimado usuario' ) ?>,
    </p>
    <p style="color: #000000; width: 250px; float: left">
    <?= $this->translate( 'gracias por su solicitud. abajo un resumen de todos
            los datos. nuestro equipo lo contactara a la brevedad' ) ?>
    </p>
    <p style="color: #53b6dd; width: 250px; float: left">
    <?= $this->translate( 'datos del equipo' ) ?>
    </p>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= $this->translate( 'nombre del producto' ) ?>
    </p>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= $this->translate( 'nombre' ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right ">
    <?= $this->nombre ; ?>
    </p>
    <div style="clear:both;"></div>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= utf8_decode( $this->translate( 'organizacion' ) ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right ">
    <?= $this->organizacion ; ?>
    </p>
    <div style="clear:both;"></div>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= utf8_decode( $this->translate( 'codigo postal' ) ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right">
    <?= $this->codpostal ; ?>
    </p>
    <div style="clear:both;"></div>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= utf8_decode( $this->translate( 'ciudad' ) ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right">
    <?= $this->ciudad ; ?>
    </p>
    <div style="clear:both;"></div>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= utf8_decode( $this->translate( 'pais' ) ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right">
    <?= $this->pais ; ?>
    </p>
    <div style="clear:both;"></div>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= utf8_decode( $this->translate( 'email' ) ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right">
    <?= $this->email ; ?>
    </p>
    <div style="clear:both;"></div>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= utf8_decode( $this->translate( 'asunto' ) ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right">
    <?= $this->asunto ; ?>
    </p>
    <div style="clear:both;"></div>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= utf8_decode( $this->translate( 'mensaje' ) ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right">
    <?= $this->mensaje ; ?>
    </p>
    <div style="clear:both;"></div>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= utf8_decode( $this->translate( 'fabricante' ) ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right">
    <?= $this->fabricante ; ?>
    </p>
    <div style="clear:both;"></div>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= utf8_decode( $this->translate( 'nombre del producto' ) ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right">
    <?= $this->equipo ; ?>
    </p>
    <div style="clear:both;"></div>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= utf8_decode( $this->translate( 'modelo' ) ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right">
    <?= $this->modelo ; ?>
    </p>
    <div style="clear:both;"></div>
    <p style="color: #000000; font-weight: bold; width: 250px; float: left">
    <?= utf8_decode( $this->translate( 'fecha de fabricacion' ) ) ?>
    </p>
    <p style="color: #000000; width: 500px; float: right">
    <?= $this->fechafabricacion ; ?>
</p> 
<div style="clear:both;"></div>





