<style type="text/css">
    table tr td {
        padding: 5px;
    }
</style>

<h2 style="color: #106ec7;
    font-size: 22px;
    font-weight: bold;">
	<?= $this->translate( 'A quote request for device' ) ?>
</h2>
<?=

	$this->translate(
			'Dears Sir or Madam,<br/>
Many Thanks for you request. Below you will find a summary of all registered data.
Our Team will contact you soon.'
	) ;

?>


	<h3 style="font-size: 17px;
		color: #4282BE;
		font-weight: bold;">
	<?= $this->translate( 'Device Data' ) ?>
</h3>

<table>
	<tr>
		<td>
			<?= $this->translate( 'Product Name' ) ?> :  <?= $this->equipo ; ?>
        </td>
    </tr>
    <tr>
        <td>
			<?= $this->translate( 'Manufacturer' ) ?> :
			<?= $this->fabricante ; ?>
        </td>
    </tr>
    <tr>
        <td>
			<?= $this->translate( 'Model' ) ?> : <?= $this->modelo ; ?>
        </td>
    </tr>
    <tr>
        <td>
			<?= $this->translate( 'year of manufature' ) ?> :
			<?= $this->fechafabricacion ; ?>
        </td>
    </tr>
    <tr>
        <td>
			<?= $this->translate( 'Article ID' ) ?> :  <?= $this->equipo_id ; ?>
        </td>
    </tr>
    <tr>
        <td>
			<?= $this->translate( 'link' ) ?> : <?= $this->link ; ?>
        </td>

    </tr>
	<? if ( isset( $this->precio ) && !empty( $this->precio ) ): ?>
				<tr>
					<td>
			<?= $this->translate( 'precio' ) ?> : <?= $this->precio ; ?>
			<?= $this->moneda ; ?>
			</td>

		</tr>
	<? endif ; ?>
			</table>

			<h3 style="font-size: 17px;
				color: #4282BE;
				font-weight: bold;">
	<?= $this->translate( 'Your Contact' ) ?>
			</h3>
			<table>
				<tr>
					<td>
			<?= $this->translate( 'Name' ) ?> : <?= $this->nombre ; ?>
			</td>
		</tr>
		<tr>
			<td>
			<?= $this->translate( 'organization' ) ?> : <?= $this->organizacion ; ?>
			</td>
		</tr>
		<tr>
			<td>
			<?= $this->translate( 'Direction' ) ?> : <?= $this->direccion ; ?>
			</td>
		</tr>
		<tr>
			<td>
			<?= $this->translate( 'Zip' ) ?> : <?= $this->codpostal ; ?>
			</td>
		</tr>
		<tr>
			<td>
			<?= $this->translate( 'City' ) ?> : <?= $this->ciudad ; ?>
			</td>
		</tr>
		<tr>
			<td>
			<?= $this->translate( 'Country' ) ?> : <?= $this->pais ; ?>
			</td>
		</tr>

		<tr>
			<td>
			<?= $this->translate( 'Email' ) ?> : <?= $this->email ; ?>
			</td>
		</tr>
		<tr>
			<td>
			<?= $this->translate( 'Subject' ) ?> :
			<?= $this->asunto ; ?>
			</td>
		</tr>
		<tr>
			<td>
			<?= $this->translate( 'Your message' ) ?> :
			</td>
		</tr>

	</table>

	<br/>
<?= $this->mensaje ; ?>

<br/>
<br/>
<img src="http://medtechtrade.zend.local/theme/default/image/logo-top.png" alt="www.medtechtrade.com" />