<h2>
    <?= $this->translate( 'alerta configurada por email' ) ?>
</h2>

<p style="color: #071e4a; font-weight: bold; ">
    <?= $this->translate( 'hola' ) ?>, Medtechtrade.com
    <?= $this->translate( 'te informa que se han habilitado los siguientes equipos' ) ?>:<br/>
    <?= $this->url ; ?>
    <?=

    $this->translate( 'para visualizar las caracteristicas del equipo' )

    ?>
</p>
<p>
    <?=

    $this->translate( 'aqui podras encontrar gran cantidad de 
        articulos a precios interesantes' )

    ?>
</p> 
<p>
    <?= $this->translate( 'muchas gracias por recomendarnos' ) ?>
</p>

<br/>

<img src="http://medtechtrade.zend.local/theme/default/image/logo-top.png" alt="www.medtechtrade.com" />