<style type="text/css">
    table tr td {
        padding: 5px;
    }
</style>

<h2 style="color: #106ec7;
    font-size: 22px;
    font-weight: bold;">
    <?= $this->translate( 'Recommmended Link from your friend' ) ?>
</h2>

<?= $this->translate( 'Hello' ) ?>  <?= $this->nombre; ?> <br/>

<?= $this->translate('One of your friends recommends you the following web page');?>:
<br/>
<br/>
<a href="<?= $this->url; ?>">
<?= $this->translate( 'enlace' ) ?>
</a>
<br/>
<br/>
<?= $this->translate( 'With kind regards from the Medtechtrade team' ) ?>
<br/>
<br/>
<br/>
<img src="http://medtechtrade.com/theme/default/image/logo-top.png"
     alt="www.medtechtrade.com" />