<h2>
    <?= $this->translate( 'Bolsa de Compras' ) ?>
</h2>
<form action="<?= $this->escape( $this->checkout->getAction() ) ?>"
      method="<?= $this->escape( $this->checkout->getMethod() ) ?>">

    <table class="listado" style="width:100%;">
        <thead>
            <tr>
                <th>

                    <?= $this->translate( 'delete' ) ?>
                </th>
                <th>
                    <?= $this->translate( 'image' ) ?>
                </th>
                <th>
                    <?= $this->translate( 'equipo' ) ?>
                </th>
                <th>
                    <?= $this->translate( 'forma de pago' ) ?>

                </th>
                <th>
                    <?= $this->translate( 'precio' ) ?>
                </th>
            </tr>
        </thead>
        <tbody>

            <? foreach ( $this->checkout->getSubforms() as $form ): ?>
            <? if ( $form->equipo_id ): ?>
                            <tr>
                                <td>

                    <?= $form->equipo_id->renderViewHelper() ?>
                    <?= $form->id_equipo_check->renderViewHelper() ?>
                        </td>
                        <td>
                    <?= $form->image->renderViewHelper() ?>
                        </td>
                        <td>
                    <?= $form->equipo->renderViewHelper() ?>
                        </td>
                        <td>
                    <?= $form->equipo_has_formapago_id->renderViewHelper() ?>
                    <? if ( $form->equipo_has_formapago_id->renderViewHelper() ): ?>
                    <?= $form->equipo_has_formapago_id->renderErrors() ?>
                    <? endif ; ?>

                            </td>
                            <td>
                    <?= $form->precio->renderViewHelper() ?>
                            </td>
                        </tr>
            <? endif ; ?>

            <? endforeach ; ?>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                    <?= $this->total ?>
                            </td>
                        </tr>


                    </tbody>

                </table>
                <div id="div-acciones">
                    <span id="checkout-cart" class="btn-enlace"

                          title=" <?= $this->translate( 'comprar carro' ) ?>"
                          >
                        <a href="
            <?=

                                $this->url(
                                        array(
                                            'module' => 'user' ,
                                            'controller' => 'checkout' ,
                                            'action' => 'cart' ) , 'default' , true
                                ) ;

            ?>
                                   ">

                <?= $this->translate( 'comprar carro' ) ?>
                            </a>
                        </span>

                        <span id="checkout-cart" class="btn-enlace">
                            <a href="
            <?=

                                $this->url(
                                        array(
                                            'module' => 'user' ,
                                            'controller' => 'checkout' ,
                                            'action' => 'delete' ) , 'default' , true
                                ) ;

            ?>
                                   " onclick="return confirm(
               <?= $this->translate( '¿Estás seguro?' ) ; ?>
                 )" >

                <?= $this->translate( 'borrar compras' ) ?>
                            </a>
                        </span>

        <?= $this->checkout->submit->renderViewHelper() ?>
    </div>

</form>



