<h2>
    <?= $this->translate( 'fabricantes' ) ?>
</h2>

<div class="grid_16">
    <form
        action="<?= $this->escape( $this->searchForm->getAction() ) ?>"
        method="<?= $this->escape( $this->searchForm->getMethod() ) ?>"
        class="<?= $this->escape( $this->searchForm->getAttrib( 'class' ) ) ?>"
        >
        <div class="grid_11 alpha">

            <div class="grid_7 alpha">
                <?= $this->searchForm->nombre ; ?>
            </div>
            <div class="grid_4 omega">
                <?= $this->searchForm->submit->renderViewHelper() ; ?>
            </div>
            <div class="clear"></div>
        </div>
    </form>
    <div class="grid_5 omega">
        <a href="<?=

                $this->url( array(
                    'module' => 'admin' ,
                    'controller' => 'fabricante' ,
                    'action' => 'nuevo'
                        ) ,
                            null ,
                            true )

                ?>"
           title="<?= $this->translate( 'nuevo' ) ?>"
           >
            <span class="imagen-new"
                  title="<?= $this->translate( 'nuevo' ) ?>"
                  >

            </span>

        </a>
    </div>

</div>

<div class="clear"></div>

<table border="1" class="listado">
    <thead>
        <tr>
            <th><?= $this->translate( 'image' ) ?></th>
            <th><?= $this->translate( 'nombre' ) ?></th>
            <th><?= $this->translate( 'acciones' ) ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ( $this->fabricantes as $fabricante ): ?>
            <? $id = $fabricante->id ; ?>
            <tr class="<?=

        $fabricante->active ? 'activo' : 'inactivo'

            ?>">

                <td>
                    <img 
                        src="/media/catalog/manufacturer/default/<?= $fabricante->imagen ?>" 
                        alt="<?= $fabricante->imagen ?>" height="168" width="167"  /> 
                </td>
                <td>
                    <?= $this->escape( $fabricante->nombre ) ?>
                </td>
                <td>

                    <?php

                    $link = $this->url(
                            array( 'module' => 'admin'
                                , 'controller' => 'fabricante'
                                , 'action' => 'editar'
                                , 'id' => $id ) )

                    ?>
                    <a href="<?= $link ?>"
                       title="<?= $this->translate( 'editar' ) ?>">
                        <span class="imagen-edit" title="<?= $this->translate( 'editar' ) ?>">

                        </span>


                        <?php

                        $link = $this->url( array( 'module' => 'admin'
                            , 'controller' => 'fabricante'
                            , 'action' => 'borrar'
                            , 'id' => $id ) )

                        ?>
                        <a href="<?= $link ?>"
                           title="<?= $this->translate( 'eliminar' ) ?>"
                           onclick="return
                                   confirm(<?= $this->translate( '¿Estás seguro?' ) ?>)">

                            <span class="imagen-delete" 
                                  title="<?= $this->translate( 'eliminar' ) ?>"
                                  >

                            </span>

                        </a>

                        <?php if ( $fabricante->active ): ?>
                            <?php

                            $link = $this->url(
                                    array( 'module' => 'admin'
                                        , 'controller' => 'fabricante'
                                        , 'action' => 'desactivar'
                                        , 'id' => $id ) )

                            ?>
                            <a href="<?= $link ?>"
                               title="<?= $this->translate( 'desactivar' ) ?>"
                               >
                                <span class="imagen-desactivar" 
                                      title="<?= $this->translate( 'desactivar' ) ?>"
                                      >
                                </span>


                            <?php else: ?>
                                <?php

                                $link = $this->url(
                                        array( 'module' => 'admin'
                                            , 'controller' => 'fabricante'
                                            , 'action' => 'activar'
                                            , 'id' => $id ) )

                                ?>

                                <a href="<?= $link ?>"
                                   title="<?= $this->translate( 'activar' ) ?>" >
                                    <span class="imagen-activar"></span>

                                </a>
                            <?php endif ; ?>

                            </td>
                            </tr>
                        <?php endforeach ; ?>
                        </tbody>
                        </table>
                        <br />
                        <?=

                        $this->paginationControl(
                                $this->fabricantes ,
                                'Sliding' ,
                                'fabricante/_pag.phtml'
                        ) ;

                        ?>


