<div id="dg-rpta" title="<?= $this->translate('responder a la pregunta') ?>">
    <?= $this->formAnswer; ?>
</div>
<div class="grid_16">
    <form
        action="<?= $this->escape($this->searchForm->getAction()) ?>"
        method="<?= $this->escape($this->searchForm->getMethod()) ?>"
        class="<?= $this->escape($this->searchForm->getAttrib('class')) ?>"
        >
        <div class="grid_11 alpha">

            <div class="grid_7 alpha">
                <?= $this->searchForm->nombre; ?>
            </div>
            <div class="grid_4 omega">
                <?= $this->searchForm->submit->renderViewHelper(); ?>
            </div>
            <div class="clear"></div>
        </div>
    </form>

</div>

<div class="clear"></div>

<table border="1" class="listado">
    <thead>
        <tr>
            <th>
                <?= $this->translate('id') ?>
            </th>
            <th>
                <?= $this->translate('pais') ?>
            </th>
            <th>
                <?= $this->translate('usuario') ?>
            </th>
            <th>
                <?= $this->translate('username') ?>
            </th>
            <th>
                <?= $this->translate('equipo') ?>
            </th>
            <th>
                <?= $this->translate('fecha') ?>
            </th>
            <th>
                <?= $this->translate('asunto') ?>
            </th>
            <th>
                <?= $this->translate('formulacion') ?>
            </th>
            <th>
                <?= $this->translate('respuesta') ?>
            </th>
            <th>
                <?= $this->translate('acciones') ?>
            </th>

        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->preguntas as $pregunta): ?>

            <tr>
                <td>
                    <?= $this->escape($pregunta->id) ?>
                </td>
                <td>
                    <?= $this->escape($pregunta->pais) ?>
                </td>
                <td>
                    <?=
                    $this->escape(
                            $pregunta->nombre . ' ' . $pregunta->apellido
                    )
                    ?>
                </td>
                <td>
                    <?=
                    $this->escape(
                            $pregunta->login
                    )
                    ?>
                </td>
                <td>
                    <?=
                    $this->escape(
                            $pregunta->slug
                    )
                    ?>
                </td>
                <td>
                    <?=
                    $this->escape(
                            $pregunta->fechaformulacion
                    )
                    ?>
                </td>
                <td>
                    <?=
                    $this->escape(
                            $pregunta->asunto
                    )
                    ?>
                </td>
                <td>

                    <div>
                        <?
                        $tool = new Mtt_Tools_Text();
                        ?>
                        <?=
                        $tool->getShortText(
                                $pregunta->formulacion, 50
                        );
                        ?>
                    </div>
                </td>
                <td>
                    <?=
                    $this->escape(
                            $pregunta->respuesta
                    )
                    ?>
                </td>
                <td>
                           <?php if ($pregunta->estado == 0): ?>
                        <a href="#responder" class="rpta"
                           id="<?= $pregunta->id ?>" >
                        <?= $this->translate('responder'); ?>
                        </a>
                    <? endif; ?>

                    <? if ($pregunta->active): ?>
                        <?
                        $link = $this->url(
                                array(
                                    'module' => 'admin',
                                    'controller' => 'pregunta',
                                    'action' => 'desactivar',
                                    'id' => $pregunta->id))
                        ?>
                        <a href="<?= $link ?>"
                           title="<?= $this->translate('desactivar') ?>">

                            <span class="imagen-desactivar"
                                  title="<?= $this->translate('desactivar') ?>"
                                  >
                            </span>
                        </a>
                    <? else: ?>
                        <?
                        $link = $this->url(
                                array('module' => 'admin',
                                    'controller' => 'pregunta',
                                    'action' => 'activar',
                                    'id' => $pregunta->id))
                        ?>
                        <a href="<?= $link ?>"
                           title="<?= $this->translate('activar'); ?>">
                            <span class="imagen-activar"></span>

                        </a>
    <? endif; ?>
                </td>
            </tr>

<?php endforeach; ?>
    </tbody>
</table>

<?=
$this->paginationControl(
        $this->preguntas, 'Sliding', 'equipo/_pag.phtml'
);
?>