<h2>
    <?= $this->translate('usuario') ?>
</h2>

<ul id="myMenu" class="contextMenu">
    <li id="operaciones" class="operaciones">
        <a href="#operaciones">
        <?= $this->translate('operaciones')  ?>
        </a>
    </li>
    <li id="equipos" class="equipos">
        <a href="#equipos">
        <?= $this->translate('equipos')  ?>
        </a>
    </li>
    <li id="edit" class="edit">
        <a href="#edit">
        <?= $this->translate( 'editar' ) ?>
        </a>
    </li>
    <li id="changePassword" class="changePassword">
        <a href="#changePassword">
        <?= $this->translate('change password') ?>
        </a>
    </li>
    <li id="inactive" class="inactive">
        <a href="#inactive">
        <?= $this->translate('desactivar') ?>
        </a>
    </li>
    <li id="active" class="active">
        <a href="#active">
        <?= $this->translate('activar') ?>
        </a>
    </li>
    <li id="acreditar" class="acreditar">
        <a href="#acreditar">
        <?= $this->translate('acreditar') ?>
        </a>
    </li>
    <li id="desacreditar" class="desacreditar">
        <a href="#desacreditar">
        <?= $this->translate('desacreditar') ?>
        </a>
    </li>
    
    

</ul>

<div class="grid_16">
    

        <a href="<?=
                $this->url(array(
                    'module' => 'admin',
                    'controller' => 'user',
                    'action' => 'nuevo'
                        ), null, true)
                ?>"
           title="<?= $this->translate('nuevo') ?>">
            <span class="imagen-new"
                  title="<?= $this->translate('nuevo') ?>"
                  >

            </span>

        </a>


</div>

<div class="clear"></div>

<div class="grid_16">
    
    <?=$this->grid;?>
    
</div>

<div class="clear"></div>

