<h2>
    <?= $this -> translate( 'nuevo usuario' ) ?>
</h2>

<?= $this -> frmRegistrar ; ?>
    <div style="clear:both;"></div>
    <span class="msj-required">* <?= $this -> translate( 'requerido' ) ?>
</span>