<h2><?= $this->translate('usuarios') ?>
    <a href="<?=
$this->url(array(
    'module' => 'admin',
    'controller' => 'user',
    'action' => 'nuevo'
        ), null, true)
?>"
       title="<?= $this->translate('nuevo') ?>">
        <span class="imagen-new"
              title="<?= $this->translate( 'nuevo' ) ?>"
              >

        </span>

    </a>
</h2>
<table border="1" class="listado">
    <thead>
        <tr>
            <th>
                <?= $this->translate('Nombre') ?>
            </th>
            <th>
                <?= $this->translate('Apellido') ?>
            </th>
            <th>
                <?= $this->translate('Email') ?>
            </th>
            <th>
                <?= $this->translate('Login') ?>
            </th>
            <th>
                <?= $this->translate('Rol') ?>
            </th>
            <th>
                <?= $this->translate('Fecha De Registro') ?>
            </th>
            <th>
                <?= $this->translate('Ciudad') ?>
            </th>
            <th>
                <?= $this->translate('Cod. Postal') ?>
            </th>
            <th>
                <?= $this->translate('Pais') ?>
            </th>
            <th>
                <?= $this->translate('Operaciones') ?>
            </th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->usuarios as $usuario):
            ?>
            <?php $id = $usuario->id; ?>
            <tr>

                <td>
                    <?php
                    $link = $this->url(array('module' => 'admin',
                        'controller' => 'user',
                        'action' => 'detalle',
                        'id' => $usuario->id))
                    ?>
                    <a href="#" 
                       onclick="prueba(<?= $this->escape($usuario->id) ?>)">
                           <?= $this->escape($usuario->nombre) ?>
                    </a>

                </td>
                <td><?= $this->escape($usuario->apellido) ?></td>
                <td><?= $this->escape($usuario->email) ?></td>
                <td><?= $this->escape($usuario->login) ?></td>
                <td><?= $this->escape($usuario->rol) ?></td>
                <td><?= $this->escape($usuario->fecharegistro) ?></td>
                <td><?= $this->escape($usuario->ciudad) ?></td>
                <td><?= $this->escape($usuario->codpostal) ?></td>
                <td><?= $this->escape($usuario->pais) ?></td>

                <!--Operaciones -->
                <td>
                    <!--Operaciones -->
                    <?php
                    $link = $this->url(array('module' => 'admin',
                        'controller' => 'user',
                        'action' => 'operation',
                        'id' => $id))
                    ?>
                    <a href="<?= $link ?>" 
                       title="<?= $this->translate('operaciones') ?>" >
                        <span class="imagen-transacciones"></span>

                    </a>
                    <!--End operaciones -->

                    <!--Operaciones -->
                    <?php
                    $link = $this->url(array('module' => 'admin',
                        'controller' => 'user',
                        'action' => 'equipment',
                        'id' => $id))
                    ?>
                    <a href="<?= $link ?>" 
                       title="<?= $this->translate('equipos') ?>" >
                        <span class="imagen-equipos"></span>

                    </a>

                    <!--End Equipos -->


                    <?php
                    $link = $this->url(array('module' => 'admin',
                        'controller' => 'user',
                        'action' => 'editar',
                        'id' => $id))
                    ?>
                    <a href="<?= $link ?>" 
                       title="<?= $this->translate('editar') ?>" >
                        <span class="imagen-edit" 
                              title="<?= $this->translate( 'editar' ) ?>"
                              >
                        </span>

                    </a>

                    <?php
                    $link = $this->url(array('module' => 'admin',
                        'controller' => 'user',
                        'action' => 'borrar',
                        'id' => $id))
                    ?>

                    <?php if ($usuario->active): ?>
                        <?php
                        $link = $this->url(array('module' => 'admin',
                            'controller' => 'user',
                            'action' => 'desactivar',
                            'id' => $id))
                        ?>
                        <a href="<?= $link ?>" 
                           title="<?= $this->translate('desactivar') ?>" >
                            <span class="imagen-desactivar"
                                  title="<?= $this->translate('desactivar') ?>"
                                  >
                            </span>

                        </a>

                    <?php else: ?>
                        <?php
                        $link = $this->url(array('module' => 'admin',
                            'controller' => 'user',
                            'action' => 'activar',
                            'id' => $id))
                        ?>
                        <a href="<?= $link ?>" 
                           title="<?= $this->translate('activar') ?>" >
                            <span class="imagen-activar"></span>

                        </a>

                    <?php endif; ?>

                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?=
$this->paginationControl(
        $this->usuarios, 'Sliding', 'user/_pag.phtml'
);
?>