<span class="device-description-field">
    <?= $this->translate('nombre') ?>
</span>
<span>
    <?= $this->usuario->nombre ?>
</span>


<
<span class="device-description-field">
    <?= $this->translate('apellido') ?>
</span>
<span>
    <?= $this->usuario->apellido ?>
</span>




<span class="device-description-field">
    <?= $this->translate('email') ?>
</span>
<span>
    <?= $this->usuario->email ?>
</span>



<span class="device-description-field">
    <?= $this->translate('login') ?>
</span>
<span>
    <?= $this->usuario->login ?>
</span>


<span class="device-description-field">
    <?= $this->translate('ciudad') ?>
</span>
<span>
    <?= $this->usuario->ciudad ?>
</span>


