body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
letter-spacing: 0px; }

h1 {
    font-size: 26px;
    font-weight: bold; }

h2 {
    color: #4282BE;
    font-size: 22px;
    font-weight: bold; }

h3 {
font-size: 20px; }

p {
    font-size: 14px;
    line-height: 1.5em;
margin: 10px 0 5px; }

h1, h2, h3 {
margin: 10px 0 5px; }

a, p, span, h1, h3 {
    text-decoration: none;
color: #666; }

a:hover {
    text-decoration: none; }

strong {
    font-weight: bold; }

.wrap {
    width: 100%;
    text-align: center; }

.section {
    margin: auto;
width: 960px; }

#wrap-top {
    background-image: url(/theme/default/image/top-background.png);
    background-repeat: repeat-x;
    background-position: bottom; }

#section-top {
height: 100px; }

#logo-top {
    float: left;
    margin: 13px 0 0 1px;
    width: 256px;
height: 61px; }

#lang-selection-top {
    float: right;
margin: 13px 1px 0 0; }

#sections-buttons-top {
    width: 700px;
    float: right;
    margin: 35px 0 0 0;
    height: 30px;
    text-align: right;
    li {
        background-image: url(/theme/default/image/top-button-background.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        list-style-type: none;
        display: inline-block;
    height: 30px; }
    .selected {
        font-weight: bold;
        letter-spacing: -1px; }
    li {
        &:hover, &.selected {
            background-image: url(/theme/default/image/top-button-background-hover.png); }
        span {
            background-image: url(/theme/default/image/top-button-right.png);
            background-repeat: no-repeat;
            background-position: right bottom;
            position: relative;
            display: block;
            white-space: nowrap;
            padding: 0 10px 0 10px;
            height: 30px;
            text-align: center;
            &:hover {
                background-image: url(/theme/default/image/top-button-right-hover.png); } }
            &.selected span {
                background-image: url(/theme/default/image/top-button-right-hover.png); }
            a {
                font-size: 14px;
                color: white;
                display: inline-block;
            margin: 10px 0 0 0px; } } }
            
            #wrap-middle {
                background-image: url(/theme/default/image/middle-background.png);
                background-repeat: repeat-x;
                background-position: center top;
            /* border-bottom: 1px solid #CCC; */ }
            
            #section-middle {
                /*background-color: RGBA(224,64,64,0.3);*/
                padding: 45px 0 0 0;
            /* height: 710px;	/* 760px; */ }
            
            #section-middle-categories {
                /*background-color: RGBA(64,64,224,0.3);*/
                width: 210px;
                margin: 0 0 30px 0;
                display: block;
                float: left;
                ul {
                    margin: -10px 0 0 0; }
                li span {
                    padding: 10px 0 10px 15px;
                    display: block;
                    border-bottom: dotted 1px #666;
                    &:hover, &.selected {
                    background-color: #DBDBDB; }
                    &:hover a, &.selected a {
                    color: #4E4E4E; } } }
                    
                    /*#section-middle-categories li:last-child span	{
                    border-bottom: dotted 1px #666;
                    }*/
                    
                    #section-middle-list {
                        margin: 10px 0 0 0;
                        background-image: url(/theme/default/image/middle-lookinglist-background.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        display: block;
                        padding: 15px 10px;
                        width: 190px;
                        height: 76px;
                        text-align: right; }
                    
                    #section-middle-list-advice {
                        font-size: 12px;
                        font-weight: bold;
                        margin: 10px 5px 0 0;
                        width: 100%;
                        text-align: right; }
                    
                    #section-middle-list a {
                        display: inline;
                        span {
                            background-image: url(/theme/default/image/middle-link-button.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            display: inline-block;
                            font-size: 12px;
                            font-weight: bold;
                            text-align: center;
                            width: 97px;
                            padding: 4px 0;
                            color: white; } }
                        
                        #section-middle-body {
                            float: left;
                            margin-left: 20px;
                            width: 730px;
                        margin-bottom: 20px; }
                        
                        /*agregando codigo para el layout de Usuario*/
                        
                        #section-middle-content {
                            width: 522px;
                            float: left;
                            margin-left: 0px;
                        margin-bottom: 20px; }
                        
                        #section-middle-acciones {
                            width: 205px;
                            float: left;
                            margin-left: 9px;
                            #listacciones {
                                margin: 5px;
                                padding: 5px;
                                background-color: #f0f4f5;
                                border-style: solid;
                                border-color: #898e8f;
                                li {
                                    padding-top: 8px;
                                    padding-bottom: 8px;
                                    border-style: dotted;
                                    border-color: #141214;
                                border-bottom-width: 1px; } } }
                                
                                #section-middle-search {
                                    /*background-color: RGBA(64,64,224,0.3);*/
                                    width: 210px;
                                    margin: 0 0 30px 0;
                                    display: block;
                                    float: right; }
                                
                                /*fin del codigo*/
                                /*#section-middle-body p,	#section-middle-body h1	{
                                margin: 6px 0 0 18px;
                                }*/
                                
                                #wrap-bottom {
                                    border-top: 1px solid #666;
                                    clear: both;
                                    background-image: url(/theme/default/image/bottom-background.png);
                                    background-repeat: repeat-x;
                                    background-position: center top; }
                                
                                #section-bottom {
                                    height: 150px;
                                    p {
                                        font-size: 11px;
                                    margin: 0; } }
                                    
                                    #section-bottom-footer {
                                        display: inline-block;
                                        width: 400px;
                                        height: 80px;
                                        margin-left: 280px;
                                    margin-right: 280px; }
                                    
                                    #section-bottom-buttons {
                                        margin: 0 0 0 3px;
                                        text-align: center;
                                        li {
                                            margin: 8px 0 0 0;
                                            list-style-type: none;
                                            display: inline-block; } }
                                        
                                        #section-botttom-copyright {
                                            margin: 12px 0 0 2px;
                                            text-align: center; }
                                        
                                        .bottom-country {
                                            float: right;
                                            padding: 7px 0px 0 40px;
                                            width: 175px;
                                            height: 140px;
                                            h4 {
                                                font-weight: bold; } }
                                            
                                            #section-bottom-country-chile {
                                                background-image: url(/theme/default/image/bottom-flag-chile.png);
                                                background-repeat: no-repeat;
                                            background-position: 4px 11px; }
                                            
                                            #section-bottom-country-peru {
                                                background-image: url(/theme/default/image/bottom-flag-peru.png);
                                                background-repeat: no-repeat;
                                            background-position: 4px 11px; }
                                            
                                            #section-bottom-country-switzerland {
                                                background-image: url(/theme/default/image/bottom-flag-switzerland.png);
                                                background-repeat: no-repeat;
                                            background-position: 4px 11px; }
                                            
                                            #section-bottom-country-poland {
                                                background-image: url(/theme/default/image/bottom-flag-poland.png);
                                                background-repeat: no-repeat;
                                            background-position: 4px 11px; }
                                            
                                            /* Device List */
                                            
                                            .device-horizontal-list {
                                                
                                                border-top: dotted 1px #CCC;
                                            }
                                            
                                            .device-horizontal-list div {
                                                display: inline-block;
                                                text-align: center;
                                                width: 167px;
                                                margin-top: 10px;
                                                margin-bottom: 10px;
                                                margin-left: 0;
                                                margin-right: 17px;
                                                &:first-child {
                                                    padding-right: 0;
                                                margin-right: 18px; }
                                                .manufacturer {
                                                    display: block;
                                                    font-weight: bold;
                                                color: #3F3F3F; }
                                                .name {
                                                    display: block; }
                                                a span {
                                                    background-image: url(/theme/default/image/middle-link-button.png);
                                                    background-repeat: no-repeat;
                                                    background-position: center;
                                                    display: inline-block;
                                                    font-size: 12px;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    width: 97px;
                                                    padding: 4px 0;
                                                    margin: 4px 0 0 0;
                                                    color: white; }
                                                &.last-div {
                                                    padding-right: 0;
                                                    margin-right: 0;
                                                margin-left: 0px; } }
                                                
                                                /* Right "Click to see all" link */
                                                
                                                .see-more {
                                                    margin: -1.2em 0 0 0;
                                                    float: right;
                                                    a {
                                                        font-size: 13px;
                                                        color: #4282BE;
                                                        font-weight: bold; } }
                                                    
                                                    /* Right "order By" drop down select */
                                                    
                                                    .order-by {
                                                        /*    background-image: url(/theme/default/image/dropdown.png);*/
                                                        /*    background-repeat: no-repeat;
                                                        background-position: center;
                                                        border: none;
                                                        background-color: transparent;*/
                                                        width: 162px;
                                                        height: 24px;
                                                        padding: 0 0 0 10px;
                                                        margin: -24px 0 0 0;
                                                        float: right; }
                                                    
                                                    /* Device description */
                                                    
                                                    /* Breadcrumb for devices */
                                                    
                                                    .breadcrumb a:last-child {
                                                        font-weight: bold; }
                                                    
                                                    /* Main description */
                                                    
                                                    #device-foto-galery {
                                                        padding: 10px;
                                                        border: 1px solid #999;
                                                        width: 220px;
                                                        text-align: right;
                                                        float: left;
                                                        img {
                                                            display: inline-block;
                                                        margin: 2px 0 0 4px; }
                                                        a {
                                                            display: inline-block;
                                                        margin: 4px 0 0 0; } }
                                                        
                                                        #device-actions {
                                                            padding: 10px 0 0 0;
                                                            border: 1px hidden;
                                                            width: 220px;
                                                            float: left;
                                                            a {
                                                                display: inline-block;
                                                                margin: 0 0 5px 0;
                                                                background-image: url(/theme/default/image/device-action-background.png);
                                                                background-repeat: no-repeat;
                                                                background-position: left top;
                                                                font-weight: bold;
                                                                span {
                                                                    display: block;
                                                                    padding: 6px 0 0 40px;
                                                                    width: 203px;
                                                                    height: 19px;
                                                                    /* background-image: url(../img/device-action-pdf.png); */
                                                                    background-repeat: no-repeat;
                                                                    background-position: 16px 5px;
                                                                    &.device-action-pdf {
                                                                        background-image: url(/theme/default/image/device-action-pdf.png); }
                                                                    &.device-action-print {
                                                                        background-image: url(/theme/default/image/device-action-print.png); }
                                                                    &.device-action-question {
                                                                        background-image: url(/theme/default/image/device-action-question.png); }
                                                                    &.device-action-help {
                                                                        background-image: url(/theme/default/image/device-action-help.png); }
                                                                    &.device-action-friend {
                                                                        background-image: url(/theme/default/image/device-action-friend.png); }
                                                                    &.device-action-favorite {
                                                                        background-image: url(/theme/default/image/device-action-favorite.png); }
                                                                    &.device-action-reserve {
                                                                        background-image: url(/theme/default/image/device-action-reserve.png); }
                                                                    &.device-action-tobuy {
                                                                        background-image: url(/theme/default/image/device-action-tobuy.png); } } } }
                                                                    
                                                                    #device-description {
                                                                        padding: 2px;
                                                                        width: 450px;
                                                                        height: auto;
                                                                        margin-top: 0;
                                                                        float: right;
                                                                        border: 1px solid #999;
                                                                        span {
                                                                            padding: 4px 5px;
                                                                            font-size: 13px;
                                                                            display: block;
                                                                            &.tachado {
                                                                                font-style: italic;
                                                                                text-decoration: line-through;
                                                                            }
                                                                            &.device-description-field {
                                                                                background-color: #EEE;
                                                                                font-weight: bold; }
                                                                            &.advanced-search-tab {
                                                                                width: 152px;
                                                                                height: 28px;
                                                                                background-image: url(/theme/default/image/advanced-search-tab.png);
                                                                                background-repeat: no-repeat;
                                                                                background-position: left top;
                                                                                float: right;
                                                                                margin: -30px -25px 0 0;
                                                                            padding: 6px 0 0 22px; } } }
                                                                            
                                                                            #section-middle-content {
                                                                            width: 100%; }
                                                                            
                                                                            #img-logo {
                                                                            margin-left: 0px; }
                                                                            
                                                                            br {
                                                                            padding: 10px; }
                                                                            
                                                                            #dataUser {
                                                                                width: 700px;
                                                                                height: 30px;
                                                                                float: left;
                                                                                padding-top: 17px;
                                                                            padding-bottom: 13px; }
                                                                            
                                                                            #sections-buttons-top {
                                                                            margin-top: 0; }
                                                                            
                                                                            #formIdioma {
                                                                                float: right;
                                                                                div {
                                                                                    float: left;
                                                                                    margin-right: 5px;
                                                                                    &:last-child {
                                                                                    margin-right: 0; } } }
                                                                                    
                                                                                    #userData {
                                                                                        float: left;
                                                                                        margin-left: 5px;
                                                                                    padding-top: 20px; }
                                                                                    
                                                                                    #formIdioma label {
                                                                                        color: #888888;
                                                                                        font-weight: bold; }
                                                                                    
                                                                                    #wrap {
                                                                                        width: 960px;
                                                                                        margin-top: 0;
                                                                                        margin-right: auto;
                                                                                        margin-bottom: 0;
                                                                                        margin-left: auto;
                                                                                        #userMenu {
                                                                                            padding-top: 2px;
                                                                                            width: 960px;
                                                                                            padding-left: 18px;
                                                                                            #nav-user {
                                                                                                li {
                                                                                                    display: inline-block;
                                                                                                    margin-right: 10px;
                                                                                                    position: relative;
                                                                                                    a {
                                                                                                        width: 100px;
                                                                                                        display: block;
                                                                                                        text-decoration: none;
                                                                                                        font-weight: bold; }
                                                                                                    span {
                                                                                                        width: 100px;
                                                                                                        display: block;
                                                                                                        font-weight: bold;
                                                                                                        text-decoration: none;
                                                                                                        padding-top: 7px;
                                                                                                    padding-bottom: 5px; } }
                                                                                                    .currency {
                                                                                                        margin-right: 5 px;
                                                                                                        padding-top: 0;
                                                                                                        padding-bottom: 0;
                                                                                                        width: 120px;
                                                                                                        margin-bottom: -9px;
                                                                                                        #moneda-label {
                                                                                                            display: none; }
                                                                                                        a {
                                                                                                        width: 120px; }
                                                                                                        span {
                                                                                                            margin-top: 0;
                                                                                                            float: right;
                                                                                                            width: 120px;
                                                                                                            padding-bottom: 0;
                                                                                                        padding-top: 0; } }
                                                                                                        .checkout {
                                                                                                            margin-right: 5 px;
                                                                                                            padding-top: 0;
                                                                                                            padding-bottom: 0;
                                                                                                            width: 135px;
                                                                                                            margin-bottom: -3px;
                                                                                                            a {
                                                                                                            width: 135px; }
                                                                                                            span {
                                                                                                                margin-top: 0;
                                                                                                                float: right;
                                                                                                                width: 135px;
                                                                                                                padding-bottom: 0;
                                                                                                            padding-top: 0; } }
                                                                                                            ul {
                                                                                                                position: absolute;
                                                                                                                display: none;
                                                                                                                width: 12em;
                                                                                                            /*top:1.5em;*/ }
                                                                                                            li {
                                                                                                                span {
                                                                                                                    &:link, &:active, &:visited {
                                                                                                                        display: block;
                                                                                                                        border: 1px solid #333;
                                                                                                                        color: #fff;
                                                                                                                        text-decoration: none; } }
                                                                                                                    ul li span {
                                                                                                                        width: 220px;
                                                                                                                        background-color: #177FAD;
                                                                                                                        padding: 10px;
                                                                                                                    color: #ffffff; }
                                                                                                                    span:hover {
                                                                                                                        font-weight: normal;
                                                                                                                        display: block;
                                                                                                                        background-color: #1FA1D1;
                                                                                                                        ul {
                                                                                                                            display: block; } }
                                                                                                                        li {
                                                                                                                            span:hover ul {
                                                                                                                                display: block; }
                                                                                                                            li {
                                                                                                                                span:hover ul, li span:hover ul {
                                                                                                                                    display: block; } } } } } } }
                                                                                                                                
                                                                                                                                .imagen-edit, .imagen-addimage, .imagen-see, .imagen-delete, .imagen-dolar, .imagen-new, .imagen-info, .imagen-send {
                                                                                                                                    height: 16px;
                                                                                                                                    width: 16px;
                                                                                                                                    display: block;
                                                                                                                                    float: left;
                                                                                                                                margin: 2px; }
                                                                                                                                
                                                                                                                                .imagen-edit {
                                                                                                                                    background: url(/images/acciones/16/edit.png) no-repeat 0% 0%;
                                                                                                                                    text-decoration: none; }
                                                                                                                                .imagen-order {
                                                                                                                                    background: url("/images/acciones/16/button_ok.png") no-repeat 0% 0%;
                                                                                                                                    text-decoration: none; }
                                                                                                                                
                                                                                                                                .imagen-addimage {
                                                                                                                                    background: url(/images/acciones/16/add.png) no-repeat 0% 0%;
                                                                                                                                    text-decoration: none; }
                                                                                                                                
                                                                                                                                .imagen-see {
                                                                                                                                    background: url(/images/acciones/16/see.png) no-repeat 0% 0%;
                                                                                                                                    text-decoration: none; }
                                                                                                                                .imagen-send {
                                                                                                                                    background: url(/images/acciones/16/forward.png) no-repeat 0% 0%;
                                                                                                                                    text-decoration: none; }
                                                                                                                                
                                                                                                                                .imagen-delete {
                                                                                                                                    background: url(/images/acciones/16/button_cancel.png) no-repeat 0% 0%;
                                                                                                                                    text-decoration: none; }
                                                                                                                                
                                                                                                                                .imagen-dolar {
                                                                                                                                    background: url(/images/acciones/16/dollar.png) no-repeat 0% 0%;
                                                                                                                                    text-decoration: none; }
                                                                                                                                
                                                                                                                                .imagen-new, .imagen-addpay {
                                                                                                                                    background: url(/images/acciones/16/button-new.png) no-repeat 0% 0%;
                                                                                                                                    text-decoration: none; }
                                                                                                                                
                                                                                                                                .imagen-info {
                                                                                                                                    background: url(/images/acciones/16/info_button_16.png) no-repeat 0% 0%;
                                                                                                                                    text-decoration: none; }
                                                                                                                                
                                                                                                                                #message {
                                                                                                                                    padding: 10px;
                                                                                                                                    margin-bottom: 5px;
                                                                                                                                    background-color: #FFF6BF;
                                                                                                                                    border-style: solid;
                                                                                                                                    border-color: #FFD324;
                                                                                                                                    border-width: 1px;
                                                                                                                                    text-transform: uppercase;
                                                                                                                                    font-weight: bold;
                                                                                                                                    font-size: 13px;
                                                                                                                                    color: #fcf9fc;
                                                                                                                                    span {
                                                                                                                                        display: block;
                                                                                                                                        width: 100%;
                                                                                                                                        color: #6390eb;
                                                                                                                                        font-weight: bold;
                                                                                                                                        text-align: center; } }
                                                                                                                                    
                                                                                                                                    span.btn-enlace {
                                                                                                                                        a {
                                                                                                                                        color: #fcfcfc; }
                                                                                                                                        color: #fcfcfc;
                                                                                                                                        border: 1px solid #4e89c2;
                                                                                                                                        text-align: center;
                                                                                                                                        -webkit-border-radius: 3px;
                                                                                                                                        -moz-border-radius: 3px;
                                                                                                                                        border-radius: 3px;
                                                                                                                                        -webkit-box-shadow: #666 0px 2px 3px;
                                                                                                                                        -moz-box-shadow: #666 0px 2px 3px;
                                                                                                                                        box-shadow: #666 0px 2px 3px;
                                                                                                                                        background: #63bde1;
                                                                                                                                        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#63bde1), to(#20a1d2));
                                                                                                                                        background: -webkit-linear-gradient(#63bde1, #20a1d2);
                                                                                                                                        background: -moz-linear-gradient(#63bde1, #20a1d2);
                                                                                                                                        background: -ms-linear-gradient(#63bde1, #20a1d2);
                                                                                                                                        background: -o-linear-gradient(#63bde1, #20a1d2);
                                                                                                                                        background: linear-gradient(#63bde1, #20a1d2);
                                                                                                                                        -pie-background: linear-gradient(#63bde1, #20a1d2);
                                                                                                                                        behavior: url(/js/piecss3/PIE.htc);
                                                                                                                                        padding: 5px;
                                                                                                                                    /*fin*/ }
                                                                                                                                    
                                                                                                                                    .clear {
                                                                                                                                        clear: both;
                                                                                                                                        display: none; }
                                                                                                                                    
                                                                                                                                    #leftcontainerBox ul {
                                                                                                                                        li {
                                                                                                                                            span {
                                                                                                                                                padding: 5px;
                                                                                                                                                font-weight: bold;
                                                                                                                                                font-size: 10px;
                                                                                                                                            color: #fcfcfc; }
                                                                                                                                            border: 1px solid #4e89c2;
                                                                                                                                            text-align: center;
                                                                                                                                            -webkit-border-radius: 3px;
                                                                                                                                            -moz-border-radius: 3px;
                                                                                                                                            border-radius: 3px;
                                                                                                                                            -webkit-box-shadow: #666 0px 2px 3px;
                                                                                                                                            -moz-box-shadow: #666 0px 2px 3px;
                                                                                                                                            box-shadow: #666 0px 2px 3px;
                                                                                                                                            background: #63bde1;
                                                                                                                                            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#63bde1), to(#20a1d2));
                                                                                                                                            background: -webkit-linear-gradient(#63bde1, #20a1d2);
                                                                                                                                            background: -moz-linear-gradient(#63bde1, #20a1d2);
                                                                                                                                            background: -ms-linear-gradient(#63bde1, #20a1d2);
                                                                                                                                            background: -o-linear-gradient(#63bde1, #20a1d2);
                                                                                                                                            background: linear-gradient(#63bde1, #20a1d2);
                                                                                                                                            -pie-background: linear-gradient(#63bde1, #20a1d2);
                                                                                                                                            behavior: url(/js/piecss3/PIE.htc);
                                                                                                                                            padding-bottom: 5px;
                                                                                                                                            padding-top: 5px;
                                                                                                                                        padding-right: 5px; }
                                                                                                                                    margin-left: 0; }
                                                                                                                                    
                                                                                                                                    .breadcrumb {
                                                                                                                                        padding: 7px 14px;
                                                                                                                                        margin: 0 0 10px;
                                                                                                                                        background-color: #f5f5f5;
                                                                                                                                        background-repeat: repeat-x;
                                                                                                                                        background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(#f5f5f5));
                                                                                                                                        background-image: -moz-linear-gradient(top, white, #f5f5f5);
                                                                                                                                        background-image: -ms-linear-gradient(top, white, #f5f5f5);
                                                                                                                                        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f5f5f5));
                                                                                                                                        background-image: -webkit-linear-gradient(top, white, #f5f5f5);
                                                                                                                                        background-image: -o-linear-gradient(top, white, #f5f5f5);
                                                                                                                                        background-image: linear-gradient(top, white, #f5f5f5);
                                                                                                                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
                                                                                                                                        border: 1px solid #ddd;
                                                                                                                                        -webkit-border-radius: 3px;
                                                                                                                                        -moz-border-radius: 3px;
                                                                                                                                        border-radius: 3px;
                                                                                                                                        -webkit-box-shadow: inset 0 1px 0 #ffffff;
                                                                                                                                        -moz-box-shadow: inset 0 1px 0 #ffffff;
                                                                                                                                        box-shadow: inset 0 1px 0 #ffffff;
                                                                                                                                        li {
                                                                                                                                            display: inline;
                                                                                                                                        text-shadow: 0 1px 0 #ffffff; }
                                                                                                                                        .divider {
                                                                                                                                            padding: 0 5px;
                                                                                                                                        color: #bfbfbf; }
                                                                                                                                        .active a {
                                                                                                                                        color: #404040; } }
                                                                                                                                        
                                                                                                                                        .divider {
                                                                                                                                            border-color: #444;
                                                                                                                                            height: 1px;
                                                                                                                                            margin: 5px 0;
                                                                                                                                            overflow: hidden;
                                                                                                                                            /*    background-color: whiteSmoke;
                                                                                                                                        border-bottom: 1px solid #ffffff;*/ }
                                                                                                                                        
                                                                                                                                        .buy-equipment, .disable-equipment {
                                                                                                                                        margin-bottom: 20px; }
                                                                                                                                        
                                                                                                                                        #div-acciones span {
                                                                                                                                        margin-right: 8px; }
                                                                                                                                        
                                                                                                                                        .tooltip {
                                                                                                                                            
                                                                                                                                            background-color:#000;
                                                                                                                                            border:1px solid #fff;
                                                                                                                                            padding:10px 15px;
                                                                                                                                            width:150px;
                                                                                                                                            display:none;
                                                                                                                                            color:#fff;
                                                                                                                                            text-align:left;
                                                                                                                                            font-size:12px;
                                                                                                                                            
                                                                                                                                            /* outline radius for mozilla/firefox only */
                                                                                                                                            -moz-box-shadow:0 0 10px #000;
                                                                                                                                            -webkit-box-shadow:0 0 10px #000;
                                                                                                                                            
                                                                                                                                        }
                                                                                                                                        
                                                                                                                                        #facebook {
                                                                                                                                            float: left;
                                                                                                                                            margin-right: 17px;
                                                                                                                                            margin-top: 2px;
                                                                                                                                            width: 75px;
                                                                                                                                        }
                                                                                                                                        
                                                                                                                                        #xing {
                                                                                                                                            float: left;
                                                                                                                                            margin-left: 40px;
                                                                                                                                            margin-right: 15px;
                                                                                                                                            margin-top: 4px;
                                                                                                                                        }
                                                                                                                                        
                                                                                                                                        #plus1 {
                                                                                                                                            float: right;
                                                                                                                                            margin-left: 5px;
                                                                                                                                            margin-top: 4px;
                                                                                                                                            width: 29px;
                                                                                                                                        }
                                                                                                                                        .forgot {
                                                                                                                                            margin-left: 270px;
                                                                                                                                            position: relative;
                                                                                                                                            top: -30px;
                                                                                                                                        }
                                                                                                                                        .cls-programa{
                                                                                                                                            font-weight:bold;
                                                                                                                                            color:"#4282BE"
                                                                                                                                        }
                                                                                                                                        .cls-programa a{
                                                                                                                                            color:"#4282BE"
                                                                                                                                            
                                                                                                                                        }
