#frmSearchGeneral {
    background-color: #167fae;
    margin: 0px !important;
    padding: 0px !important;

}
#frmSearchGeneral div label {
    color: #ffffff ;
}

#section-middle-search #frmSearchGeneral input {
width: 175px !important;
}