/* 
    Document   : form
    Created on : 29/09/2011, 12:36:32 PM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.zend_form dd,
.zend_form dt
{
    margin: 5px 10px;
}
.zend_form dt
{
    float: left;
    clear: both;
    width: 120px;
    margin-left: 0px;
}
.zend_form dd
{
    float: left;
}
.zend_form input[type='text']
{
    width: 175px;
}
.zend_form input[type="password"] 
{
    width: 175px !important;
}
.zend_form select
{
    width: 181px;
}
.zend_form label {
    
}
form .zend {
    margin: 10px;
    padding: 10px;
}

form .zend dt {
    padding: 8px;
    background-color: #f5f5fa;
    color: #2385db;
    font-size: 12px;
    font-weight: bold;
}

form .zend  dd {
    padding: 4px;
}

form .zend dd input {
    padding: 3px;
    margin: 0;
    width: 250px;
    font-size: 12px;
}

form .zend dd select {
    padding: 5px;
    font-size: 12px;
    width: 265px;
}
/*
form dd select option {
    padding: 10px;
}*/

.button {
    
    color: #fcfcfc;
    border: 1px solid #4e89c2;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;
    background: #63bde1;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#63bde1), to(#20A1D2));
    background: -webkit-linear-gradient(#63bde1, #20A1D2);
    background: -moz-linear-gradient(#63bde1, #20A1D2);
    background: -ms-linear-gradient(#63bde1, #20A1D2);
    background: -o-linear-gradient(#63bde1, #20A1D2);
    background: linear-gradient(#63bde1, #20A1D2);
    -pie-background: linear-gradient(#63bde1, #20A1D2);
    behavior: url(/js/piecss3/PIE.htc);
    padding:5px;
    cursor: pointer;

}


ul.errors li {
    font-size: 13px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    color: #f01818;
    font-weight: bold;
}

ul#mensajes li {
    font-size: 13px;
    padding: 10px;
    background-color: #FFF6BF;
    color: #1f1c1f;
    font-weight: bold;
    border-style: solid;
    border-color: #FFD324;
    border-width: 1px;
}

ul#mensajes li .error {
    background-color: #de3c4a;
    color: #f2edf2;
    border-color: #f50e1a;
}

/*zendy_form*/

.zendy_form div {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}



.zendy_form div input {
    padding: 5px;
    font-size: 13px;
}

label.required {
    font-weight: bold;
}

.zendy_form div .button {
    padding: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    background-color: #00A2D7;
    border-color: #00A2D7;
    border-width: 1px;
    border-style: solid;
}


.zendy_form div label {
    padding: 5px;
    color: #2D7AA2;
    font-size: 13px;
    width: 130px;
    text-align: right;
    float: left;
    margin-right: 10px;
    display: block;
}

.zendy_form div input {
    padding: 5px;
    font-size: 13px;
    width: 200px
        ;
}
.listado input[ type=text] {
    background-color: #ffffff;
    font-weight: bold;
    border-color: #f5f5f5;
    border-style: solid;
    border-width: 2px;
}

.listado thead {
    font-size: 1em;
    color: #357082;
    border-width: 1px;
    border-color: #CAD7E1;
    border-style: solid;
    background-color: #EBF1F5;
    font-weight: bold;
}

.listado {
    margin: 10px 0;
}

.listado thead tr th {
    border-style: solid;
    width: auto;
    padding: 11px;
    text-align: center;
}

.listado tbody tr td {
    font-size: 12px;
    padding: 12px;
    text-align: center;
}

.listado tbody tr:hover td {
    background-color: #f5f5f5;
}

.listado tbody tr.activo {
    background-color: #cedaf2;
}

.listado tbody tr {
    border-color: #CCC;
    border-style: solid;
    border-width: 1px;
}

.listado .pendiente {
    background-color: #e9ff8f;
}


/*css*/
.frmSearchGeneral {
    width: 100%;
    height: 100%;
}

.frmSearchGeneral tbody tr {
    padding: 10px;
}

.frmSearchGeneral tbody tr:hover {
    background-color: #d2e9fa;
}
.frmSearchGeneral tbody tr:odd {
    background-color: #faf5fa;
}

.frmSearchGeneral tbody td {
    padding: 5px;
}

.frmSearchGeneral input {
    padding: 3px;
}

.frmSearchGeneral label {
    font-weight: bold;
    color: #57b9e0;
}

.frmSearchGeneral select {
    padding: 2px;
}
 

/* commented backslash hack for mac-ie5 \*/
//.zend_form dt { clear: both; }
.zend_form dd { float: none; }
/* end hack */
//* html dd { float: none;}
 
.zend_form dd
{
margin-left: 16em;
padding: .5em; 
}
.select-extens
{
    width: 100% !important;
}


 
