.device-horizontal-list div:first-child {
    padding-right: 0;
    margin-right: 18px;
     }

.device-horizontal-list div.last-div {
    padding-right: 0;
    margin-right: 0;
    margin-left: 0px; }