#user-index-latest-equipment {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

#user-index-favorites {
    float: left;
    width: 48%;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

#user-index-latest-search {
    float: left;
    padding: 5px;
    margin-left: 4px;
    margin-right: 0;
    width: 48%;
}
.user-index-welcome {
    font-size: 13px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;

}

.device-horizontal-list	div	{
    margin: 5px 0 0 50px;

}

.cabecera-enlace {
    display: block;
    width: 100%;
    background-color: #57b9e0;
    padding: 5px;
    font-size: 14px;
    color: #fafafa;
    text-decoration: none;
}

.listado-vertical{
   width: 355px;
   margin-top: 10px;
   margin-bottom: 10px;
   border-bottom: 1px solid black;
   border-collapse: separate !important;

}

.listado-vertical tr th {
/*    border-style: solid;*/
    width: auto;
    padding: 1px;
    text-align: left;
    font-weight: bold;
}

.listado-vertical tbody tr td {
    font-size: 12px;
    padding: 1px;
    text-align: left;
}

.listado-vertical tbody tr:hover td {
    background-color: #f5f5f5;
}

.listado-vertical tbody tr {
    border-color: #CCC;
    border-style: solid;
    border-width: 1px;
}

#acciones-div {
    display: block;
    height: 20px;
}

#acciones-div span.imagen-new {
    margin: 5px;
}


